[+as.showForm:is=`1`:then=`
<form [+as.formId+] action="[+as.formAction+]" method="post">
    <fieldset>
		<input type="hidden" name="advSearch" value="[+as.advSearch+]" />
    <label for="ajaxSearch_input">
      <input id="ajaxSearch_input" class="cleardefault" type="text" name="search" value="[+as.inputValue+]"[+as.inputOptions+] />
    </label>
    <label for="ajaxSearch_submit">
      <input id="ajaxSearch_submit" type="submit" name="sub" value="[+as.submitText+]" />
    </label>
    </fieldset>
</form>
`+]
[+as.showIntro:is=`1`:then=`
<p class="ajaxSearch_intro" id="ajaxSearch_intro">[+as.introMessage+]</p>
`+]
[+as.showResults:is=`1`:then=`
[+as.results+]
`+]