.htmlarea { 
	width: 100%;
	border: 						1px solid rgb(120,172,255);
	background-color: 				#fff;

}

.htmlarea tr td {
  	padding: 0px;
}

.htmlarea .toolbar {
	cursor: default;
  	padding: 0px 0px 0px 0px;
	background-image: 				url("../../media/images/misc/toolbar.jpg");
	background-color: 				#fff;
	background-position: 			top;
	border-bottom: 1px solid rgb(120,172,255);
}
.htmlarea .toolbar table { font-family: tahoma,verdana,sans-serif; font-size: 11px; }
.htmlarea .toolbar img { border: none; }
.htmlarea .toolbar .label { padding: 0px 3px; }

.htmlarea .toolbar .button {
  color: ButtonText;
  padding: 2px;
  margin: 0px;
}
.htmlarea .toolbar .buttonHover {
  border: 1px solid #000080;
  padding: 1px;
  background-color: #FFD38E;
}
.htmlarea .toolbar .buttonActive, .htmlarea .toolbar .buttonPressed {
  border: 1px solid #000080;
  padding: 1px;
  background-color: #FE9552;
}

.htmlarea .toolbar .indicator {
  padding: 0px 3px;
  overflow: hidden;
  width: 20px;
  text-align: center;
  cursor: default;
  border: 1px solid ButtonShadow;
}

.htmlarea .toolbar .buttonDisabled {  }

.htmlarea .toolbar .buttonDisabled img {
  filter: alpha(opacity = 25);
  -moz-opacity: 25%;
}

.htmlarea .toolbar .separator {
  position: relative;
  margin: 3px;
  width: 4px;
  height: 16px;
  padding: 0px;
  	background-image: 				url("../../media/images/misc/buttonbarseperator.gif");
	background-position: 			top;
	background-repeat: 				repeat-x;
}

.htmlarea .toolbar .space { width: 5px; }

.htmlarea .toolbar select { font: 11px Tahoma,Verdana,sans-serif; }

.htmlarea .toolbar select,
.htmlarea .toolbar select:hover,
.htmlarea .toolbar select:active { background: FieldFace; color: ButtonText; }

.htmlarea .statusBar {
	height: 24px !important;
  	padding: 5px 4px;
	color: Black;
  	font: 11px Tahoma,Verdana,sans-serif;
	background-image: 				url("../../media/images/misc/buttonbar.gif");
	background-position: 			top;
	background-repeat: 				repeat-x;
	border-top: 1px solid rgb(120,172,255);
}

.htmlarea .statusBar .statusBarTree a, .htmlarea .statusBar .statusBarTree a:visited {
  padding: 2px 5px;
  color: Black;
}

.htmlarea .statusBar .statusBarTree a:hover {
    border: 1px solid #000080;
	padding: 1px 4px;
	background-color: #FFD38E;
	text-decoration: none;
}


/* Hidden DIV popup dialogs (PopupDiv) */

.dialog {
  color: ButtonText;
  background: #dedede;
}

.dialog .content { padding: 2px; }

.dialog, .dialog button, .dialog input, .dialog select, .dialog textarea, .dialog table {
  font: 11px Tahoma,Verdana,sans-serif;
}

.dialog table { border-collapse: collapse; }

.dialog .title {
	background-image: 				url("../../media/images/bg/body.jpg");
	background-color: 				#fff;
	background-position: 			top;
	background-repeat: 				repeat-x;
  color: #ff8;
  border-bottom: 1px solid #000;
  padding: 1px 0px 2px 5px;
  font-size: 12px;
  font-weight: bold;
  cursor: default;
}

.dialog .title .button {
  float: right;
  border: 1px solid #66a;
  padding: 0px 1px 0px 2px;
  margin-right: 1px;
  color: #fff;
  text-align: center;
}

.dialog .title .button-hilite { border-color: #88f; background: #44c; }

.dialog button {
  width: 5em;
  padding: 0px;
}

.dialog .buttonColor {
  padding: 1px;
  cursor: default;
  border: 1px solid;
  border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.dialog .buttonColor-hilite {
  border-color: #000;
}

.dialog .buttonColor .chooser, .dialog .buttonColor .nocolor {
  height: 0.6em;
  border: 1px solid;
  padding: 0px 1em;
  border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

.dialog .buttonColor .nocolor { padding: 0px; }
.dialog .buttonColor .nocolor-hilite { background-color: #fff; color: #f00; }

.dialog .label { text-align: right; width: 6em; }
.dialog .value input { width: 100%; }
.dialog .buttons { text-align: right; padding: 2px 4px 0px 4px; }

.dialog legend { font-weight: bold; }
.dialog fieldset table { margin: 2px 0px; }

.popupdiv {
  border: 2px solid;
  border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.popupwin {
  padding: 0px;
  margin: 0px;
}

.popupwin .title {
  background: #fff;
  color: #000;
  font-weight: bold;
  font-size: 120%;
  padding: 3px 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  letter-spacing: 2px;
}

form { margin: 0px; border: none; }
