/*
 *  Written by: Adam Crownoble
 *  Contact: adam@obledesign.com
 *  Created: 8/14/2005
 *  For: MODx cms (modxcms.com)
 *  Description: Styles for the QuickEditor in the QuickEdit module
 */

*{
font-family:arial, helvetica sans-serif;
}

body{
position:absolute;
height:100%;
width:100%;
margin:0;
padding:0;
overflow:hidden;
}

#tv_container{
position:relative;
margin:0;
padding:10px;
}

#toolbar{
height:25px;
background-image:url(../../../manager/media/style/MODx/images/body.jpg);
background-repeat:repeat-x;
background-position:top;
}

#toolbar h1{
float:right;
margin:5px 20px 0 0;
padding:0;
color:#003399;
font-size:10pt;
}

#toolbar a{
position:relative;
display:block;
float:left;
height:15px;
margin:0;
padding:5px 10px 5px 30px;
vertical-align:middle;
color:#000000;
font-size:14px;
text-decoration:none;
border-width:1px;
border-color:#006400;
}

#toolbar a:hover{
padding:4px 9px 4px 29px;
border-style:solid;
background-image:url(../../../manager/media/style/MODx/images/button_dn.gif);
background-repeat:repeat-x;
background-position:bottom;
}

#toolbar a img{
position:absolute;
top:50%;
margin-top:-8px;
margin-left:-20px;
border-style:none;
}
