/*
 *  Written by: Adam Crownoble
 *  Contact: adam@obledesign.com
 *  Created: 8/14/2005
 *  For: MODx cms (modxcms.com)
 *  Description: Styles for QuickEdit links
 */

a.QuickEditLink{
cursor:pointer;
}

a.QuickEditLink{
float:right;
clear:right;
display:block;
margin:0;
padding:1px 5px;
whitespace:nowrap;
color:#000000;
background-color:#fae096;
font-size:7pt;
font-weight:bold;
text-decoration:none;
border-style:solid;
border-width:1px;
border-color:#003399;
}

a.QuickEditLink:hover {
color:#003399;
border-style:none;
text-decoration:none;
cursor:pointer;
}

.QuickEditParent{
color:#000000;
border-width:1px;
border-color:#003388;
border-style:solid;
background-color:#fae096;
background-image:none;
}

@media print{

 a.QuickEditLink {
 display:none;
 }
 
}
