# assets
/assets/.thumbs/*
!/assets/.thumbs/index.html
!/assets/.thumbs/.htaccess

/assets/backup/*
!/assets/backup/index.html
!/assets/backup/.htaccess

/assets/cache/*
!/assets/cache/.htaccess
!/assets/cache/index.html
!/assets/cache/siteManager.php
!/assets/cache/sitePublishing.idx.php
!/assets/cache/images/index.html
!/assets/cache/rss/index.html
!/assets/cache/updater/index.html

/assets/docs/*
!/assets/docs/.htaccess
!/assets/docs/changelog.txt
!/assets/docs/index.html
!/assets/docs/license.txt

/assets/export/*
!/assets/export/index.html
!/assets/export/.htaccess

/assets/files/*
!/assets/files/index.html
!/assets/files/.htaccess

/assets/images/*
!/assets/images/index.html
!/assets/images/evo-logo.png
!/assets/images/.htaccess

/assets/import/*
!/assets/import/index.html
!/assets/import/.htaccess

/assets/site/*
!/assets/site/index.html
!/assets/site/.htaccess

# Core
/core/.install

# Manager
/manager/includes/config.inc.php
/manager/media/style/default/css/styles.min.css

# Composer
/composer.phar

!/vendor/.htaccess
!/vendor/index.html

# IDE Helper
modx_evolution.IDEhelper.php
_ide_helper.php
.phpstorm.meta.php

#node.JS
/node_modules
npm-debug.log


#docker
/docker/nginx/logs/*
# System
ftpsync.settings
Thumbs.db
Desktop.ini
.DS_Store
.idea
.vagrant
.rocketeer

# except do not ignore .gitignore
!.gitignore

# dev
.vscode/
