# ignore any files beginning with .
#\.*

# and any files in the cache directory
#/assets/cache/*

# and the config file
/manager/includes/config.inc.php

# Windows and Mac
Thumbs.db
Desktop.ini
.DS_Store

# except do not ignore .gitignore
!.gitignore
