<?php

/**
 * @see: http://cs.sensiolabs.org/
 */
$finder = PhpCsFixer\Finder::create()
    ->append(array(
        'index.php'
    ))->exclude(array(
        'manager/actions/help/',
        'manager/includes/lang/'
    ))->in(__DIR__ . '/manager/')
    ->notName('*.phtml');

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        '@Symfony:risky' => false,
        'concat_space' => array('spacing' => 'one'),
        'array_syntax' => array('syntax' => 'long'),
        'method_argument_space' => true,
        'no_unused_imports' => true,
        'protected_to_private' => false,
    ])
    ->setIndent("    ")
    ->setLineEnding("\r\n")
    ->setFinder($finder);
