# For unexpected logouts in multi-server/cloud environments see:
# http://rtfm.modx.com/evolution/1.0/administration/friendly-url-solutions 

RewriteEngine On
RewriteBase /manager/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]

<IfModule mod_security.c>
# Turn the filtering engine Off
SecFilterEngine Off
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive off
</IfModule>

<ifModule mod_gzip.c>
    mod_gzip_on No
</ifModule>
