/*
 *  Written by: Adam Crownoble
 *  Contact: adam@obledesign.com
 *  Created: 8/14/2005
 *  For: MODx cms (modxcms.com)
 *  Description: Styles for the QuickEditor in the QuickEdit module
 */

*{
font-family:arial, helvetica, sans-serif;
border-width:1px;
}

body{
position:absolute;
height:100%;
width:100%;
margin:0;
padding:0;
overflow:hidden;
font-size:10pt;
background-color:#fff;
}

#toolbar{
border-style:solid;
position:relative;
height:25px;
width:100%;
border-bottom-style:solid;
border-color:#aeaeae;
background-image:url(../images/menu_button_hover_bg.png);
background-repeat:repeat-x;
}

#toolbar button{
position:relative;
height:25px;
margin:0;
padding:0 5px 0 30px;
vertical-align:middle;
color:#000000;
text-decoration:none;
border-style:none solid;
border-left-color:#eee;
border-right-color:#888;
background-color:transparent;
background-position:5px 0;
cursor:pointer;
}

#apply{
background-image:url(../images/ok.gif);
background-repeat:no-repeat;
}

#revert{
background-image:url(../images/revert.gif);
background-repeat:no-repeat;
}

#close{
position:absolute !important;
right:0;
width:100px;
background-image:url(../images/close.gif);
background-repeat:no-repeat;
}

#info{
position:relative;
margin:0;
height:18px;
text-align:center;
background-color:#f0f0f0;
cursor:help;
}

#info h1{
margin:0;
padding:2px 0;
font-size:8pt;
font-weight:bold;
}

#description{position:absolute;
z-index:1000;
left:0;
margin:0;
padding:0;
width:100%;
font-size:8pt;
font-weight:normal;
background-color:#f0f0f0;
overflow:hidden;
}

#tv_container{
position:relative;
margin:0;
padding:10px;
}
