/*
 *  Written by: Adam Crownoble
 *  Contact: adam@obledesign.com
 *  Created: 8/14/2005
 *  For: MODx cms (modxcms.com)
 *  Description: Styles for QuickEdit links
 *  
 *  Modified by: Jaroslav Sidorkin and Ryan Thrash
 *  Modification date: 9/28/2006 and 1/26/2007 
 *  Modification purpose: fixes IE6 bug and fixes a problem that disabled it with Safari and mootools release
 */

#QE_Toolbar, #QE_Toolbar * {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    background: #fff;
    font: normal 10px/15px sans-serif;
    color: #000;
    text-decoration: none;
    z-index: 1000000;
}

#QE_Toolbar {
    display: none; /* javascript will show the toolbar after positioning */
    position: absolute;
    left: 2px;
    top: 2px;
    width: 220px;
    border: 1px solid #afafaf;
    height: 16px;
    background: transparent;
}
/* this kills Safari, btw
body > #QE_Toolbar {
    background: #fff url(../images/link_bg.png) repeat-x 0 0;
    position: fixed;
}*/

/* top title */
#QE_Toolbar h1 {
    float: left;
    font-weight: bold;
    text-align: left;
    cursor: move;
    width: 112px;
    z-index: 1000001;
    line-height: 16px;
    padding: 0 0 0 5px;
    background: #fff url(../images/link_bg.png) repeat-x 0 0;
}

/* top button-row */
#QE_Toolbar ul {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: 0;
}
    #QE_Toolbar li {
        float: left;
        line-height: 16px;
        padding: 0 3px;
        z-index: 1000003;
        text-transform: lowercase;
        border-left: 1px solid #aaa;
        background: #d5d5d5 url(../images/menu_button_bg.png);
    }
    #QE_Toolbar li:hover {
        background-color: #dfdfdf;
    }

/* drop-down lists */
#QE_Toolbar ul ul {
    position: absolute;
    z-index: 1000002;
    top: 16px;
    right: -1px;
    width: 220px;
    text-align: left;
    border: 1px solid #afafaf;
    border-width: 0 1px 1px;
    background: #fff url(../images/body_bg.png) repeat-x bottom left;
    overflow: hidden;
}
    #QE_Toolbar ul ul li {
        float: none;
        border: 0;
        display: block;
        background-image: none;
        background-color: transparent;
    }
        #QE_Toolbar ul ul a {
            z-index: 1000003;
            background: transparent;
            display: block;
            padding: 2px 0 2px 10px;
        }
        #QE_Toolbar a.checkbox {
            padding-left: 25px;
            background: url(../images/unchecked.gif) no-repeat 10px 0
        }
        #QE_Toolbar a.checked {
            background-image: url(../images/checked.gif);
        }


#QE_Toolbar img {
float: none;
vertical-align: top;
border-style: none;
background-color: transparent;
}

a.QE_Link {
position:relative;
display:none;
float: right;
clear: right;
padding: 0 5px;
white-space: nowrap;
color: #000;
font-size: 7pt;
font-weight: normal;
text-decoration: none;
line-height: 15px;
height: 15px;
border: 1px solid #afafaf;
background: #fff url(../images/link_bg.png) repeat-x top left;
cursor: pointer;
}

.QE_Parent {
background-image: url(../images/parent_bg.gif) !important;
background-repeat: repeat !important;
}

@media print {
    #QE_Toolbar, a.QE_Link { display: none; }
}
@media handheld {
    #QE_Toolbar, a.QE_Link { display: none; }
}
