body {-moz-osx-font-smoothing: grayscale;}
.dashboard {
  padding-top: 5px;
}
.dashboard * {
  font-size: 13px;
}
.dashboard h1 {
	font-size : 24px;
}
.dashboard li, div#idShowHideSocialBox.sectionBody > div.btn-group.ope > ul.dropdown-menu > li {
	list-style : none;
}
.dashrow {
	clear : both;
}
.dashboard_header {margin:0; padding-right:0;}
.dashboard_search {padding-right: -16px%;}

.overflowscroll {
	max-height : 270px;
	overflow-y : auto!important;
}
div.widget-stage.sectionBody {
	margin: 0;
}
div.widget-stage.sectionBody em {
	font-style : italic;
}
div.widget-stage.sectionBody strong {
	font-weight : bold;
}
.widget-stage .sectionBody ul li a {
	display : inline;
	font-size : 14px;
	font-weight : 700;
	padding-left : 0;
	text-decoration : none;
}
div.widget-stage.sectionBody li, div.widget-stage.sectionBody li, div.widget-stage.sectionBody ul li {
	border-bottom : 1px dotted #dcdcdc;
	display : block;
	list-style-type : none;
	padding : 5px 0 5px 5px;
}
div.widget-stage.sectionBody li span a {
	font-size : 13px;
	font-weight : bold;
    text-decoration: none;
}
.disabled {
	background:#c8c8c8;
	border-color: #c8c8c8;
}

 a.deleted {
	color:#ca2626;
    text-decoration: line-through;
}
 a.unpublished {
	color:#999999;
    font-style: italic;
}
[data-toggle="collapse"] {cursor: pointer;}
.hiddenRow {
    padding: 0 !important;
    border-top:0 !important;
}
.hiddenRow:hover {
    background:#FFF;
}
.resource-overview-accordian {padding-bottom:3px;border: 1px solid #ededed; }
.panel-custom > .panel-body {margin-bottom:0; padding-bottom:0;}
#modxrecent_widget > div > div > ul > li:before{
    content:'\f0c8';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size:10px;
    color: #dbdbdb;
    padding: 0 5px 0 5px;
}
#modxrecent_widget > div > div > ul > li:hover{
    background: #fbfbfb;
}

div.widget-stage.sectionBody ul li a {
	margin : 3px 8px 8px 0px;
	padding-left : 0px;
}
div.widget-stage.sectionBody ul li i {
	margin : 3px 3px 3px 0px;
	padding-left : 7px;
}
div.wm_button {
	border-radius : 3px;
	float : left;
	moz-border-radius : 3px;
	text-align : center;
	webkit-border-radius : 3px;
}
div.wm_buttons > a.hometblink{
	border-radius : 3px;
	display : inline-block;
	line-height : 64px;
	moz-border-radius : 3px;
	padding : 10px;
	position : relative;
	webkit-border-radius : 3px;

}
div.wm_buttons a {
	font-weight : bold;
	text-align : center;

}
div.wm_buttons > a > i {
	margin-bottom : 8px;
	text-align : center;
    color: #666;
}
div.wm_logo {
	float : left;
}
.dashSeparator {
	border-bottom : 2px solid #f1f1f1;
	clear : both;
	color : #d7d7d7;
	display : block;
	float : left;
	height : 24px;
	margin : 3px 0 8px 0;
	padding : -6px 25px;
	text-align : center;
	width : 100%;
}
.dashSeparator h3 {
	font-size : 18px;
	margin-bottom : 5px;
}

.dashboard_header {
  margin: 0;
}

.dashboard_search {
  margin-top: 25px;
}

.panel-heading {
	background-color : transparent;
}
.sectionHeader {
	cursor : move;
	margin : 0;
	min-height : 34px;
}
.widget-wrapper {
	background : #fff;
	border : 1px solid #e2e2e2;
	border-radius : 4px;
	box-shadow : 1px 1px 2px #ddd;
	moz-box-shadow : 1px 1px 2px #ddd;
	webkit-box-shadow : 1px 1px 2px #ddd;
}
.widget-wrapper .widget-title {
	border-bottom : 1px solid #d7d7d7;
	font-size : 14px;
	font-weight : 300;
    padding : 7px 5px 4px 10px;
}
.widget-wrapper .widget-stage {
	overflow : hidden;
	padding : 15px;
	position : relative;
}
.widget-wrapper .widget-notes {
	background : #fbfbfb;
	border-top : 1px solid #e2e2e2;
	color : #808080;
	font-size : 12px;
	padding : 8px 10px 5px;
}
i.icon-color-verylight {
	color : #dedede;
	float : left;
	margin-right : 5px;
}
.btn-group a:link {
	text-decoration : none;
	text-weight : normal;
}
.btn-group .panel-hide {
  margin-top : -7px;
  padding-top: 3px;
}

.btn-action {
    padding: 1px 1px !important;
    width:28px;
}
.btn-expand i{
    color : #afafaf;
}
.btn-expand:hover{
    color : #4d4d4d;
    background : #fbfbfb;
}

table > tbody > tr > td a.btn {
    color: #fff;}
.gridster ul, .gridster ol {
	list-style : none;
}
.gridster {
	display : none;
}
.gridster .panel-headingx {
	min-height : 32px;
	overflow : hidden;
}
.gridster .panel-body.widget-stage.sectionBody {
	height : inherit;
	overflow-x : hidden;
	overflow-y : auto;
}
.gridster .panel {
	height : 100%;
	padding-bottom : 60px;
}
.gridster .panel-headingx {
	cursor : move;
}
.gridster .preview-holder {
	background : rgba(33,255,181,0.08);
	border : 1px dashed #000;
	border-color : #000;
	opacity : 0.3;
	position : absolute;
}
