body {
	background: #fff url(../../images/bg/context.gif) repeat-y top left;
	margin:	0;
	padding: 2px;
	border: 1px solid #fdfdfd;
	border-right-color:	#dcdcdc;
	border-bottom-color: #dcdcdc;
	overflow: hidden;
	font: normal 11px/11px Verdana, Arial, sans-serif; }

.menuLink {
	cursor: pointer;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	color: #222;
	padding: 3px 16px 3px 2px; }

.menuLinkOver,
.menuLinkDisabled {
	cursor: pointer;
	background: #fff url(../../images/misc/buttonbar_gs.gif) repeat-x bottom left;
	padding: 2px 15px 2px 1px;
	border: 1px solid #fdfdfd;
	border-right-color:	#dcdcdc;
	border-bottom-color: #dcdcdc; }

.menuLinkDisabled {
	cursor:	default;
	color: #787878; }

.menuLink img, .menuLinkOver img, .menuLinkDisabled img {
	margin-right: 8px; }

.menuLink img, .menuLinkDisabled img {
	filter:	gray(); }

.menuLinkOver img { }

#nameHolder {
	text-align: right;
	cursor: default;
	font-weight: bold; 	
	padding: 2px;
	margin-bottom: 2px;
	border: 1px solid #fdfdfd;
	border-right-color:	#dcdcdc;
	border-bottom-color: #dcdcdc;	
	background: #fff url(../../images/misc/buttonbar.gif) repeat-x bottom left; }

.seperator {
	font-size: 0;
	height: 1px;
	background-color: #6A8CCB;
	overflow: hidden;
	margin: 3px 1px 3px 28px; }