body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0;
	padding: 0;
	background: #ecf2ff url(../../images/misc/buttonbar.gif) repeat-x top left;
} 
#divNav {   	
	margin: -6px 0 0;
	padding: 0;
	height: 80px;
	width: 100%;
}
#nav {    
	position: relative;
	height: 50px;
	width: 100%;
}
#nav li ul {
	margin: 0;
	padding: 0;
}
#nav a {
	text-decoration: none;
}
#nav li { /*float the main list items*/
	margin: 0;
	float: left;
	display: block;
}
#nav li ul {
	display: none;
	position: absolute;
	top: 12px;
	padding-top: 6px;
	height: 25px;
	width: 100%;
}

#nav li a {
	color: #224d6f;
	font-weight: bold;
	display: block;
	margin-right: 10px;
	padding: 0 5px 3px 5px;
	color: #003399;
}
#nav li ul a {
	border: 0;    
	float: left; /*ie doesn't inherit the float*/    
	color: #000;
	padding: 3px 5px;
	font-weight: normal;
	margin: 0 20px 0 -20px;
}
#nav li ul li a: hover { /*for ie - the specificity is necessary*/
	background: #b0ccf1 url(../../images/misc/buttonbar.gif) top left repeat-x;
}
#nav li: hover ul {
	display: block;
	z-index: 6000;
}