body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin:0;
    padding:0;
    background: #ecf2ff url(images/bg/buttonbar.gif) repeat-x top left;
} 
body * {
    margin: 0;
    padding: 0;
}

#divNav {
    height: 50px;
    width: 100%;
    background: transparent url(images/bg/buttonbar_gs.gif) repeat-x 0 25px;
}

ul#nav {
    height: 25px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: visible !important
}
#nav ul {
    display: none;
    height: 25px;
    position: relative;
    z-index: 500;
}

#nav li { 
    list-style-type: none;
    display: block;
    float: left;
    width: auto;
}

#nav a {
	color: #224d6f;
	font-weight: bold;
	text-decoration: none;
	height: 15px;
	display: block;
	float: left;
	width: auto;
	white-space: nowrap;
	cursor: default;
	padding: 5px 10px 4px;
}
#nav a:hover {
	border: 1px solid darkgreen !important;
	border-bottom-width: 0 !important;
	padding: 4px 9px 5px;
	background: transparent url(images/bg/button_dn.gif) repeat-x 0px 0px;
}
#nav a:active {
    padding: 5px 8px 4px 10px;
    color: #000;
}
#nav li.active a {
	background: transparent url(images/bg/buttonbar_gs.gif) repeat-x left top;
	font-weight: bold;
	text-decoration: none;
	height: 16px;
	display: block;
	float: left;
	position: relative;
	z-index: 999;
	padding: 4px 9px 5px;
	border-top: 1px solid darkblue;
	border-right: 1px solid darkblue;
	border-bottom: 0 solid darkblue;
	border-left: 1px solid darkblue;
}
#nav li.active a:hover {
    background: transparent url(images/bg/buttonbar_gs.gif) repeat-x top left !important;
    border-bottom-width: 0 !important;
}

#nav li.active ul.subnav {
    display: block;
    position: absolute;
    top: 25px;
    width: 100%;
    left: 0;
    border-top: 1px solid darkblue;
}

#nav li.active ul.subnav a {
	color: #000;
	font-weight: normal;
	border: none;
	height: 15px;
	background: transparent url(images/bg/buttonbar_gs.gif) repeat-x left -1px;
	padding: 4px 10px 5px;
}

#nav li.active ul.subnav a:hover {
	color: #000;
	background: transparent url(images/bg/button_dn.gif) repeat-x top left !important;
	font-weight: normal;
	border-top-width: 0 !important;
	border-bottom-width: 0 !important;
	height: 15px;
	padding: 4px 9px 5px;
}
