/* MODx Classic blue/orange Manager template */

body {
	margin:							0;
	padding:						0;
	background-image: 				url(images/bg/body.jpg);
	background-color: 				#fff;
	background-position: 			top;
	background-repeat: 				repeat-x;
}
body * {
    margin: 0;
    padding: 0;
}

.warning{
	color:							#821517;
	font-weight:					bold;
}

.success{
	color:							#009900;
	font-weight:					bold;
}


button {
	color:							#821517;
	font-weight:					bold;
	font-family:					Verdana, Arial, Helvetica, sans-serif;
	font-size:						11px;
	width:							112px;
	margin-right:					5px;
	cursor:							pointer;
}

body, td, p {
	color:							#003399;
	font-family:					Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:						9pt;
	font-weight:					normal;
}
	
a, a:active, a:visited, a:link {
	font-family:					Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:						9pt;
	color:							#821517;
	text-decoration:				None;
}

a:hover {
	text-decoration:				underline;
	color:							#003399;
}

input, .inputBox {
	font-family:					Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:						10px;
}

hr {
	color: #821517;
	background-color: #821517;
	height: 1px;
}

.split {
	background: #821517 url(images/bg/line.gif) repeat-x;
	height: 1px;
	font-size: 0;
	clear: both;
	margin-top: 5px;
	margin-bottom: 5px; 
	padding: 0;
}


.stay {
	border-bottom:					1px solid #D0E2F8;
	margin-left:					0px }
	

.messageRead {
	color:							Black;
}

.messageUnread {
	color: 							#4791C5;
	font-weight:					bold;
}

.subTitle {
	width:							100%;
	height:							44px !important;
	padding:						0px;
	margin-bottom:					10px;
	margin-right:					10px;
	background-image: 				url(images/bg/buttonbar.gif);
	background-position: 			top;
	background-repeat: 				repeat-x;		
}

.right {
	font-family:					Verdana, Helvetica, Sans-Serif;
	font-size:						11px;
	font-weight: 					bold;
	color: 							#003399;
	float: 							right;
	padding:						0px 10px 0px 0xp;
}

.fakefieldset {
	border:							1px solid rgb(120,172,255);
	background: 					white;
	font-size: 						12px;
	padding: 						10px;
	background-image: 				url(images/bg/section.jpg);
	background-position: 			top right;
	background-repeat: 				no-repeat;	
}

.fakefieldset strong, .fakefieldsettitle {
	color:							#990033;
	font-weight:					bold;
}

.sectionHeader, .showHideVisible {
	margin:							0px 10px 4px 10px;
	padding:						5px 3px 5px 3px;
	font-weight:					bold;
	background-position: 			top left;
	background-repeat: 				repeat-x;	
	background:						#F0A62F;
	border:							1px solid #003399;
	background-image: 				url(images/bg/buttonbar_gs.gif);
}

.sectionBody, .layerVisible {
	position:						relative;
	top:							-5px;
	display:						none;
	background:						white;
	border:							1px solid #003399;
	margin:							0px 10px 20px 10px;
	padding:						10px;
	background-image: 				url(images/bg/section.jpg);
	background-position: 			top right;
	background-repeat: 				no-repeat;		
	display:						block;
}

.showHideVisible, .layerVisible {
	margin:							0px 10px 4px 10px;
}

.comment {
	font-size:						9px;
	color:							#777;
}

thead, .fancyrow {
	height:							18px !important;
	background-color: 				#4791C5;
	background-position: 			top;
	background-repeat: 				repeat-x;
	border-bottom: 					1px solid rgb(120,172,255);
}

thead td {
	color:white;
	border-top:1px solid #58B1F5;
}

.fancyrow2 {
	height:							18px !important;
	background-image: 				url(images/bg/buttonbar.gif);
	background-color: 				#F0A62F;
	background-position: 			top;
	background-repeat: 				repeat-x;
	border-bottom: 					1px solid rgb(120,172,255);
	color:							white;
}

li {
	padding: 						0px;
	margin: 						0px 0px 0px 15px;
	list-style: 					disc outside url(images/misc/li.gif);
}

ul {
	margin: 						0px 0px 0px 20px;
}

.screen {
	border: 						1px solid #ddd;
	text-align: 					center;
}

a img {
	border: 						0px;
}

.sort-table {
	font:		Icon;
	border:		0px Solid ThreeDShadow;
	color:		WindowText;
}

.sort-table thead {
	height:				18px !important;
	background-image: 				url(images/bg/thead.gif);
	background-color: 				#4791C5;
	background-position: 			top;
	background-repeat: 				repeat-x;
	
}

.sort-table td {
	padding:	2px 5px;
	border:;
}

.sort-table thead td {
	cursor:			pointer;
	color:			#000000;
}

.sort-table thead td:active {
	border-color:	ButtonShadow ButtonHighlight 
					ButtonHighlight ButtonShadow;
	padding:		3px 4px 1px 6px;
}

.sort-arrow {
	width:					11px;
	height:					11px;
	background-position:	center center;
	background-repeat:		no-repeat;
	margin:					0 2px;
}

.sort-arrow.descending {
	background-image:		url(images/icons/downsimple.png);
	
}

.sort-arrow.ascending {
	background-image:		url(images/icons/upsimple.png);
}

.even {
	background:	#DAEAFD;
}

.odd {
	background: #FFFFFF;
}

/*	end sortable table */

.disabledImage {
	width: 20px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

.disabledImage img{
	filter:							gray();
}

.editorCell {
	border-top: 					1px solid #808080;
	text-align:						left;
	vertical-align:					baseline;
}

.row1	{ background-color: #EEF5FD; color: #000000;}
.row2	{ background-color: #E5F0FD; color: #000000;}
.row3	{ background-color: #C6E0FE; color: #000000;}


#treeHolder {
	padding: 5px 10px 0px 10px;
}

#floater {
	display:						none;
	position:						absolute;
	width:							200px; 
	height:							44px;
	top:							28px;
	left:							4px;
	margin:							0px; 
	padding:						0px;
	background-image: 				url(images/bg/section.jpg);
	background-color: 				#fff;
	background-position: 			top;
	background-repeat: 				repeat-x;
	border: 						1px solid #003399;
	border-left-color:				ButtonHighlight;
	border-right-color:				ButtonShadow;
	border-top-color:				ButtonHighlight;
	border-bottom-color:			ButtonShadow;
	z-index:						500;
}

.rootNode, .treeNode, .treeNodeHover, .treeNodeSelected, .emptyNode {
	font:							icon;
	font-size:						11px;
	color:							#333;
	padding:						2px 2px 2px 2px;
	margin:							0;
	cursor:							pointer;
	width: auto;
}

.treeNodeHover {
	background-color:				#CCC;
	border:							1px solid #777;
	padding:						1px 1px 1px 1px;
}

.treeNodeSelected {
	background-color:				#eee;
	border:							1px solid #777;
	padding:						1px 1px 1px 1px;
}

.deletedNode {
	text-decoration: 				line-through;
	color:							#333;
}

.unpublishedNode {
	color:							#880000;
}

.publishedNode {
	color:							#008800;
}

.emptyNode {
	color:							#888;
	cursor:							default;
}

.notInMenuNode {
	color:							#DD8800;
}


/* grid style */
.grid {
	width:							100%;
	background-color:				#FFFFFF;
	font-family:					verdana,arial; 
	font-size:						11px;
	border:							1px solid silver;}
	
.gridHeader {
	color:							white; 
	font-weight:					bold;
	background-image:				url('images/bg/grid_hdr.gif');
	background-color:				#4791C5;
	height:							25px;
	border:							1px solid #4791C5; }
	
.gridItem {
	background-color:				white;
	padding:						3px; }
	
.gridAltItem {
	background-color:				#eeeeee;
	padding:						3px; }

.gridRowIcon:hover {
		background-color:beige;}


	
/* search bar */
.searchbar {
	width:							100%;
	border:							1px solid silver;
	background-image:				url('images/bg/srch_bg.gif');
	background-color:				beige; }

.searchtext {
	height:							18px;
	padding:						2px;
	font-family:					Verdana, Arial, Helvetica, sans-serif;
	font-size:						11px;
	border:							1px solid silver; }

.searchbutton {
	width:							22px;
	height:							18px;
	padding:						2px;
	text-decoration:				none;
	border:							1px solid #e0e0e0; }
	
.searchbutton:hover {
	text-decoration:				none;
	background-image:				url('images/bg/button_dn.gif');}

.searchtoolbarbtn {
	height:							24px;
	padding-left:					2px;
	padding-top:					3px;
	padding-right:					2px;
	text-decoration:				none;
	font-family:					Verdana, Arial, Helvetica, sans-serif;
	font-size:						11px;
	background-image:				url('images/bg/srch_bg.gif');
	border:							1px solid #e0e0e0; }

.searchtoolbarbtn:hover {
	text-decoration:				none;
	background-image:				url('images/button_dn.gif');
	border:							1px solid green; }

/* home page main links */
A.hometblink, A.hometblink:ACTIVE, A.hometblink:VISITED, A.hometblink:LINK
.hometblink {
	text-decoration:				none;
	color:							#000080; }
	
A.hometblink:hover {
	text-decoration:				none;
	color:							#EE0000;}
	/* accesscontrol style*/ 
	.loginBg {
	background-image: 			url('images/bg/login_bg.jpg');
	background-position: 		top;
	background-color:			#5377A7;
	background-repeat: 			repeat-x;
}
.loginTbl {
	background-color:			white;
	border:						1px solid #5377A7; /*#003399; */
	background-image: 			url('images/bg/section.jpg');
	background-position: 		top right;
	background-repeat: 			no-repeat;
	padding: 					10px;
	text-align: 				justify;
	color:                  #5377A7;
}
.loginLicense {
	background-color:			White;
	border-right:				1px solid #5377A7;
	border-bottom:				1px solid #5377A7;
	border-left:				1px solid #5377A7;
	background-image: 			url('images/bg/login_footer_bg.gif');
	background-position: 		bottom;
	background-repeat: 			repeat-x;
	padding: 					10px;
	text-align: 				justify;
	color:                  #5377A7;
}
.loginLicense td{
	color:#5377A7;
}

.notice {
	width:100%;
	padding:5px;
	border:1px solid #eeeeee;
	background-color:#F4F4F4;
	font-size:10px;
	color:#707070;}

.siteName {
	font-weight:bold;
	font-family:verdana, arial;
	font-size:18px;
	color:#5377A7;
	}
	
	
/*end access control style*/

/*topbar.php styles*/
	
	#topbar {
	font-size: 10px
	color: White;
	margin : 0;
	background: #4791C5;
	
}
#topbar TD {
	padding-top: 4px;
	color: White;

}
/*contextmenu in editing modules*/
	.contextMenu {
	background: #fff url(media/images/bg/context.gif) repeat-y top left;
	margin:						0;
	padding:					0;
	border: 					1px solid #003399;
	border-left-color:			#eaeaea;
	border-top-color:			#eaeaea;
	border-right-color:			#909090;
	border-bottom-color:		#707070;
	position:					absolute;
	z-index:					10000; }

.cntxMnuItem {
	background-image:			url(media/images/_tx_.gif);
	cursor:						pointer;
	color:						#000;
	padding: 					3px 16px 3px 2px; }

.cntxMnuItemOver {
	cursor:						pointer;
	color: 						#000;
	background: #fc0 url(media/images/misc/buttonbar_gs.gif) repeat-x bottom left;
	padding: 					2px 15px 2px 1px;
	border: 					1px solid #fa0; /*#003399;*/
}

.cntxMnuItemDisabled {
	cursor:						default;
	font: 						menu;
	padding: 					3px 16px 3px 2px;
	color:						#111;
}
.cntxMnuItem IMG, .cntxMnuItemOver IMG, .cntxMnuItemDisabled IMG {
	margin-right:				8px;
}

.cntxMnuItem IMG, .cntxMnuItemDisabled IMG {
	filter:						gray();
}

.cntxMnuSeparator {
	font-size:      			0;
	height:         			1px;
	background-color: 			#6A8CCB;
	overflow:       			hidden;
	margin:						3px 1px 3px 28px; }
/*end context*/

/*The topbar of manager with the admin icon*/
	
#topbar {
	margin: 						0px 0px 0px 0px;
	background: #000000;
	color: White;
}

/* Top Navbar of snap in top menu bar layout*/
#Navcontainer {
	margin: 						0px 0px 0px 0px;
	width: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: White;
   margin: 						0px 0px 0px 0px;
	padding: 						0px 0px 0px 0px;
	background: #686868 url(images/bg/buttonbar.gif) repeat-x top left;*

} 

#divNav {
	 margin: 						0px 0px 0px 0px;
    height: 50px;
    width: 100%;
    background: transparent url(images/bg/buttonbar_gs.gif) repeat-x 0 25px;
}

ul#nav {
    height: 25px;
    width: 100%;
    margin: 						0px 0px 0px 0px;
    position: absolute;
    overflow: visible !important
}
#nav ul {
    display: none;
    height: 25px;
    position: relative;
    z-index: 500;
	 margin: 						0px 0px 0px 0px;
}

#nav li { 
    list-style-type: none;
    display: block;
    float: left;
    width: auto;
}

#nav a {
	color: #224d6f;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	height: 15px;
	display: block;
	float: left;
	width: auto;
	white-space: nowrap;
	cursor: default;
	padding: 5px 10px 4px;
}
#nav a:hover {
	border: 1px solid darkgreen !important;
	border-bottom-width: 0 !important;
	padding: 4px 9px 5px;
	background: transparent url(images/bg/button_dn.gif) repeat-x 0px 0px;
}
#nav a:active {
    padding: 5px 8px 4px 10px;
    color: #000;
}
#nav li.active a {
	background: transparent url(images/bg/buttonbar_gs.gif) repeat-x left top;
	font-weight: bold;
	text-decoration: none;
	height: 16px;
	display: block;
	float: left;
	position: relative;
	z-index: 999;
	padding: 4px 9px 5px;
	border-top: 1px solid darkblue;
	border-right: 1px solid darkblue;
	border-bottom: 0 solid darkblue;
	border-left: 1px solid darkblue;
}
#nav li.active a:hover {
    background: transparent url(images/bg/buttonbar_gs.gif) repeat-x top left !important;
    border-bottom-width: 0 !important;
}

#nav li.active ul.subnav {
    display: block;
    position: absolute;
    top: 25px;
    width: 100%;
    left: 0;
    border-top: 1px solid darkblue;
}

#nav li.active ul.subnav a {
	color: #000;
	font-weight: normal;
	border: none;
	height: 15px;
	background: transparent url(images/bg/buttonbar_gs.gif) repeat-x left -1px;
	padding: 4px 10px 5px;
}

#nav li.active ul.subnav a:hover {
	color: #000;
	background: transparent url(images/bg/button_dn.gif) repeat-x top left !important;
	font-weight: normal;
	border-top-width: 0 !important;
	border-bottom-width: 0 !important;
	height: 15px;
	padding: 4px 9px 5px;
}
/* end top menu navbar */


/* Contextual Menu used in the Tree Menu
---------------------------------------------------------- */
#mx_contextmenu {
	background: #fff url(images/bg/context.gif) repeat-y top left;
	margin:	0;
	padding: 2px;
	border: 1px solid #fdfdfd;
	border-right-color:	#dcdcdc;
	border-bottom-color: #dcdcdc;
	overflow: hidden;
	font: normal 11px/11px Verdana, Arial, sans-serif; }

#mx_contextmenu .menuLink {
	cursor: pointer;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	color: #222;
	padding: 3px 16px 3px 2px; }

#mx_contextmenu .menuLinkOver {
	background: #fff url(images/bg/buttonbar_gs.gif) repeat-x bottom left; 
	border: 1px solid #fdfdfd;
	border-right-color:	#dcdcdc;
	border-bottom-color: #dcdcdc; }

#mx_contextmenu .menuLinkOver,
#mx_contextmenu .menuLinkDisabled {
	cursor: pointer;
	padding: 2px 15px 2px 1px;}

#mx_contextmenu .menuLinkDisabled {
	cursor:	default;
	color: #787878; }

#mx_contextmenu .menuLink img, 
#mx_contextmenu .menuLinkOver img, 
#mx_contextmenu .menuLinkDisabled img {
	margin-right: 8px; }

#mx_contextmenu .menuLink img, 
#mx_contextmenu .menuLinkDisabled img {
	filter:	gray(); }

#mx_contextmenu .menuLinkOver img { }

#mx_contextmenu #nameHolder {
	text-align: right;
	cursor: default;
	font-weight: bold; 	
	padding: 2px;
	margin-bottom: 2px;
	border: 1px solid #fdfdfd;
	border-right-color:	#dcdcdc;
	border-bottom-color: #dcdcdc;	
	background: #fff url(images/bg/buttonbar.gif) repeat-x bottom left; }

#mx_contextmenu .seperator {
	font-size: 0;
	height: 1px;
	background-color: #6A8CCB;
	overflow: hidden;
	margin: 3px 1px 3px 28px; }
	


/* WebFX tabs... must remove these...
---------------------------------------------------------- */	
.dynamic-tab-pane-control.tab-pane {
	position:	relative;
	width:		100%;
}

.dynamic-tab-pane-control .tab-row .tab {
	font:							Tahoma;
	font-size:						11px;
	cursor:							pointer;
	display:						inline;
	margin:							1px -3px 1px 2px;
	float:							left;
	padding:						2px 15px 3px 15px;
	z-index:						1;
	position:						relative;
	top:							0;
	background-position: 			top left;
	background-repeat: 				repeat-x;	
	background:						white;
	border:							1px solid #003399;
	border-bottom:					0;
	background-image: 				url(images/bg/buttonbar2.gif);
}

.dynamic-tab-pane-control .tab-row .tab.hover {
	background-position: 			top left;
	background-repeat: 				repeat-x;	
	background:						white;
	border:							1px solid #003399;
	border-bottom:					0;
	background-image: 				url(images/bg/buttonbar_gs2.gif);
}

.dynamic-tab-pane-control .tab-row .tab.selected {
	border-bottom:	0;
	z-index:		3;
	padding:		2px 6px 5px 7px;
	margin:			1px -3px -2px 0px;
	top:			-2px;
	background:						white;
	border:							1px solid #003399;
	border-bottom:					0;
}

.dynamic-tab-pane-control .tab-row .tab span {
	font:							Tahoma;
	font-size:						11px;
	color:							#003399;
	font-weight:					normal;
	text-decoration:				none;
}

.dynamic-tab-pane-control .tab-page {
	clear:			both;
	background:		white;
	border:			1px solid #003399;
	z-index:		2;
	position:		relative;
	top:			-2px;
	font:			Message-Box;
	padding:		10px;
}

.dynamic-tab-pane-control .tab-row {
	z-index:		1;
	white-space:	nowrap;
}
.dynamic-tab-pane-control li {
	margin-left: 10px;
}

/* WebFX cool buttons... must also remove these...
---------------------------------------------------------- */
.coolButton,
.coolButtonHover,
.coolButtonActiveHover,
.coolButtonActive,
.coolButtonActiveDisabled,
.coolButtonDisabled,
.coolButtonUpDisabled {
	cursor: 			default;
	font: 				icon;
	color:				black;
	border:				0px;
	padding:			4px 5px 4px 5px;
	white-space:		nowrap;
	vertical-align:		middle;
	background-image:	url(images/bg/button_up.gif);
}

.coolButton img {
	filter:				gray();
}

.coolButtonHover {
	border:		1px solid darkgreen;
	padding:			3px 4px 3px 4px;		
	background-image:	url(images/bg/button_dn.gif);
}

.coolButtonActiveHover {
	border:		1px solid black;
	border-left-color:	ButtonShadow;
	border-right-color:	ButtonHighlight;
	border-top-color:	ButtonShadow;
	border-bottom-color:ButtonHighlight;
	padding:			4px 3px 2px 5px;		
	background-image:	url(images/bg/buttonbaractive.gif);
}

.coolButtonActive {
	border:		1px solid black;
	border-left-color:	ButtonShadow;
	border-right-color:	ButtonHighlight;
	border-top-color:	ButtonShadow;
	border-bottom-color:ButtonHighlight;
	padding:			4px 3px 2px 5px;		
	background-image:	url(images/bg/buttonbaractive.gif);
}

.coolButtonUpDisabled,
.coolButtonActiveDisabled,
.coolButtonDisabled {
	border:				1px solid #003399;
	padding:			3px 4px 3px 4px;
	color:				GrayText;
	border-width: 		0px;
}

.coolButtonActiveDisabled {
	border:				1px solid #003399;
	padding:			3px 4px 3px 4px;
}

.coolButtonUpDisabled {

}

/* My latest build of mozilla crashed with the opacity */
.coolButtonUpDisabled img,
.coolButtonActiveDisabled img,
.coolButtonDisabled img {
	-moz-opacity:		0.5;
}

/* IE specific
 * When the button becomes disbabled the innerHTML is enclosed by two spans
 * This is done so that the image will look disabled using filters
 */
.coolButtonUpDisabled .coolButtonDisabledContainer,
.coolButtonActiveDisabled .coolButtonDisabledContainer,
.coolButtonDisabled .coolButtonDisabledContainer {
	display:			block;
	background:			GrayText;
	filter:				chroma(color=#010101) dropshadow(color=ButtonHighlight, offx=1, offy=1);
	width:				100%;
	height:				100%;
}

.coolButtonUpDisabled .coolButtonDisabledContainer .coolButtonDisabledContainer,
.coolButtonActiveDisabled .coolButtonDisabledContainer .coolButtonDisabledContainer,
.coolButtonDisabled .coolButtonDisabledContainer .coolButtonDisabledContainer {
	background:		Transparent;
	filter:			gray()
					/* Remove all bright shades of gray */
					chroma(color=#ffffff) chroma(color=#fefefe) chroma(color=#fdfdfd)
					chroma(color=#fcfcfc) chroma(color=#fbfbfb) chroma(color=#fafafa)
					chroma(color=#f9f9f9) chroma(color=#f8f8f8) chroma(color=#f7f7f7)
					chroma(color=#f6f6f6) chroma(color=#f5f5f5) chroma(color=#f4f4f4)
					chroma(color=#f3f3f3) 
					mask(color=#010101);
}

/* end IE specific */
