BODY {
	margin:							0px 0px 0px 0px;
	padding:						0px 0px 0px 0px;
	background-image: 				url("images/body.jpg");
	background-color: 				#fff;
	background-position: 			top;
	background-repeat: 				repeat-x;
}

.warning{
	color:							#821517;
	font-weight:					bold;
}

.success{
	color:							#009900;
	font-weight:					bold;
}


BUTTON {
	color:							#821517;
	font-weight:					bold;
	font-family:					Verdana, Arial, Helvetica, sans-serif;
	font-size:						11px;
	width:							112px;
	margin-right:					5px;
	cursor:							pointer;
}

BODY, TD, P {
	color:							#003399;
	font-family:					Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:						9pt;
	font-weight:					normal;
}
	
A, A:ACTIVE, A:VISITED, A:LINK {
	font-family:					Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:						9pt;
	color:							#821517;
	text-decoration:				None;
}

A:HOVER {
	text-decoration:				underline;
	color:							#003399;
}

INPUT, .inputBox {
	font-family:					Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:						10px;
}

HR {
	color: #821517;
	background-color: #821517;
	height: 1px;
}

.split {
	background: #821517 url("images/misc/line.gif") repeat-x;
	height: 1px;
	font-size: 0;
	clear: both;
	margin: 0;
	padding: 0;
}


.stay {
	border-bottom:					1px solid #D0E2F8;
	margin-left:					0px }
	

.messageRead {
	color:							Black;
}

.messageUnread {
	color: 							#4791C5;
	font-weight:					bold;
}

.subTitle {
	width:							100%;
	height:							44px !important;
	padding:						0px;
	margin-bottom:					10px;
	margin-right:					10px;
	background-image: 				url("images/buttonbar.gif");
	background-position: 			top;
	background-repeat: 				repeat-x;		
}

.right {
	font-family:					Verdana, Helvetica, Sans-Serif;
	font-size:						11px;
	font-weight: 					bold;
	color: 							#003399;
	float: 							right;
	padding:						0px 10px 0px 0xp;
}

.fakefieldset {
	border:							1px solid rgb(120,172,255);
	background: 					white;
	font-size: 						12px;
	padding: 						10px;
	background-image: 				url("images/bg/section.jpg");
	background-position: 			top right;
	background-repeat: 				no-repeat;	
}

.fakefieldset strong, .fakefieldsettitle {
	color:							#990033;
	font-weight:					bold;
}

.sectionHeader, .showHideVisible {
	margin:							0px 10px 4px 10px;
	padding:						5px 3px 5px 3px;
	font-weight:					bold;
	background-position: 			top left;
	background-repeat: 				repeat-x;	
	background:						#F0A62F;
	border:							1px solid #003399;
	background-image: 				url("images/misc/buttonbar_gs.gif");
}

.sectionBody, .layerVisible {
	position:						relative;
	top:							-5px;
	display:						none;
	background:						white;
	border:							1px solid #003399;
	margin:							0px 10px 20px 10px;
	padding:						10px;
	background-image: 				url("images/bg/section.jpg");
	background-position: 			top right;
	background-repeat: 				no-repeat;		
	display:						block;
}

.showHideVisible, .layerVisible {
	margin:							0px 10px 4px 10px;
}

.comment {
	font-size:						9px;
	color:							#777;
}

thead, .fancyrow {
	height:							18px !important;
	background-color: 				#4791C5;
	background-position: 			top;
	background-repeat: 				repeat-x;
	border-bottom: 					1px solid rgb(120,172,255);
}

thead td {
	color:white;
	border-top:1px solid #58B1F5;
}

.fancyrow2 {
	height:							18px !important;
	background-image: 				url("images/buttonbar.gif");
	background-color: 				#F0A62F;
	background-position: 			top;
	background-repeat: 				repeat-x;
	border-bottom: 					1px solid rgb(120,172,255);
	color:							white;
}

li {
	padding: 						0px;
	margin: 						0px 0px 0px 15px;
	list-style: 					disc outside url("images/misc/li.gif");
}

ul {
	margin: 						0px 0px 0px 20px;
}

.screen {
	border: 						1px solid #ddd;
	text-align: 					center;
}

a img {
	border: 						0px;
}

.sort-table {
	font:		Icon;
	border:		0px Solid ThreeDShadow;
	color:		WindowText;
}

.sort-table thead {
	height:				18px !important;
	background-image: 				url("images/misc/thead.gif");
	background-color: 				#4791C5;
	background-position: 			top;
	background-repeat: 				repeat-x;
	
}

.sort-table td {
	padding:	2px 5px;
	border:;
}

.sort-table thead td {
	cursor:			pointer;
	color:			#000000;
}

.sort-table thead td:active {
	border-color:	ButtonShadow ButtonHighlight 
					ButtonHighlight ButtonShadow;
	padding:		3px 4px 1px 6px;
}

.sort-arrow {
	width:					11px;
	height:					11px;
	background-position:	center center;
	background-repeat:		no-repeat;
	margin:					0 2px;
}

.sort-arrow.descending {
	background-image:		url("images/icons/downsimple.png");
	
}

.sort-arrow.ascending {
	background-image:		url("images/icons/upsimple.png");
}

.even {
	background:	#DAEAFD;
}

.odd {
	background: #FFFFFF;
}

/*	end sortable table */

.disabledImage {
	width: 20px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

.disabledImage img{
	filter:							gray();
}

.editorCell {
	border-top: 					1px solid #808080;
	text-align:						left;
	vertical-align:					baseline;
}

.row1	{ background-color: #EEF5FD; color: #000000;}
.row2	{ background-color: #E5F0FD; color: #000000;}
.row3	{ background-color: #C6E0FE; color: #000000;}


#treeHolder {
	padding: 5px 10px 0px 10px;
}

#floater {
	display:						none;
	position:						absolute;
	width:							200px; 
	height:							44px;
	top:							28px;
	left:							4px;
	margin:							0px; 
	padding:						0px;
	background-image: 				url("images/bg/section.jpg");
	background-color: 				#fff;
	background-position: 			top;
	background-repeat: 				repeat-x;
	border: 						1px solid #003399;
	border-left-color:				ButtonHighlight;
	border-right-color:				ButtonShadow;
	border-top-color:				ButtonHighlight;
	border-bottom-color:			ButtonShadow;
	z-index:						500;
}

.rootNode, .treeNode, .treeNodeHover, .treeNodeSelected, .emptyNode {
	font:							icon;
	font-size:						11px;
	color:							#333;
	padding:						2px 2px 2px 2px;
	margin:							0px 0px 0px 0px;
	cursor:							pointer;
	width: auto;
}

.treeNodeHover {
	background-color:				#CCC;
	border:							1px solid #777;
	padding:						1px 1px 1px 1px;
}

.treeNodeSelected {
	background-color:				#eee;
	border:							1px solid #777;
	padding:						1px 1px 1px 1px;
}

.deletedNode {
	text-decoration: 				line-through;
	color:							#333;
}

.unpublishedNode {
	color:							#880000;
}

.publishedNode {
	color:							#008800;
}

.emptyNode {
	color:							#888;
	cursor:							default;
}

.notInMenuNode {
	color:							#DD8800;
}


/* grid style */
.grid {
	width:							100%;
	background-color:				#FFFFFF;
	font-family:					verdana,arial; 
	font-size:						11px;
	border:							1px solid silver;}
	
.gridHeader {
	color:							white; 
	font-weight:					bold;
	background-image:				url('images/grid_hdr.gif');
	background-color:				#4791C5;
	height:							25px;
	border:							1px solid #4791C5; }
	
.gridItem {
	background-color:				white;
	padding:						3px; }
	
.gridAltItem {
	background-color:				#eeeeee;
	padding:						3px; }

.gridRowIcon:hover {
		background-color:beige;}


	
/* search bar */
.searchbar {
	width:							100%;
	border:							1px solid silver;
	background-image:				url('images/srch_bg.gif');
	background-color:				beige; }

.searchtext {
	height:							18px;
	padding:						2px;
	font-family:					Verdana, Arial, Helvetica, sans-serif;
	font-size:						11px;
	border:							1px solid silver; }

.searchbutton {
	width:							22px;
	height:							18px;
	padding:						2px;
	text-decoration:				none;
	border:							1px solid #e0e0e0; }
	
.searchbutton:hover {
	text-decoration:				none;
	background-image:				url('images/button_dn.gif');}

.searchtoolbarbtn {
	height:							24px;
	padding-left:					2px;
	padding-top:					3px;
	padding-right:					2px;
	text-decoration:				none;
	font-family:					Verdana, Arial, Helvetica, sans-serif;
	font-size:						11px;
	background-image:				url('images/srch_bg.gif');
	border:							1px solid #e0e0e0; }

.searchtoolbarbtn:hover {
	text-decoration:				none;
	background-image:				url('images/button_dn.gif');
	border:							1px solid green; }

/* home page main links */
A.hometblink, A.hometblink:ACTIVE, A.hometblink:VISITED, A.hometblink:LINK
.hometblink {
	text-decoration:				none;
	color:							#000080; }
	
A.hometblink:hover {
	text-decoration:				none;
	color:							#EE0000;}
	/* accesscontrol style*/ 
	.loginBg {
	background-image: 			url('images/login_bg.jpg');
	background-position: 		top;
	background-color:			#5377A7;
	background-repeat: 			repeat-x;
}
.loginTbl {
	background-color:			white;
	border:						1px solid #5377A7; /*#003399; */
	background-image: 			url('images/section.jpg');
	background-position: 		top right;
	background-repeat: 			no-repeat;
	padding: 					10px;
	text-align: 				justify;
	color:                  #5377A7;
}
.loginLicense {
	background-color:			White;
	border-right:				1px solid #5377A7;
	border-bottom:				1px solid #5377A7;
	border-left:				1px solid #5377A7;
	background-image: 			url('images/login_footer_bg.gif');
	background-position: 		bottom;
	background-repeat: 			repeat-x;
	padding: 					10px;
	text-align: 				justify;
	color:                  #5377A7;
}
.loginLicense td{
	color:#5377A7;
}

.notice {
	width:100%;
	padding:5px;
	border:1px solid #eeeeee;
	background-color:#F4F4F4;
	font-size:10px;
	color:#707070;}

.siteName {
	font-weight:bold;
	font-family:verdana, arial;
	font-size:18px;
	color:#5377A7;
	}
	
	
/*end access control style*/

/*topbar.php styles*/
	
	#topbar {
	font-size: 10px
	color: White;
	margin : 0px 0px 0px 0px;
	background: #4791C5;
	
}
#topbar TD {
	padding-top: 4px;
	color: White;

}