/* -------------------------[ Action Buttons ]--- */
#actions { background: rgba(199, 199, 199, 0.25); padding: 0.5rem; position: fixed; top: 0; right: 1rem; text-align: right; z-index: 100; border-radius: 0 0 0.3rem 0.3rem; }
#actions .btn-group > .btn-group { display: block }
#actions .btn-group .btn { font-size: 0.675rem; height: 2.5em }
#actions .btn-group .btn .fa { display: none; width: 1em; font-size: 1em; text-align: center }
#actions .btn-group .btn-group #Button1 { min-width: 100%; text-align: left; }
#actions .btn-group .btn-group .btn-success { box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .07); }
#actions .btn-group .btn-group .btn-success:hover { box-shadow: none }
#actions .btn-group .plus { z-index: 2; float: right; margin: -2.5em 0 0 0; width: 2rem; padding-left: 0; padding-right: 0; text-align: center }
#actions .btn-group select#stay { display: block; position: relative; z-index: -1; clear: both; width: auto; height: 0; margin: -100% 0 -2rem 0; font-size: 0.675rem; opacity: 0; visibility: hidden; }
#actions .btn-group .dropdown-menu { display: none; position: absolute; z-index: -1; left: auto; right: 0; top: 100%; width: 100%; min-width: 2rem; margin: -2px 0 0; padding: 2px 0 0; text-align: left; font-size: 0.675rem; border-top: none; border-radius: 0 0 0.1em 0.1em; overflow: hidden; }
#actions .btn-group .show > .dropdown-menu { display: block }
#actions .btn-group .dropdown-menu > span { display: block; margin: 0; text-align: left }
#actions .btn-group .dropdown-menu > span:hover { background-color: #e6e6e6; }
#actions .btn-group .dropdown-toggle::after { margin: 0; border-width: 0.4em; transition-duration: 0.25s }
#actions .btn-group .show .dropdown-toggle::after { transform: rotate(180deg) }
@media (max-width: 840px) {
#actions { right: 0 }
#actions .btn-group .btn span, #actions .btn-group select#stay { display: none }
#actions .btn-group .btn .fa { display: inline-block }
#actions .btn-group .dropdown-menu { width: 2rem }
#actions .btn-group .dropdown-menu span { padding-left: 0; padding-right: 0; text-align: center }
}
/* old style */
#actions .actionButtons { float: left; min-height: 32px }
#actions .actionButtons li { position: relative; float: left; margin-right: 3px; border: none }
#actions .actionButtons li a, #actions .actionButtons .plus { float: left; padding: 0 10px !important; height: 32px; line-height: 30px; -webkit-user-select: none; user-select: none; }
#actions .actionButtons li:last-child { margin: 0 }
#actions .actionButtons #Button1 a { width: 100%; text-align: left; }
#actions .actionButtons .plus { overflow: hidden; float: right; margin: -32px 0 0 0; width: 35px; border-radius: 0 3px 3px 0 !important; text-align: center; cursor: default; font: normal normal normal 0/30px FontAwesome }
#actions .actionButtons .plus::before { content: "\f107"; font-size: 14px }
#actions .actionButtons .show .plus::before { content: "\f106"; }
#actions .actionButtons .dropdown-menu { display: none; position: absolute; z-index: -1; left: auto; right: 0; top: 100%; width: 100%; min-width: 35px; margin: -2px 0 0; padding: 2px 0 0; text-align: left; font-size: 1em; background-color: #fff; border: 1px solid #32ab9a; border-top: none; border-radius: 0 0 3px 3px; overflow: hidden; }
#actions .actionButtons .show > .dropdown-menu { display: block }
#actions .actionButtons .dropdown-menu > span { display: block; padding: 0 10px; height: 32px; line-height: 30px; border: none; border-top: 1px solid #f2f2f2; cursor: pointer; }
#actions .actionButtons .dropdown-menu > span:hover { background-color: #fbfbfb; }
#actions .actionButtons select#stay { display: block; position: relative; z-index: -1; clear: both; width: auto; height: 0; padding: 0 10px; margin: -100% 0 -32px 0; font-size: 1em; opacity: 0; visibility: hidden; }
#actions .actionButtons #Button1 a, #actions .actionButtons .plus { color: #fff; border-color: #32AB9A; background: #32AB9A linear-gradient(#32AB9A, #00948E); }
#actions .actionButtons #Button1 a:hover, #actions .actionButtons .plus:hover { background: #2b9385 linear-gradient(#2b9385, #007571); border-color: #2b9385; }
#actions .actionButtons #Button1 a:active, #actions .actionButtons .plus:active { background: #32AB9A; border-color: #32AB9A; }
@media (max-width: 900px) {
#actions .actionButtons li a, #actions .actionButtons .dropdown-menu span { font-size: 0 }
#actions .actionButtons li a .fa, #actions .actionButtons .dropdown-menu span .fa { display: inline-block; font-size: 14px; line-height: 30px }
#actions .actionButtons .dropdown-menu { width: 35px }
#actions .actionButtons #Button1 a { margin: 0; width: auto }
#actions .actionButtons .plus { margin: 0 0 0 -2px }
#actions .actionButtons select#stay { display: none }
}
