html { font-size: 16px }
@media (max-width: 900px) {
html { font-size: 16px; }
}
@media (max-width: 400px) {
html { font-size: 16px; }
}
body { font-weight: normal; font-style: normal; font-size: 0.8rem; line-height: 1.5; font-family: sans-serif; -webkit-font-smoothing: subpixel-antialiased }
/* For Arabic Font */
html[lang="ar"] body, html[lang="ary"] body, html[lang="azb"] body, html[lang="fa-IR"] body, html[lang="haz"] body, html[lang="ps"] body, html[lang="ur"] body { font-family: Tahoma, Arial, sans-serif; }
/* For Chinese Font */
html[lang="zh"] body { font-family: "PingFang SC", "Microsoft JhengHei", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans SC", Helvetica, sans-serif; }
/* For Devanagari Font */
html[lang="bn-BD"] body, html[lang="hi-IN"] body, html[lang="mr-IN"] body { font-family: Arial, sans-serif; }
/* For Greek Font */
html[lang="el"] body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
/* For Gujarati Font */
html[lang="gu-IN"] body { font-family: Arial, sans-serif; }
/* For Hebrew Font */
html[lang="he"] body { font-family: "Arial Hebrew", Arial, sans-serif; }
/* For Japanese Font */
html[lang="ja"] body { font-family: Meiryo, "Hiragino Kaku Gothic Pro", sans-serif; }
/* For Korean font */
html[lang="ko-KR"] body { font-family: "Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", Dotum, sans-serif; }
/* For Thai Font */
html[lang="th"] body { font-family: "Sukhumvit Set", "Helvetica Neue", Helvetica, Arial, sans-serif; }
/* For Arabic Font */
html[lang="fa"] body { font-family: Tahoma, Arial, sans-serif; }
body { background-color: #fafafa; color: #444; }
body.drag *, body.drag::after { cursor: grabbing !important; cursor: -moz-grabbing !important; cursor: -webkit-grabbing !important; cursor: -moz-grab !important; -moz-user-select: none !important; -webkit-user-select: none !important; user-select: none !important }
body.drag::after { bottom: 0; content: ""; left: 0; position: fixed; right: 0; top: 0; z-index: 999 }
body, ul, li { padding: 0; margin: 0; }
li { list-style: none }
img { max-width: 100% }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { margin-bottom: .5rem; font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit }
.h1, h1 { font-size: 1.75rem }
.h2, h2 { font-size: 1.5rem }
.h3, h3 { font-size: 1.25rem }
.h4, h4 { font-size: 1rem }
.h5, h5 { font-size: 0.8rem }
.h6, h6 { font-size: 0.7rem }
a { color: #0275d8; text-decoration: none }
a:focus, a:hover { color: #014c8c; text-decoration: underline }
a:not([href]):not([tabindex]) { color: inherit; text-decoration: none }
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover { color: inherit; text-decoration: none }
a:not([href]):not([tabindex]):focus { outline: 0 }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box }
*::-ms-clear { display: none; }
.text-justify { text-align: justify !important }
.text-nowrap { white-space: nowrap !important }
.text-truncate { overflow: hidden; text-overflow: ellipsis; white-space: nowrap }
.text-left { text-align: left !important }
.text-right { text-align: right !important }
.text-center { text-align: center !important }
.text-lowercase { text-transform: lowercase !important }
.text-uppercase { text-transform: uppercase !important }
.text-capitalize { text-transform: capitalize !important }
.font-weight-normal { font-weight: 400 }
.font-weight-bold { font-weight: 700 }
.font-italic { font-style: italic }
.text-white { color: #fff !important }
.text-muted { color: #636c72 !important }
a.text-muted:focus, a.text-muted:hover { color: #4b5257 !important }
.text-primary { color: #0275d8 !important }
a.text-primary:focus, a.text-primary:hover { color: #025aa5 !important }
.text-success { color: #5cb85c !important }
a.text-success:focus, a.text-success:hover { color: #449d44 !important }
.text-info { color: #5bc0de !important }
a.text-info:focus, a.text-info:hover { color: #31b0d5 !important }
.text-warning { color: #f0ad4e !important }
a.text-warning:focus, a.text-warning:hover { color: #ec971f !important }
.text-danger { color: #d9534f !important }
a.text-danger:focus, a.text-danger:hover { color: #c9302c !important }
.text-gray-dark { color: #292b2c !important }
a.text-gray-dark:focus, a.text-gray-dark:hover { color: #101112 !important }
.text-hide { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0 }
.hide { display: none !important }
.show { display: block !important }
.visible { visibility: visible !important; }
.invisible { visibility: hidden !important; }
.clear { clear: both; }
/* custom */
.rotate180 { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
