/* #mainMenu */
#mainMenu { background-color: #1d2023; color: #8b9298; -webkit-box-shadow: 0 0.15rem 0.15rem rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 0.15rem 0.15rem rgba(0, 0, 0, 0.25); box-shadow: 0 0.15rem 0.15rem rgba(0, 0, 0, 0.25); }
#mainMenu.show { overflow: visible }
#mainMenu.show + #tree::before, #mainMenu.show + #tree + #main::before { content: ""; position: absolute; z-index: 9999; left: 0; top: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, .1); }
#mainMenu .container { display: table; width: 100%; border-collapse: collapse }
#mainMenu .container .row { display: table-row }
#mainMenu .container .cell { display: table-cell; vertical-align: top; }
#mainMenu #nav { float: left; }
#mainMenu #settings { float: right; }
#mainMenu .nav { white-space: nowrap; font-size: 0 }
#mainMenu .nav > li { position: relative; display: inline-block; font-size: 0.8rem; vertical-align: top }
#mainMenu .nav > li.active > a { color: #fff; background-color: rgba(255, 255, 255, 0.07) }
#mainMenu .nav > li > a, #mainMenu .nav .label_searchid { display: block; padding: 0 1rem; height: 2.2rem; line-height: 2.4rem; text-decoration: none; color: #bbb; transition-duration: 0.15s }
#mainMenu .nav > li > a:hover, #mainMenu .nav .label_searchid:hover { color: #f3f3f3; }
#mainMenu.show .nav > li.dropdown:hover > a, #mainMenu.show .nav > li.dropdown.hover > a { background-color: #fff; color: #444; }
#mainMenu .nav > li > a .icon { display: inline-block; overflow: hidden; width: 2rem; height: 2rem; line-height: 2rem; font-size: 1.5em; text-align: center; margin: 0.05rem 0 0 0.5rem; vertical-align: top; border-radius: 50%; background: no-repeat 50% 50%; background-size: cover; }
#mainMenu .nav > li > a .icon .fa { font-size: 1.2rem; line-height: 2.1rem }
#mainMenu .nav > li .fa { line-height: 2.2rem; font-size: 1rem; vertical-align: top }
#mainMenu #nav > li > a > .fa { margin-right: 0.25rem; }
#mainMenu #nav #bars .fa { display: inline-block; width: 1.5rem; margin: 0; text-align: center; overflow: hidden; -webkit-transition-duration: 0.15s; transition-duration: 0.15s }
.sidebar-closed #mainMenu #nav #bars .fa { width: 0.25rem; margin: 0 0.625rem; }
#mainMenu .nav .caret, #mainMenu .nav .divider { display: none }
#mainMenu .nav > li > ul { display: block; position: absolute; overflow: auto; top: 100%; left: 0; margin: 0; padding: 0 0 0.25rem; min-width: 15rem; max-height: -webkit-calc(100vh - 2.2rem); max-height: calc(100vh - 2.2rem); border: none; border-radius: 0 0 0.25rem 0.25rem; background-color: #fff; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); opacity: 0; visibility: hidden; -webkit-transition-duration: 0.15s; transition-duration: 0.15s; }
#mainMenu.show .nav > li:hover > a + ul, #mainMenu.show .nav > li.hover > a + ul, #mainMenu.show .nav > li.hover > ul.sub-menu.show { opacity: 1; visibility: visible }
#mainMenu.show .nav > li > ul.sub-menu { left: 15rem; opacity: 0; visibility: hidden; }
#mainMenu.show .nav > li:hover > ul.sub-menu { }
#mainMenu.show .nav > li:hover > ul.sub-menu.show { }
#mainMenu #settings.nav > li > ul { left: auto; right: 0 }
#mainMenu .nav > li > ul > li > a, #mainMenu .nav > li > ul > li > span { display: block; position: relative; padding: 0 2em 0 1em; line-height: 2.7em; border-top: 1px solid rgba(0, 0, 0, 0.05); color: #444; text-decoration: none }
#mainMenu .nav > li > ul > li.hover > a { color: #fff; background-color: #1976D2; }
#mainMenu .nav > li > ul > li:first-child > a { border: none }
#mainMenu .nav > li > ul > li > span { padding: 0 1em; text-align: center; font-size: 0.875em; color: #aaa; }
#mainMenu .nav > li > ul > li > a > .fa { margin-right: 0.25em; font-size: 1em; line-height: 1em; vertical-align: baseline }
#mainMenu .nav > li > ul > li.selected a::before { content: ''; position: absolute; right: 0.25em; top: 0.25em; width: 0.5em; height: 0.5em; background-color: #FFC107; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }
#mainMenu .nav > li > ul > li.toggle-dropdown > a::after { content: "\f105"; position: absolute; top: 0.6em; right: 0.6em; font: normal normal normal 1.2em/1 FontAwesome; }
#mainMenu .nav > li > ul > li.disabled > a { opacity: 0.5; }
#mainMenu .nav > li > ul > li.locked > a { font-style: italic }
#mainMenu .nav > li > ul > li > a small { line-height: 1em }
#mainMenu .account #msgCounter { display: none; position: absolute; z-index: 1; right: 0.4rem; top: 0.4rem; width: 0.4rem; height: 0.4rem; background-color: #FFC107; font-size: 0; border-radius: 50%;; }
#mainMenu .account #newMail { display: none }
/* statusbar */
#statusbar { position: relative; width: 1rem; height: 2.2rem; line-height: 2.4rem; font-size: 0.875em; white-space: nowrap; float: left; }
#statusbar .fa { font-size: 0.875rem }
#statusbar #buildText, #statusbar #workText { display: none }
#statusbar .fa { margin-right: 0.375rem }
#statusbar .fa-warning { color: #F44336 }
/* search */
#mainMenu #searchform { position: relative }
#mainMenu #searchform label { position: relative; z-index: 1; margin: 0; cursor: pointer; }
#mainMenu #searchform input { position: absolute; z-index: 0; top: 0; right: 0; height: 1.5rem; width: 0; padding: 0 0.5rem; margin: 0.345rem; border: 1px solid rgba(255, 255, 255, 0.1); border-radius: 0; background: rgba(0, 0, 0, 0.1); color: #fff; text-align: left; opacity: 0; outline: none; -webkit-transition-duration: 0.2s; transition-duration: 0.2s; }
#mainMenu #searchform input:focus { z-index: 9; width: 15rem; background: #000; text-align: left; border-color: rgba(255, 255, 255, 0.75); opacity: 1 }
#mainMenu #searchform input:focus + .mask { opacity: 0.7; visibility: visible; }
#mainMenu #searchform .mask { content: ""; position: absolute; z-index: 5; top: 0; right: -999rem; right: -100vw; left: -999rem; left: -100vw; height: 2.2rem; opacity: 0; visibility: hidden; background-color: rgba(0, 0, 0, 0.65); -webkit-transition-duration: 0.3s; transition-duration: 0.3s; transform: translateZ(0) }
#mainMenu #searchform .fa-search { position: relative; z-index: 1 }
#mainMenu #searchform .fa-refresh { position: absolute; z-index: 9; display: none; top: 0.6rem; right: 0.8rem; line-height: 1em }
/* #searchresult */
#searchresult { position: absolute; z-index: 99; overflow: auto; top: 2.2rem; right: -30rem; bottom: 0; width: 30rem; max-width: 100%; background-color: #fff; border-left: 1px solid rgba(0, 0, 0, 0.1); opacity: 0; visibility: hidden; -webkit-transition: 0.25s ease 0.5s; transition: 0.25s ease 0.5s; -webkit-transition-delay: 0.3s; transition-delay: 0.3s; }
#searchresult.open { right: 0; box-shadow: 0 0 4.5rem rgba(0, 0, 0, 0.15); opacity: 1; visibility: visible; -webkit-transition: 0.5s ease 0.5s; transition: 0.5s ease 0.5s; -webkit-transition-delay: 0s; transition-delay: 0s }
#searchresult .ajaxSearchResults ul, #searchresult .ajaxSearchResults li { margin: 0; padding: 0; list-style: none }
#searchresult .ajaxSearchResults b, #searchresult .ajaxSearchResults strong, #searchresult .ajaxSearchResults a { position: relative; z-index: 0; display: block; color: #333; padding: 0.25rem 1rem; margin-top: -1px; border-top: 1px solid rgba(0, 0, 0, 0.03); border-bottom: 1px solid rgba(0, 0, 0, 0.03); box-sizing: border-box }
#searchresult .ajaxSearchResults b { z-index: 1; background-color: #ddd }
#searchresult .ajaxSearchResults a { color: #1377c5; padding: 0.25rem 2rem 0.25rem 1rem; text-decoration: none; }
#searchresult .ajaxSearchResults a:hover { color: #333; background-color: #f2f2f2; }
#searchresult .ajaxSearchResults a > i { position: absolute; right: 0; top: 50%; width: 2rem; height: 2rem; margin-top: -1rem; line-height: 2rem; text-align: center; }
#searchresult .ajaxSearchResults a.selected { z-index: 1; background-color: #1976D2; color: #fff; font-weight: 700; }
#searchresult .ajaxSearchResults a .text-danger { color: #333; font-weight: 700 }
#searchresult .ajaxSearchResults a.selected .text-danger { color: #FFC107; text-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }
@media (min-width: 1020px) {
#mainMenu #nav > li > a > .fa { font-size: 1.2rem }
}
@media (max-width: 1020px) {
#mainMenu .nav > li > a, #mainMenu .nav .label_searchid { padding: 0 0.75rem; }
}
@media (max-width: 840px) {
#mainMenu #nav > li > a { font-size: 0; }
#mainMenu .nav > li > a, #mainMenu .nav .label_searchid { padding: 0 0.5rem; }
#mainMenu #nav > li > a > .fa { display: inline-block; margin-right: 0; }
#statusbar { display: none }
}
@media (max-width: 480px) {
#mainMenu .nav > li > a .username, #searchresult .ajaxSearchResults a > i { display: none }
#mainMenu .nav > li > a .icon { margin-left: 0; width: auto }
}
/* dark */
