@import 'fonts.css';
@import "forms.css";
@import "contextmenu.css";
@import "mainmenu.css";
@import "tree.css";
@import "tabpane.css";
#frameset { position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; }
#mainMenu, #tree, #main { position: absolute; }
#mainMenu { top: 0; left: 0; width: 100%; height: 2.2rem; z-index: 100; }
#tree { left: 0; top: 2.2rem; bottom: 0; width: 25rem; max-width: 100%; overflow: hidden; z-index: 1; }
#main { left: 25rem; top: 2.2rem; right: 0; bottom: 0; z-index: 2; }
#main #mainframe { display: block; position: absolute; width: 100%; height: 100%; overflow: auto; }
/* floater */
#floater { position: fixed; z-index: 1000; opacity: 0; visibility: hidden; max-width: 20rem; padding: 1.5rem; top: 4rem; left: 2rem; border-radius: 0.25rem; background-color: #fff; -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3); box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3); transition-duration: 0.15s }
#floater.show { opacity: 1; visibility: visible; }
/*resizer*/
#resizer { position: absolute; z-index: 99; top: 2.2rem; bottom: 0; left: 25rem; width: 5px; margin-left: -1px; cursor: col-resize; background-color: transparent; transition: background-color .3s }
#resizer:hover { background-color: rgba(0, 0, 0, 0.1); }
#mask_resizer { position: absolute; width: 100%; height: 100%; }
/* mainloader */
#mainloader { position: absolute; z-index: 50000; top: 0; left: 0; width: 100%; height: 100%; text-align: center; vertical-align: middle; padding: 15% 0 0 0; background-color: rgba(255, 255, 255, 0.64); opacity: 0; visibility: hidden; -webkit-transition-duration: 0.3s; transition-duration: 0.3s }
#mainloader.show { opacity: 0.75; visibility: visible; -webkit-transition-duration: 0.1s; transition-duration: 0.1s }
#mainloader img { filter: grayscale(100%); }
#mainloader .fa { font-size: 2rem; animation: modx-color 2s infinite linear }
#mainloader .preLoaderText { margin: auto; width: 75%; }
.sidebar-closed #tree { width: 0 !important; }
.sidebar-closed #main, .sidebar-closed #resizer { left: 0 !important; }
@media (max-width: 840px) {
#floater { left: 0; right: 0; margin: 0 auto; }
#resizer { display: none }
#frameset #mask_resizer { z-index: 3 !important; opacity: 0.5; visibility: visible; background-color: #000; -webkit-transition: 0.2s; transition: 0.2s }
.sidebar-closed #frameset #mask_resizer { opacity: 0; visibility: hidden; }
#tree { z-index: 5; width: auto !important; box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25); -webkit-transition: 0.25s; transition: 0.25s }
.sidebar-closed #tree { width: auto !important; box-shadow: none; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }
#tree .treeframebody { box-shadow: none }
.sidebar-closed #main::after { content: ""; position: absolute; z-index: 1; left: 0; top: 6rem; bottom: 0; width: 1rem; }
#main { left: 0 !important; }
#main::before { content: ""; position: absolute; z-index: 9999; left: 0; top: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0); }
.sidebar-closed #mainMenu:not(.show) + #tree + #main::before { display: none }
}
@keyframes modx-color {
0% { color: #5DB54D; transform: rotate(0deg); }
20% { color: #5EA5D5 }
50% { color: #EC633D; }
70% { color: #5EA5D5 }
100% { color: #5DB54D; transform: rotate(359deg) }
}
@-webkit-keyframes modx-color {
0% { color: #5DB54D; -webkit-transform: rotate(0deg); }
20% { color: #5EA5D5 }
50% { color: #EC633D; }
70% { color: #5EA5D5 }
100% { color: #5DB54D; -webkit-transform: rotate(359deg) }
}
.paused { -webkit-animation-play-state: paused; animation-play-state: paused; }
/* dark */
.dark #main { background-color: #ecf0f1 }
.dark #mainloader { background-color: rgba(236, 240, 241, 0.64); }
/* ElementsInTree */
.ElementsInTree .treeframebody { background-color: #fafafa !important; border-right: 1px solid rgba(0, 0, 0, .1) }
.ElementsInTree #treeHolder { height: 100%; max-height: 100%; overflow: hidden; padding: 10px }
.ElementsInTree #treeHolder #tabDoc::before { display: none }
.ElementsInTree #treeHolder .actionButtons--eit { top: 3.7rem; right: 1rem }
.ElementsInTree #treeHolder .actionButtons--eit li { float: left; margin: 0 0 0 5px !important; }
.ElementsInTree #treeHolder .actionButtons--eit li a { padding: 0.5rem; }
.ElementsInTree #treeHolder #treePane .tab-page { padding: 0.8rem !important; }
.ElementsInTree #treeHolder #treePane .tab-page .panel-group .panel, .ElementsInTree #treeHolder #treePane #tabDoc.tab-page > div { max-height: calc(100vh - 11rem) !important; overflow: auto; }
.ElementsInTree #treeHolder #treePane .tab-page .panel-group { overflow: visible !important; max-height: none !important; box-sizing: border-box !important }
.ElementsInTree .tab-row { padding: 0; margin-bottom: -1px; }
.ElementsInTree .tab-row .tab { height: 2rem; line-height: 2rem; }
.ElementsInTree .tab-page { background-color: #fff; border: 1px solid #ddd; }
.ElementsInTree .form-control { padding: 0.25rem; font-size: 0.8rem; }
.ElementsInTree.treeframebody { -webkit-box-shadow: none; box-shadow: none }
.ElementsInTree .eltree img { width: 0.8em; height: 0.8em }
.dark.ElementsInTree #tree .treeframebody { background-color: #1d2023 !important; color: #828282 }
.dark.ElementsInTree .tab-row .tab { color: #7b7b7b; }
.dark.ElementsInTree .tab-row .tab.selected { background-color: #1d2023; border-color: rgba(255, 255, 255, .1); color: #bfbfbf; }
.dark.ElementsInTree .tab-page { background-color: transparent; border-color: rgba(255, 255, 255, .1) }
.dark.ElementsInTree .form-control { background-color: rgba(0, 0, 0, 0.4); border-color: rgba(255, 255, 255, 0.09); color: #c7c7c7; }
.dark.ElementsInTree a { color: #b7b7b7 }
.dark.ElementsInTree .disabledPlugin a { color: #B68282 }
