/* tree */
#treeloader { position: absolute; display: block; overflow: hidden; right: 0.3em; top: 0.3em; opacity: 0; visibility: hidden; -webkit-transition-duration: 0.5s; transition-duration: 0.5s }
#treeloader .fa { font-size: 1em; }
#treeloader.visible { opacity: 0.7; visibility: visible; -webkit-transition-duration: 0s; transition-duration: 0s }
.treeframebody { height: 100%; background-color: #fafafa; box-shadow: inset -0.15rem 0.15rem 0.45rem 0 rgba(0, 0, 0, 0.1); }
#treeMenu { overflow: hidden; padding: 0 0.1em; height: 2.3em; background-color: #dfdfdf; border-bottom: 1px solid #cfd2d6 }
#treeMenu .treeButton { display: inline-block; cursor: pointer; padding: 0 0.2em; height: 2.3em; line-height: 2.5em; white-space: nowrap; text-align: center; vertical-align: middle; -webkit-transition-duration: 0.15s; transition-duration: 0.15s }
#treeMenu .treeButton:hover:not(.disabled) { background-color: rgba(255, 255, 255, .5); cursor: pointer; -webkit-transition-duration: 0s; transition-duration: 0s }
#treeMenu .treeButton:not(.disabled):active { background-color: #d5d5d5 }
#treeMenu .treeButton .fa { width: 1.2em; height: 1.2em; line-height: 1.2em; font-size: 1.1em; }
#treeMenu .treeButton.disabled { color: #777; opacity: 0.5 }
#treeHolder { position: relative; z-index: 1; cursor: default; overflow: auto; height: 100%; max-height: calc(100% - 30px); white-space: nowrap }
#treeHolder .rootNode a { display: block; padding: 0.25em 0.5em; color: #333; cursor: pointer; -webkit-transition-duration: 0.15s; transition-duration: 0.15s }
#treeHolder .rootNode a .fa { margin-right: 0.5em }
#treeRoot { float: left; width: 100%; color: #333; }
#treeRoot a { position: relative; display: block; clear: both; text-decoration: none; padding: 0.1em 0 0.1em 2.2em; font-size: 1em; color: #333; cursor: default; -webkit-transition-duration: 0.15s; transition-duration: 0.15s }
#treeRoot a:hover:not(.empty), #treeRoot a.current { background-color: rgba(33, 150, 243, 0.1) }
#treeRoot a small { margin: 0 0.8em 0 0.2em }
#treeRoot a.selected, #treeRoot .dragenter > a { background-color: rgba(0, 0, 0, 0.1); }
#treeRoot .dragafter > a .indent::after, #treeRoot .dragbefore > a .indent::before { content: "\f0da"; display: block; position: absolute; right: 0.1em; bottom: -0.5em; height: 1em; font: normal normal normal 1em/1em FontAwesome; }
#treeRoot .dragbefore > a .indent::before { bottom: auto; top: -0.5em; }
#treeRoot a .title { padding: 0 0.2em; color: #0275d8; cursor: pointer; -webkit-transition-duration: 0.15s; transition-duration: 0.15s }
#treeRoot a.deleted .title { color: #A52A2A; text-decoration: line-through; }
#treeRoot a.unpublished .title { color: #B68282; font-style: italic; }
#treeRoot a.hidemenu .title { color: #404040; }
#treeRoot a.protected .title { color: #aaa; }
#treeRoot a .lockedResource { cursor: pointer; }
#treeRoot a .editResource { margin-left: 0.2em }
#treeRoot .indent { position: relative; float: left; height: 1.5em; }
#treeRoot .indent i { float: left; height: 1.2em; width: 1.5em }
#treeRoot .empty { color: #aaa; cursor: default; }
#treeRoot .icon { cursor: pointer; -webkit-transition-duration: 0.15s; transition-duration: 0.15s }
#treeRoot .icon:hover > .fa { color: #000 }
#treeRoot .toggle { display: inline-block; position: relative; margin: 1px 0.2em 1px -1.5em; width: 1.3em; height: 1.3em; line-height: 1.4em; text-align: center; vertical-align: top; cursor: pointer; border-radius: 50%; -webkit-transition-duration: 0.15s; transition-duration: 0.15s }
#treeRoot .toggle:hover { background-color: rgba(255, 255, 255, 0.5); }
#treeRoot .toggle .fa { margin: 0; width: auto; }
#treeRoot .fa, #treeHolder .rootNode .fa { position: relative; margin-right: 1px; width: 1em; font-size: 1.1em; text-align: center; color: #565656; -webkit-transition-duration: 0.15s; transition-duration: 0.15s }
#treeRoot .fa > .fa-lock, .fa > .fa-lock { position: absolute; left: 0; bottom: 0; text-align: left; font-size: 0.7em; color: #FFC107; -webkit-text-stroke: 1px rgba(0, 0, 0, 0.39); text-stroke: 1px rgba(0, 0, 0, 0.39); }
#treeRoot .fa-file, #treeRoot .fa-file-o, #treeRoot .fa-file-code, #treeRoot .fa-file-code-o { }
#treeRoot .fa-folder, #treeRoot .fa-folder-open, #treeRoot .fa-folder-o, #treeRoot .fa-folder-open-o, #treeRoot .fa-exclamation-triangle { margin-top: 0.1em; text-align: left }
#treeRoot .fa-link { margin-right: 0; font-size: 0.8em }
#treeRoot #binFull { display: none }
/* treeRoot dark */
.dark #treeMenu { background-color: #2d3033; border-bottom: none; }
.dark #treeMenu .treeButton { color: #a9a9a9; }
.dark #treeMenu .treeButton:hover:not(.disabled) { background-color: #2d3033; color: #fff }
.dark #tree .treeframebody { background-color: #1d2023 }
.dark #treeHolder .rootNode a { color: #C5C5C5; }
.dark #treeHolder .rootNode a:hover { color: #eee }
.dark #treeRoot { color: #b3b3b3; }
.dark #treeRoot a { color: #b3b3b3; }
.dark #treeRoot a:hover:not(.empty), .dark #treeRoot a.current { background-color: rgba(255, 255, 255, 0.15); }
.dark #treeRoot a.selected, #treeRoot .dragenter > a { background-color: rgba(0, 142, 255, 0.19); }
.dark #treeRoot .dragafter > a::after, .dark #treeRoot .dragbefore > a::before { background-color: rgba(255, 255, 255, 0.25); }
.dark #treeRoot a .title { color: #7cb2dc; }
.dark #treeRoot a.hidemenu .title { color: #C5C5C5; }
.dark #treeRoot a.deleted .title { color: #A52A2A; }
.dark #treeRoot a.unpublished .title { color: #d0726b }
.dark #treeRoot .icon:hover > .fa { color: #fff }
.dark #treeRoot a .title:hover { color: #a2d4fb; }
.dark #treeRoot a.hidemenu .title:hover { color: #eee }
.dark #treeRoot a.unpublished .title:hover { color: #f38e86 }
.dark #treeRoot a.deleted .title:hover { color: #e23d3d }
.dark #treeRoot .toggle:hover { background-color: rgba(255, 255, 255, 0.19); }
.dark #treeRoot .fa, .dark #treeHolder .rootNode .fa { color: #bcbec0; }
.dark #treeRoot .fa > .fa-lock, .fa > .fa-lock { color: #FFC107; }
