/* menu body */

.menu-body {
	color:		Black;
	margin:		0;
	padding:	0;
	overflow:	hidden;
	border:		0;
	cursor:		default;
}

.menu-body .outer-border {
	border:							1px solid #003399
	margin:		0;
	padding:	0;
	
}

.menu-body .inner-border {
	width:			100%;
	
	border:			0px solid #f9f8f7;
	border-width:	1px 0 1px 0;
	padding:		0 1px 0 1px;
	margin:			0;
	background:		white url("../../../images/bg/context.gif") repeat-y;
}

/* menu body */

/*****************************************************************************/

/* menu items */

.menu-body td {
	font:			Menu;
	color:			Black;
}

.menu-body .hover td {
	cursor:							pointer;
	background-position: 			bottom left;
	background-repeat: 				repeat-x;	
	background:						white;
	background-image: 				url("../../../images/misc/buttonbar_gs.gif");
	font:							menu;
	padding: 						2px 15px 2px 1px;

}

.menu-body .disabled-hover td {
	background-color:	white;
}

.menu-body td.empty-icon-cell {
	padding:		2px;
	border:		0;
}

.menu-body td.empty-icon-cell span {
	width:	16px;
}

.menu-body td.icon-cell {
	padding:	2px;
	border:		0;
}


.menu-body td.icon-cell img {
	width:	16px;
	height:	16px;
	margin:	0;
	filter:	Gray();
}

.menu-body .hover td.icon-cell img {
	filter:	none;
}


.menu-body .disabled-hover td.icon-cell img,
.menu-body .disabled td.icon-cell img {
	display:	static;
	filter:		Gray() Alpha(Opacity=40);
}


.menu-body .disabled-hover td.empty-icon-cell,
.menu-body .hover td.empty-icon-cell,
.menu-body .disabled-hover td.icon-cell,
.menu-body .hover td.icon-cell {
	border:							1px solid black;
	border-top-color:				ButtonHighlight;
	border-bottom-color:			ButtonShadow;
	border-left-color:				ButtonHighlight;
	border-right:					0;
	padding:						1px 2px 1px 1px;
}

.menu-body td.label-cell {
	width:		100%;
	padding:	2px 5px 2px 5px;
	border:		0;
}

.menu-body .disabled-hover td.label-cell,
.menu-body .hover td.label-cell,
.menu-body .disabled-hover td.shortcut-cell,
.menu-body .hover td.shortcut-cell {
	padding:		1px 5px 1px 5px;
	border:							1px solid black;
	border-top-color:				ButtonHighlight;
	border-bottom-color:			ButtonShadow;
	border-right:      				0px;
	border-left:      				0px;
}

.menu-body td.shortcut-cell {
	padding:	2px 5px 2px 5px;
}

.menu-body td.arrow-cell {
	width:			20px;
	padding:		2px 2px 2px 0px;
	font-family:	Webdings;
}

/* end menu items */

/*****************************************************************************/

/* disabled items */

.menu-body .disabled-hover td.arrow-cell,
.menu-body .hover td.arrow-cell {
	padding:		1px 1px 1px 0px;
	border:							1px solid black;
	border-left:					0px;
	border-right-color:				ButtonShadow;
	border-top-color:				ButtonHighlight;
	border-bottom-color:			ButtonShadow;	
}

.menu-body #scroll-up-item td,
.menu-body #scroll-down-item td {
	font-family:	Webdings !important;
	text-align:		center;
	padding:		10px;
}

.menu-body .disabled td {
	color:				#cccccc;
}

.menu-body .disabled-hover td {
	background-color:	white;
	color:				#cccccc;
}

/* end disabled items */

/*****************************************************************************/

/* separator */

.menu-body .separator td {
	font-size:	0.001mm;
	padding:	1px 0px 1px 27px;
}

.menu-body .separator-line {
	overflow:		hidden;
	border-top:		1px solid #dbd8d1;
	height:			1px;
}

/* end separator */

/*****************************************************************************/

/* Scroll buttons */

.menu-body #scroll-up-item,
.menu-body #scroll-down-item {
	width:		100%;
}

.menu-body #scroll-up-item td,
.menu-body #scroll-down-item td {
	font-family:	Webdings;
	text-align:		center;
	padding:		1px 5px 1px 5px;
}

.menu-body #scroll-up-item .disabled-hover td,
.menu-body #scroll-up-item .hover td,
.menu-body #scroll-down-item .disabled-hover td,
.menu-body #scroll-down-item .hover td {
	border:		1px solid #0A246A;
	padding:	0px 4px 0px 4px;
}

/* End scroll buttons */

/*****************************************************************************/

/* radio and check box items */

.menu-body .checked {
	padding:	0px;
}

.menu-body .checked.hover {
	padding:	0px;
}

.menu-body .checked .check-box,
.menu-body .checked .radio-button {
	display:		inline-block;
	font-family:	Webdings;
	overflow:		hidden;
	color:			MenuText;
	text-align:		center;
	vertical-align:	center;
	background-color:	#b6bdd2;
	border:				1px solid #0A246A;
}

.menu-body .check-box {
	width:			19px;
	height:			19px;
	font-size:		133%;
	padding-bottom:	5px;
	padding-left:	1px;
}

.menu-body .radio-button {
	width:			19px;
	height:			19px;
	font-size:		50%;
	padding:		5px;
}

/* end radio and check box items */

/*****************************************************************************/

/* Menu Bar */

.menu-bar {
	cursor:			default;
	padding:		0px;
	background-image: 				url("../../../images/bg/body.jpg");
	background-position: 			top;
	background-repeat: 				repeat-x;	
}

.menu-bar .menu-button {
	color:		ButtonText;
	font:		Menu;
	padding:	4px 7px 4px 7px;
	border:		0;
	margin:		0;
	display:	inline-block;
	white-space:	nowrap;
	cursor:			default;
}

.menu-bar .menu-button.active {
	background-position: 			bottom left;
	background-repeat: 				repeat-x;	
	background-image: 				url("../../../images/misc/buttonbar_gs.gif");
	padding:						3px 6px 3px 6px;
	border:							1px solid black;
	border-left-color:				ButtonHighlight;
	border-right-color:				ButtonShadow;
	border-top-color:				ButtonHighlight;
	border-bottom-color:			ButtonShadow;	
}

.menu-bar .menu-button.hover {
	background-position: 			bottom left;
	background-repeat: 				repeat-x;	
	background-image: 				url("../../../images/misc/buttonbar_gs.gif");
	padding:		3px 6px 3px 6px;
	border:				1px solid black;
	border-left-color:	ButtonHighlight;
	border-right-color:	ButtonShadow;
	border-top-color:	ButtonHighlight;
	border-bottom-color:ButtonShadow;
}

/* End Menu Bar */