/* for IE7 */
html, body, form, fieldset, img { margin: 0; padding: 0; }
img { border: none; }
html { font-size: 13px; line-height: 1.5; color: #333; }
body { font-family: Arial, sans-serif !important; font-size: 13px !important; line-height: 1.5; color: #333; background: #FAFAFA !important; overflow-y: scroll; -webkit-font-smoothing: subpixel-antialiased !important; /*-webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden;*/ }
body[ondragstart*=""] { overflow-y: scroll }
/* For Arabic Font */
html[lang="ar"] body, html[lang="ary"] body, html[lang="azb"] body, html[lang="fa-IR"] body, html[lang="haz"] body, html[lang="ps"] body, html[lang="ur"] body { font-family: Tahoma, Arial, sans-serif; }
/* For Chinese Font */
html[lang="zh"] body { font-family: "PingFang SC", "Microsoft JhengHei", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans SC", Helvetica, sans-serif; }
/* For Devanagari Font */
html[lang="bn-BD"] body, html[lang="hi-IN"] body, html[lang="mr-IN"] body { font-family: Arial, sans-serif; }
/* For Greek Font */
html[lang="el"] body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
/* For Gujarati Font */
html[lang="gu-IN"] body { font-family: Arial, sans-serif; }
/* For Hebrew Font */
html[lang="he"] body { font-family: "Arial Hebrew", Arial, sans-serif; }
/* For Japanese Font */
html[lang="ja"] body { font-family: Meiryo, "Hiragino Kaku Gothic Pro", sans-serif; }
/* For Korean font */
html[lang="ko-KR"] body { font-family: "Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", Dotum, sans-serif; }
/* For Thai Font */
html[lang="th"] body { font-family: "Sukhumvit Set", "Helvetica Neue", Helvetica, Arial, sans-serif; }
/* For Arabic Font */
html[lang="fa"] body { font-family: Tahoma, Arial, sans-serif; }
* { -moz-osx-font-smoothing: grayscale; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box }
*::-ms-clear { display: none; }
img, a img { border: 0 !important; text-decoration: none; padding: 0; margin: 0; vertical-align: middle; max-width: 100% }
h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, address { margin: 0 0 .5em; padding: 0; font-weight: normal; }
li, dd, blockquote { margin: 0 0 0 1em; }
.file-manager td { border-bottom: 1px solid #d5dfea; }
.ab2 { padding-bottom: 20px; }
td { vertical-align: top; }
/* -------------------------[ Miscellaneous conveniences ]--- */
.cls { clear: both; height: 0 !important; margin: 0; overflow: hidden; }
.clear { clear: both; }
.fail { color: #900; font-weight: 500; }
.warning { color: #111; font-weight: 500; }
.success { color: #090; font-weight: 500; }
.contentPad { height: 20px !important; clear: both; }
.hide, .skip, .printonly { display: none; }
.inline { display: inline; }
.clearfix::after { content: ""; display: table; width: 100% }
.float-left { float: left !important }
.float-right { float: right !important }
.fa { position: relative; }
.container { width: 100% }
.tab-pane.row, .sectionBody.container { margin-left: 0; margin-right: 0 }
.rotate180 { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
/* -------------------------[ Headers and Paragraphs ]--- */
h1, h2, h3, h4, h5, h6, .subTitle { font-weight: 500; }
h1 { font-size: 1.8em; line-height: 35px; padding: 15px; margin: 0; }
h1 .fa { font-size: 0.8em; color: #1377c5; margin-right: 5px }
h1 small { margin-left: 5px }
h2 { font-size: 164%; }
h3 { font-size: 145%; }
h4 { font-size: 118%; }
h5 { font-size: 100%; font-weight: 500; }
h6 { font-size: 86%; font-weight: 500; }
p.caption, p.comment { font-size: 86%; color: #888; }
button { color: #821517; font: inherit; font-weight: 500; width: 112px; margin: 0 5px 0 0; cursor: pointer; }
a, a:active { color: #1377c5; text-decoration: none; }
a[href=""], a:not([href]) { cursor: default }
a.disabled { cursor: not-allowed !important }
a:hover { color: #26719B; text-decoration: underline; }
hr { background-color: #ddd; height: 1px; border: none; margin: 0.5em 0; }
.split { background: #ccc; height: 1px; font-size: 0; clear: both; padding: 0; }
#previewIframe { width: 100%; height: 400px; }
.messageRead { color: #333; }
.messageUnread { color: #3CB371; font-weight: 500; }
.right { font-weight: 500; color: #333; float: left; padding: 0 20px 20px; }
.gridster > * { -webkit-transition: height .4s, width .4s !important; -moz-transition: height .4s !important; -o-transition: height .4s !important; -ms-transition: height .4s !important; transition: height .4s !important; }
.fa { font-size: 14px; width: 1.2em; text-align: center; vertical-align: baseline }
/* -------------------------[ Forms ]--- */
tbody, thead, tr { margin: 0; padding: 0; border: 0; }
form label { cursor: pointer; display: inline-block; margin-bottom: .5em }
form label:not(for) { cursor: default }
fieldset { border: none; }
input, select, textarea, option, optgroup, td { font: inherit; color: inherit; }
optgroup { font-style: normal; font-weight: 500; background-color: #ddd; }
optgroup option { font-weight: normal; background-color: #fff; }
#ta, .tmplvars textarea, textarea[name=introtext] { width: 100%; resize: vertical; }
form select { border-style: solid; border-width: 1px; padding: 4px 4px 4px 2px; margin: 0 2px 0 0; vertical-align: baseline; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; cursor: pointer; }
form select.dropdown, form select[size="1"], form select:not([size]) { height: 29px; }
form input[type="text"], form input[type="password"], form input[type="number"], form textarea { background: #f9f9f9; border-color: #999 #DDD #DDD #999; border-style: solid; border-width: 1px; padding: 4px 2px 4px 4px; margin: 0 5px 0 0; min-height: 17px; vertical-align: middle; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 1px 3px #E8E8E8 inset; -webkit-box-shadow: 0 1px 3px #E8E8E8 inset; box-shadow: 0 1px 3px #E8E8E8 inset; }
input[type="email"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="number"]:focus, textarea:focus, select:focus { outline: none; background: #fff; border: 1px solid green; }
input[type="button"], input[type="submit"] { background: #ededed; border: 1px solid green; cursor: pointer; line-height: normal; margin: 0 5px 3px 0; padding: 4px 10px; overflow: visible; min-height: 27px; -webkit-appearance: button; background: -moz-linear-gradient(#f5f5f5, #DDDDDD); background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#DDDDDD)); background: -o-linear-gradient(#f5f5f5, #DDDDDD); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5, endColorstr=#DDDDDD);
zoom: 1; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
input[type="button"]:hover, input[type="submit"] { border-color: green; background: -moz-linear-gradient(#FFFFFF, #EEEEEE); background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#EEEEEE)); background: -o-linear-gradient(#FFFFFF, #EEEEEE); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#EEEEEE);
zoom: 1; }
input.checkbox, input.radio, input.submit, input.button, input[type="checkbox"], input[type="radio"], input[type="submit"], input[type="button"] { height: auto !important; width: auto !important; margin: 0 5px 0 0; cursor: pointer; }
input.checkbox, input.radio, input[type="checkbox"], input[type="radio"] { vertical-align: -2px; }
.form { padding: 15px; border: solid 1px #ddd; }
form input.hidden { display: none !important; position: absolute; }
.form label, .form input, .form textarea { display: block; float: left; vertical-align: middle; }
.form label { padding-right: 20px; text-align: right; width: 110px; }
form textarea { height: 75px; width: 300px; }
.form legend { color: #04C; font-weight: 500; padding: 5px; }
.form select { display: inline; float: left; }
.form br { clear: both; }
input.submit { display: block !important; float: none !important; margin: 20px 0 0 140px !important; }
.form fieldset.list { margin: 6px 6px 3px 0; }
.form fieldset.list legend { display: none; }
.form fieldset.list label, .form fieldset.list input { padding: 0; margin: 0 0 3px; float: left; display: inline; border: 0; background: none; width: auto; height: auto; }
.form fieldset.list label { padding-left: 5px; text-align: left; width: auto; }
/* -------------------------[ Misc stuff ]--- */
/*.sectionBody li:before { font-family: FontAwesome; content: '\f105'; display: block; font-weight: bold; font-size: 15px; color: #bdbdbd; position: absolute; margin-left: -13px; }*/
.sectionBody fieldset { background: none repeat scroll 0 0 #FDFDFD; border: 1px solid #CCCCCC; padding: 15px !important; }
.sectionBody legend { font-weight: 500; padding: 5px 15px; background: #fff; border: 1px solid #ccc; -moz-box-shadow: 1px 1px 3px #ccc; -webkit-box-shadow: 1px 1px 3px #ccc; box-shadow: 1px 1px 3px #ccc; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.sectionBody fieldset h3 { font-size: 14px; color: #789; font-weight: 500; padding-bottom: 0; margin-bottom: 0; }
.sectionHeader, .showHideVisible { color: #333; margin: 0 15px; padding: 5px 3px 5px; zoom: 1; font-weight: 500; text-shadow: 0 1px 0 #FFF; }
.sectionHeader + .sectionBody, .showHideVisible + .sectionBody { margin-top: -1px !important }
.tab-page .sectionHeader { margin: 15px 3px 0; }
.sectionBody, .layerVisible { position: relative; display: none; margin: 5px 0px 0px; display: block; }
.tab-page .sectionBody, .tab-page .section .sectionBody, .sectionBody .sectionBody { border-top: 1px solid #CCCCCC; margin: 0 3px 15px; padding: 7px; }
.section .sectionBody { margin: 0 15px 15px; padding: 15px; background-color: #fff; border: 1px solid #CCCCCC; }
.showHideVisible, .layerVisible { margin: 0 10px 4px; }
.comment { font-size: 11px; color: #999; padding: 4px 0; }
thead, .fancyrow { color: #333; height: 18px !important; background-color: #E4E4E4; }
thead td { color: #333; border-top: 1px solid #fff; }
.fancyrow2 { height: 18px !important; background: #F0A62F repeat-x top; border-bottom: 1px solid #fff; color: #fff; }
li { padding: 0; margin: 0; list-style: none; }
ul { margin: 0 20px 0 10px; }
.screen { border: 1px solid #ddd; text-align: center; }
a img { border: 0; }
.even { background: #D9E7C2; }
.odd { background: #fff; }
.show { display: block !important }
.hide { display: none !important }
/* -------------------------[ end sortable table ]--- */
.disabledImage { width: 20px; opacity: 0.3; filter: alpha(opacity=30); }
.disabledImage img { border: 0; }
.editorCell { border-top: 1px solid #808080; text-align: left; vertical-align: baseline; }
.row1, .row2, .row3 { background-color: #fff; color: #333; }
.row2 { background-color: #fff; }
.row3 { background-color: #f5f5f5; }
/* */
.unpublished a, .unpublish { color: #B68282; font-style: italic; }
.notInMenuNode { color: #39515d; text-decoration: none; }
#treeSplitter { width: 10px; height: 100%; position: absolute; right: -10px; }
.deleted { color: #A52A2A; text-decoration: line-through; }
label.disabled { color: #aaa; }
.disabledPlugin a { color: #B68282; font-style: italic; }
/* -------------------------[ grid style ]--- */
.grid { width: 100%; background-color: #fff; border: 1px solid silver; border-collapse: collapse; }
.grid th, .grid td { padding: 5px; }
.gridHeader, .grid th { color: #333; font-weight: 500; white-space: nowrap; background-color: #d2d2d2; text-align: left; }
.gridItem { background-color: #fff; padding: 3px; }
.gridAltItem { background-color: #f7f7f7; padding: 3px; }
.grid tbody tr:hover td { background: #E9EDF3; }
.gridRowIcon:hover { background-color: #f5f5dc; }
.grid a { text-decoration: none; }
.grid img { vertical-align: middle; padding-right: 4px; }
/* -------------------------[ search bar ]--- */
.searchbar { width: 100%; }
.searchbar table { margin-top: -3px; }
.searchtext { margin-top: -5px !important; height: 18px; padding: 2px; }
.searchbutton { width: 22px; padding: 5px; text-decoration: none; background: #fff; border: 1px solid #D1D8DF; }
.searchbutton:hover { text-decoration: none; background: #fff; border: 1px solid #88939E; }
.searchbutton img { vertical-align: middle; margin: 0; padding: 0 }
.searchtoolbarbtn { text-decoration: none; border: 1px solid #D1D8DF; text-decoration: none !important; background: #fff; padding: 5px 5px 5px 2px; }
.searchtoolbarbtn img { vertical-align: middle; padding: 3px; }
.searchtoolbarbtn:hover { text-decoration: none; border: 1px solid #88939E; background: #fff; }
/* -------------------------[ home page main links ]--- */
a.hometblink, a.hometblink:active, .hometblink { text-decoration: underline; color: #333; font-weight: 500; font-size: 12px; }
a.hometblink:hover { text-decoration: underline; color: Gray; }
.notice { width: 100%; padding: 5px; border: 1px solid #eee; background-color: #f5f5f5; color: #707070; }
#preLoader { position: absolute; z-index: 50000; width: 100%; height: 100%; text-align: center; vertical-align: middle; padding: 100px 0 0 0; background-color: rgba(255, 255, 255, 0.5); }
.preLoaderText { background-color: #fff; margin: auto; width: 400px; padding: 50px; border: 1px solid #dadada; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2); }
.preLoaderText p { font-size: 18px; }
.preLoaderText p:last-child { margin-bottom: 0 }
#loadingmask { display: none !important; }
/* -------------------------[ contextmenu in editing modules ]--- */
.contextMenu { background: #fff; margin: 0; padding: 4px; border: 1px solid #c9c9c9; border-top: 3px solid #1377c5; position: absolute; z-index: 10000; -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }
.cntxMnuItem { cursor: pointer; color: #333; padding: 3px 5px; border: 1px solid transparent; }
.cntxMnuItemDisabled { cursor: default; padding: 3px 5px; color: #111; }
.cntxMnuItemOver { background: #E6F2FF; border: 1px solid #BACCDB; color: #333; padding: 3px 5px; cursor: pointer; }
.cntxMnuItem img, .cntxMnuItemOver img, .cntxMnuItemDisabled img { margin: 0 8px 0 0; }
.cntxMnuItem img, .cntxMnuItemDisabled img { }
.cntxMnuSeparator { font-size: 0; height: 1px; background-color: #D8D8D8; overflow: hidden; margin: 3px 0; }
#frameset { overflow: hidden; position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
/* -------------------------[ Settings Table ]--- */
.settings { width: 600px; }
.settings tr { width: 100% !important; }
.settings td, .settings th { background: transparent; }
.settings th { width: 200px !important; text-align: left; color: #555; font-size: inherit; }
.filelist td { border-bottom: 1px solid #C2C3CF; }
/* -------------------------[ Tabs ]--- */
.tab-row .tab span, .tab-row .tab.hover { text-decoration: none }
/*.tab-pane { position: relative; width: 100%; margin-top: 0 }*/
.tab-row .tab.selected { color: #333; border-radius: 0 }
.tab-row .tab.selected span { background-color: #fff; text-shadow: none }
.tab-row { position: relative; z-index: 1; white-space: nowrap; padding-left:15px; }
.tab-row .tab, .tab-row .tab span { color: #1377c5; font-size: 13px }
.tab-row .tab { position: relative; float: left; margin: 3px 2px 1px 0; padding: 0 12px; line-height: 35px; height: 35px; border: none; text-shadow: none; background: 0 0; cursor: pointer }
.tab-row .tab.hover { background: 0 0; filter: none }
.tab-row .tab.selected span, .tab-row .tab.selected.hover span { color: #1377c5 }
.tab-row .tab.selected, .tab-row .tab.selected.hover { background: #fff; filter: none; box-shadow: 0 -3px 0 #1377c5, -1px 0 0 transparent }
.tab-row .tab:after, .tab-row .tab:before { position: absolute; content: ''; left: 0; display: block; right: 0 }
.tab-row .tab.selected.hover:after, .tab-row .tab.selected:after { border-radius: 3px; box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1); top: -3px; bottom: 1px; z-index: -1 }
.tab-row .tab.selected:before { background: #FFF; top: 90%; bottom: -4px }
.tab-row .tab.hover, .tab-row .tab.hover span { color: #2b749d }
.tab-row .tab .fa { margin-right: 3px; font-size: 14px }
.tab-page { clear: both; background-color: #fff; position: relative; top: -2px; padding: 15px; border: 0; border-radius: 0; box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1) }
.sectionHeader { padding: 7px 0px;}
.tab-pane > .tab-page { display: none }
.tab-pane > .tab-page:first-child { display: block }
.tab-page .sectionBody { padding: 12px 0px; }
.tab-page > table { width: 100%; border-collapse: collapse }
/* -------------------------[ Welcome Page ]--- */
a.hometblink, a.hometblink img { border: 0 !important; text-decoration: none !important; }
.wm_header { margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px dotted #bbb; }
.wm_header_title { margin: 0; }
.wm_button { display: inline-block; margin: 0 10px 10px 0; text-align: center; }
.wm_messages { margin-left: 20px; margin-top: 15px; padding-top: 15px; border-top: 1px dotted #bbb; }
.wm_messages .comment { font-size: 12px; }
.wm_messages_inbox_link { text-decoration: none !important; color: #333 !important; }
.wm_messages_inbox_link:hover { color: gray !important; }
.table--managerWelcome { width: 100%; }
/* -------------------------[ Welcome Page ]--- */
#mainActionPages { background: #f5f5f5; }
/* -------------------------[ New sortable table class ]--- */
.sortabletable { width: 100%; border-collapse: collapse; }
.sortabletable thead tr { color: #333; font-weight: 500; white-space: nowrap; background-color: #d2d2d2; text-align: left; }
.sortabletable tr { background: #fff; }
.sortabletable tr.even { background: #f7f7f7; }
.sortabletable tbody tr:hover { background: #E9F0F3; }
.sortabletable td, .sortabletable th { padding: 5px !important; border: 1px solid #ccc; }
.sortabletable th { text-align: left; cursor: pointer; color: #333; }
.sortabletable th a { text-decoration: none; color: #333; }
.sortabletable th:active { background: #ccc; padding: 3px 4px 1px 6px; }
/* -------------------------[ Pagination table ]--- */
#max-display-records { margin: 10px 0; }
#pagination { margin: 10px 0; }
#pagination ul { margin: 10px 0; display: inline; }
#pagination li { list-style: none; display: inline; width: 15px; margin: 0 0 0 1px; }
#pagination li a { padding: 3px 8px; border: 1px solid #D9E7C2; text-decoration: none; color: #333; }
#pagination li.currentPage a, #pagination li a:hover { color: #060; border: 1px solid #060; }
fieldset.tab-page { border: 1px solid #e4e4e4 !important; }
h2#edit_document_title { font-size: 15px; color: #f5f5f5; width: 100%; border-bottom: none; padding: 5px 10px; }
fieldset#preview h2.tab { float: right; }
/* -------------------------[ Action Buttons ]--- */
#actions { background: none repeat scroll 0 0 rgba(230, 230, 230, 0.8); padding: 8px; position: fixed; top: 0; right: 15px; text-align: right; z-index: 100; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; }
#actions .actionButtons { float: left; min-height: 32px }
#actions .actionButtons li { position: relative; float: left; margin-right: 3px; border: none }
#actions .actionButtons li a, #actions .actionButtons .plus { float: left; padding: 0 10px !important; height: 32px; line-height: 30px; -webkit-user-select: none; user-select: none; }
#actions .actionButtons li:last-child { margin: 0 }
#actions #Button1 a { width: 100%; text-align: left; }
#actions .actionButtons .plus { overflow: hidden; float: right; margin: -32px 0 0 0; width: 35px; border-radius: 0 3px 3px 0 !important; text-align: center; cursor: default; font: normal normal normal 0/30px FontAwesome }
#actions .actionButtons .plus::before { content: "\f107"; font-size: 14px }
#actions .actionButtons .show .plus::before { content: "\f106"; }
#actions .actionButtons .dropdown-menu { display: none; position: absolute; z-index: -1; left: auto; right: 0; top: 100%; width: 100%; min-width: 35px; margin: -2px 0 0; padding: 2px 0 0; text-align: left; font-size: 1em; background-color: #fff; border: 1px solid #32ab9a; border-top: none; border-radius: 0 0 3px 3px; overflow: hidden; }
#actions .actionButtons .show > .dropdown-menu { display: block }
#actions .actionButtons .dropdown-menu span { display: block; padding: 0 10px; height: 32px; line-height: 30px; border: none; border-top: 1px solid #f2f2f2; cursor: pointer; }
#actions .actionButtons .dropdown-menu span:hover { background-color: #fbfbfb; }
#actions select#stay { display: block; position: relative; z-index: -1; clear: both; width: auto; height: 0; padding: 0 10px; margin: -100% 0 -32px 0; font-size: 1em; opacity: 0; visibility: hidden; }
@media (max-width: 900px) {
#actions .actionButtons li a, #actions .actionButtons .dropdown-menu span { font-size: 0 }
#actions .actionButtons li a .fa, #actions .actionButtons .dropdown-menu span .fa { display: inline-block; font-size: 14px; line-height: 30px }
#actions .actionButtons .dropdown-menu { width: 35px }
#actions #Button1 a { margin: 0; width: auto }
#actions .actionButtons .plus { margin: 0 0 0 -2px }
#actions select#stay { display: none }
}
.actionButtons { margin: 0; padding: 0; background: none; width: auto; white-space: nowrap; }
.actionButtons li { float: left; margin: 0; padding: 0; list-style: none; }
.actionButtons li:before, .mmTagList li:before, .rTable li:before, .tab-pane ul li ul li:before, .dashboard li:before, div#idShowHideSocialBox.sectionBody > div.btn-group.ope > ul.dropdown-menu > li:before, .sectionBody .multitv .list li:before { display: none; content: ''; }
.actionButtons img { vertical-align: top; margin-top: 1px; filter: alpha(opacity=30); -moz-opacity: 0.3; opacity: 0.3; }
.actionButtons:hover img { filter: alpha(opacity=100); -moz-opacity: 1; opacity: 1; }
.actionButtons a, #actions .actionButtons .plus { display: inline-block; border: 1px solid #BBB; border-radius: 3px; color: #333; font-weight: 500; outline: medium none; padding: 7px 8px 7px 4px; text-decoration: none; vertical-align: baseline; white-space: nowrap; text-shadow: 0 1px 0 #FFF; -moz-box-shadow: 1px 1px 2px #ccc; -webkit-box-shadow: 1px 1px 2px #ccc; box-shadow: 1px 1px 2px #ccc; background: -moz-linear-gradient(#FFFFFF, #E0E0E0); background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#E0E0E0)); background: -o-linear-gradient(#FFFFFF, #E0E0E0); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#E0E0E0);
zoom: 1; }
.actionButtons a:hover { border-color: #999; -moz-box-shadow: 1px 1px 2px #aaa; -webkit-box-shadow: 1px 1px 2px #aaa; box-shadow: 1px 1px 2px #aaa; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -o-transition: all .3s ease; transition: .3s ease; background: -moz-linear-gradient(#FFFFFF, #F5F5F5); background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#F5F5F5)); background: -o-linear-gradient(#FFFFFF, #F5F5F5); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#F5F5F5);
zoom: 1; text-decoration: none !important; }
.actionButtons a:active { background-color: #92aac4; background-position: bottom left; -webkit-box-shadow: 0 0 10px #b8c7d6; -moz-box-shadow: 0 0 10px #b8c7d6; box-shadow: 0 0 10px #b8c7d6; }
.actionButtons li.primary a, .actionButtons a.primary, .actionButtons a.default { color: #fff; border-color: #658f1a; text-shadow: 0 -1px 0 #2B5F0C; background: #66901b; background: -moz-linear-gradient(#8aae4b, #66901b); background: -webkit-gradient(linear, 0 0, 0 100%, from(#8aae4b), to(#66901b)); background: -o-linear-gradient(#8aae4b, #66901b); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8aae4b, endColorstr=#66901b);
}
.actionButtons li.disabled a { border: 1px solid #657587; color: #777; border-width: 0; pointer-events: none; }
.actionButtons li.disabled a img { opacity: .3; filter: alpha(opacity=30); }
.actionButtons .plus { margin: 0 2px 0 5px; color: #3b454f; font-weight: 500; }
/*
* Generic styles for all form elements
    */
form#mutate dt, form#mutate dd { margin-bottom: 10px; }
form#mutate dt label, form#mutate dt h3.label { font-size: 1em; display: inline; float: left; width: 200px; color: #821517 !important; font-weight: 500; }
form#mutate dd { margin-left: 210px; }
form#mutate input.disabled { background-color: #f5f5f5 !important; }
form#mutate .inputBox { width: 100%; }
form#mutate select, form#mutate select.inputBox { width: 308px; }
form#mutate select.inputBox { margin-right: 5px; }
form#mutate .multitv input[type="text"] { width: 300px; }
form#mutate .imageField { width: 50%; min-width: 300px; }
form#mutate input[name="menuindex"].inputBox { text-align: center; width: 80px; padding-left: 0; padding-right: 0; }
form#mutate input[name="ta"].inputBox { padding-left: 30px }
form#mutate input[name="ta"].inputBox + input[type=button], form#mutate input[name="ta"].inputBox + .CodeMirror + input[type=button] { position: relative; float: right; margin: -29px 0px 0 0; z-index: 1; height: 29px !important; border-radius: 0 3px 3px 0 !important; }
form#mutate input[name="ta"].inputBox:focus + input[type=button], form#mutate input[name="ta"].inputBox:focus + .CodeMirror + input[type=button] { border-color: #1377c5 #1377c5 #1377c5 #bbb; }
form#mutate textarea.tv_textareamini { height: 100px; width: 300px; overflow-y: scroll; }
form#mutate textarea.tv_textarea { height: 100px; width: 100%; overflow-y: scroll; }
form#mutate #llock { position: relative; z-index: 1; float: left; width: 23px; height: 23px; margin: 3px -28px 0 5px; line-height: 25px; cursor: pointer; text-align: center; font-size: 14px; background-color: #fbfbfb; border-radius: 50%; }
form#mutate #llock + #ta { display: block !important }
form#mutate #llock + #ta + .CodeMirror { display: none !important; z-index: 0; clear: none; min-height: 29px; margin: 0; border-color: #ddd; border-radius: 3px; }
form#mutate #plock { width: 1.4em; cursor: pointer; font-size: 14px }
/*
* Styling for datepicker elements in settings and templavars
*/
form#mutate input.date, form#mutate input.tvdate { margin-right: 10px; }
/*
* Individual Styles for fieldset#settings_page_settings
*/
form#mutate fieldset#settings_page_settings input#pub_date, form#mutate fieldset#settings_page_settings input#unpub_date { width: 150px; }
form#mutate fieldset#settings_page_settings select { width: 155px; }
/*
* Individual Styles for fieldset#meta_keywords
*/
form#mutate fieldset#meta_keywords { }
form#mutate fieldset#meta_keywords { }
form#mutate fieldset#meta_keywords select.inputBox { display: block; margin-bottom: 0; }
form#mutate fieldset#meta_keywords dl.keywords { float: left; margin-right: 30px; }
form#mutate fieldset#meta_keywords dl.metatags { float: left; }
form#mutate fieldset#meta_keywords dl dt label { width: 100px; }
form#mutate fieldset#meta_keywords dl dd { margin-left: 110px; }
/*
* Individual Styles for fieldset#preview
*/
fieldset#preview iframe { width: 100%; margin: 0 auto; border: 1px solid #f5f5f5; }
/*
* Individual Styles for fieldset#document_content
*/
fieldset#document_content textarea#ta { width: 100%; height: 400px; font-size: 1em; }
/*
* Individual Styles for fieldset#access_permissions
*/
fieldset#access_permissions dt label { width: 200px; }
fieldset#access_permissions dd { margin-left: 210px; }
fieldset#access_permissions dl dd ul li { list-style-type: none; }
/* ppb:
* fieldset#settings_templvars
*/
fieldset#settings_templvars .tv_url_select { width: 70px; margin-right: 10px; }
fieldset#settings_templvars .tv_url_input { width: 220px; }
fieldset#settings_templvars dd.tvCheckBox label input, fieldset#settings_templvars dd.tvRadioOptions label input { margin-right: 10px; }
fieldset#settings_templvars .tv_date { width: 150px; }
form#mutate select.tv_url_select { padding: 5px 3px; }
/* ppb:
* Style mootools tooltips
*/
[data-tooltip] { cursor: help }
[data-tooltip]::after { position: absolute; z-index: 13000; opacity: 0; content: attr(data-tooltip); width: 200px; margin-left: 15px; padding: 12px 15px; font-size: 13px; line-height: 1.3; font-family: sans-serif; text-align: left; color: #333; background-color: #fff; border: 1px solid #ccc; visibility: hidden; transition-duration: .3s; transform: translate3d(15px, 0, 0); }
[data-tooltip]:hover::after { opacity: 1; visibility: visible; transform: translate3d(0, 0, 0); }
[data-tooltip].fa-question-circle { opacity: 0.15; }
[data-tooltip].fa-question-circle:hover { opacity: 1; }
th > [data-tooltip].fa-question-circle, td > [data-tooltip].fa-question-circle { float: right; }
/* ppb:
* Some styling for legacy mode fieldsets
*/
fieldset.legacy { background: #fff; padding: 10px; margin: 10px 10px 35px; border: 1px solid #e4e4e4 !important; position: relative; }
fieldset.legacy h2 { width: 100%; background: #f5f5f5; margin: -10px -10px 15px -10px; padding: 0 10px; border-bottom: 1px solid #e4e4e4 !important; }
/* -------------------------[ date picker ]--- */
input.DatePicker, #mutate input.DatePicker, #userPane input.DatePicker, #webUserPane input.DatePicker, input#datefrom.DatePicker, input#dateto.DatePicker { width: 150px; cursor: pointer; ime-mode: disabled; }
input:focus.DatePicker, #mutate input:focus.DatePicker, #userPane input:focus.DatePicker, #webUserPane input:focus.DatePicker, input#datefrom:focus.DatePicker, input#dateto:focus.DatePicker { cursor: text; }
.dp_container { position: relative; padding: 0; z-index: 500; }
/* [ datepicker ] */
.dp_container { padding: 0; position: relative; z-index: 500 }
.dp_cal { position: absolute; top: 30px; width: 220px; padding: 0; background-color: #fff; -webkit-box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); }
.dp_cal p { position: relative; margin: 10px; }
.dp_cal select { font-size: 1em; margin: 2px 3px; width: auto !important }
.dp_cal select option { padding: 1px 3px }
.dp_cal table { border-collapse: collapse; border-spacing: 0; width: 100% }
.dp_cal td.dp_roll { background-color: #fff6bf; color: #333 !important }
.dp_cal th, .dp_cal td { font-size: 1em; padding: 8px 0 !important; text-align: center !important; width: 14.2857%; cursor: default }
.dp_cal tbody th { background-color: #656d79; color: #fff; }
.dp_cal tbody td:nth-child(6), .dp_cal tbody td:nth-child(7) { color: indianred }
.dp_cal .dp_empty { background-color: #f9f9f9 }
.dp_cal .dp_hide { visibility: hidden }
.dp_cal .dp_selected { background-color: #3189ba; color: #fff !important }
.dp_cal .dp_today { background-color: #4caf50; color: #fff !important }
.dp_cal input, .dp_cal button, .dp_cal select { padding: 5px !important; line-height: 1em !important }
.dp_cal input { width: 68% !important }
.dp_cal button { position: absolute; top: 0; right: 0; margin: 0 !important; padding: 5px 10px !important; width: 30% !important }
/* -------------------------[ must have this for the IE6 select box hiding ]--- */
.dp_hide { visibility: hidden; }
.dp_empty { background: #eee; }
.dp_today { background: #daf2e6; }
.dp_selected { color: #fff; background: #328dcf; }
/* System Alert Box ---------------------------------------------------------- */
.cbOverlay { background-color: #000; z-index: 50000; }
.cbContainer { padding: 5px; background-color: white; z-index: 50000; }
.cbBox h3 { color: #000; background: #bee860 repeat-x top; padding: 5px; font-weight: 500; }
.cbBox p { margin: 3px; }
.cbBox .cbButtons { text-align: center; }
.sysAlert { width: 500px; height: 330px; white-space: nowrap; overflow: auto; }
.phptextarea { font-family: Consolas, 'Courier New', 'Courier', monospace; }
/* Custom */
/* normalize some td paddings */
#tabTemplate tbody td, .sectionBody td, .sectionBody th { padding: 1px 5px; text-align: left; vertical-align: top; }
.sectionBody .displayparams, .sectionBody .permissiongroup { margin-bottom: 3px; background-color: #eee; border-collapse: separate; border-spacing: 1px; }
.sectionBody .displayparams th, .sectionBody .displayparams td { padding: 4px 4px; }
.sectionBody .displayparams thead td, .sectionBody .permissiongroup thead td { border-top: none; }
#displayparams table { background: #fff; }
#displayparams table tbody td { border-bottom: 1px dotted #d3d3d3; }
.sectionBody .permissiongroup input, .sectionBody .permissiongroups input { width: 200px; }
td#displayparams > table.displayparams { border: none; }
/* replace warning red color in tabs */
strong[style*='color:#EF1D1D'] { color: yellow !important; }
.selected strong[style*='color:#ffeb00'] { color: red !important; }
#tabEvents table, #tabEvents td { padding: 2px; }
code { font-size: inherit; font-family: Consolas, 'Courier New', 'Courier', monospace; background-color: #eee; border: 1px solid #ccc; padding: 1px 2px; }
#resourcesPane .disabledPlugin a:hover { color: #aaa; }
/* breadcrumbs */
ul.breadcrumbs { margin: 0 15px 12px 15px; padding: 0 0 9px 0; line-height: normal; font-size: 0; border-bottom: 1px dotted #CECACA; }
li.breadcrumbs__li { list-style: none; display: inline-block; padding: 0; margin: 0; }
a.breadcrumbs__a { font-size: 12px; text-decoration: none; }
.breadcrumbs__sep { font-size: 13px; margin: 0 6px; color: #777; }
li.breadcrumbs__li_current { font-size: 12px; font-weight: 500; }
/* end breadcrumbs */
/* table styles*/
.table, #documentPane #tv_body table, #documentPane [id*="table-"], #documentPane [id*="table-tv"] { width: 100%; }
#documentPane .tab-page > table > tr > td:first-child, #documentPane .tab-page > table > tbody > tr > td:first-child, #documentPane .tab-page .tmplvars > table > tbody > tr > td:first-child, #tmplvarsPane .tab-page > table > tbody > tr > td:first-child, #tmplvarsPane .tab-page > table > tbody > tr > th:first-child, #chunkPane .tab-page > table > tbody > tr > td:first-child, #chunkPane .tab-page > table > tbody > tr > th:first-child, #snipetPane .tab-page > table > tbody > tr > td:first-child, #snipetPane .tab-page > table > tbody > tr > th:first-child, #pluginPane .tab-page > table > tbody > tr > td:first-child, #pluginPane .tab-page > table > tbody > tr > th:first-child, #modulePane .tab-page > table > tbody > tr > td:first-child, #modulePane .tab-page > table > tbody > tr > th:first-child, #docManagerPane .tab-page #dates > table > tbody > tr > td:first-child { width: 200px }
#documentPane .tab-page > table > tr > td:last-child, #documentPane .tab-page .tmplvars > table > tbody > tr > td:last-child { width: inherit !important }
.table--edit { margin-bottom: 15px; }
.table th, .table td { text-align: left; vertical-align: middle; }
table th { font-weight: 500; }
.table--edit th { width: 200px; color: #555; font-size: inherit; }
form input[type="text"], form input[type="password"], form input[type="number"], form textarea, form select { box-sizing: border-box; }
.table--edit input[type="text"], .table--edit input[type="password"], .table--edit input[type="number"], .table--edit textarea, .table--edit select, .settings input[type="text"], .settings input[type="password"], .settings input[type="number"], .settings textarea, .settings select { width: 300px; }
.table th, .table td, #tabTemplate tbody td, .sectionBody td, .sectionBody th { padding: 3px 5px; }
/* STYLES FOR HELP */
#helpPane h1 { font-size: 20px; display: block; border-bottom: 1px solid #888; margin-bottom: 1em; font-weight: 500; }
#helpPane li:not(:first-child) > strong { margin-top: 1.4em; }
#helpPane li > strong { display: block; font-size: 14px; }
#helpPane pre { font-size: 12px; border: 1px solid #888; border-radius: 5px; background-color: #fff; padding: 1em; margin: 10px 0; }
/*
 * MODxRE2 styles
 * css above is original MODxRE
 * css below is basicaly MODxRE overrides to get MODxRE2 look
 */
/* nav */
.alert-warning { color: #1377c5; }
.no-events { pointer-events: none; }
/* Context Menu */
.nu-context-menu { position: absolute; overflow: hidden; top: 0; min-width: 200px; max-width: 350px; height: auto; padding: 0.25em 0; visibility: hidden; opacity: 0; z-index: 10000; background: #fff; line-height: 1; font-size: 0.9em; border: none; border-radius: 3px; -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }
.nu-context-menu.active { visibility: visible; opacity: 1; }
.nu-context-menu-title { color: #1377c5; padding: 0.75em 1em; }
.nu-context-menu ul { list-style: none; margin: 0; padding: 0; }
.nu-context-menu ul li { padding: 0.5em 1em; cursor: pointer; }
.nu-context-menu ul li:hover  { background-color: #1976D2; color: #fff; }
.nu-context-menu ul li .fa { font-size: 1.1rem; width: 1.3rem; text-align: center }
.nu-context-menu ul hr { height: 1px; background-color: rgba(0, 0, 0, 0.07); margin: 0.25em 0; }
/* Required for Bootstrap3 Collapse */
.fade { opacity: 0; -webkit-transition: opacity .15s linear; -o-transition: opacity .15s linear; transition: opacity .15s linear; }
.fade.in { opacity: 1; }
.collapse { display: none; }
.collapse.in { display: block; }
.collapsing { position: relative; height: 0; overflow: hidden; -webkit-transition-timing-function: ease; -o-transition-timing-function: ease; transition-timing-function: ease; -webkit-transition-duration: .35s; -o-transition-duration: .35s; transition-duration: .35s; -webkit-transition-property: height, visibility; -o-transition-property: height, visibility; transition-property: height, visibility; }
.no-transition .collapsing { -webkit-transition: none; -o-transition: none; transition: none; }
.panel-title > a::before { content: "\f107"; /* fa-angle-down */ font-family: "FontAwesome"; }
.panel-title > a.collapsed::before { content: "\f105"; /* fa-angle-right */ padding: 0 1px 0 3px; }
.panel-title > a { font-size: 1.1em; color: #657587; display: block; padding: 3px 0; }
.panel-title > a:hover { text-decoration: none; color: #1377c5; background: #f9f9f9; }
/* category icons in manage elements */
#site_templates, #site_tmplvars, #site_htmlsnippets, #site_snippets, #site_plugins { padding-left: 0; }
#site_templates li, #site_tmplvars li, #site_htmlsnippets li, #site_snippets li, #site_snippets li, #site_plugins li, #categories_list li { list-style: none; margin-left: -21px; }
#site_templates li strong:before, #site_tmplvars li strong:before, #site_htmlsnippets li strong:before, #site_snippets li strong:before, #site_snippets li strong:before, #site_plugins li strong:before, #categories_list li strong:before { font-family: "FontAwesome"; font-style: normal; font-weight: normal; color: #5b6f7a; padding: 0 5px 0 5px; content: '\f105'; }
.tab-pane ul li ul li strong:before { content: ''; }
/* elements icons in manage elements */
.tab-pane ul li ul { /* width:100%; */ }
.tab-pane ul li ul li { list-style-type: none; list-style: none; padding-left: 20px; }
a.man_el_name:before { font-family: "FontAwesome"; font-style: normal; font-weight: normal; color: #5b6f7a; }
a.man_el_name.site_templates:before { content: '\f1ea'; }
a.man_el_name.site_tmplvars:before { content: '\f022'; }
a.man_el_name.site_htmlsnippets:before { content: '\f009'; }
a.man_el_name.site_snippets:before { content: '\f121'; }
a.man_el_name.site_plugins:before { content: '\f1e6'; }
a.man_el_name.site_modules:before { content: '\f085'; }
div#tabCategory.tab-page ul li ul li { padding-top: 7px; padding-bottom: 7px; }
/*Fake tables for providing dynamic amount of cells per row*/
.rTable { display: table; width: 100%; padding: 0; }
.rTableRow { display: table-row; padding: 0; }
.rTableHeading { display: table-header-group; }
.rTableBody { display: table-row-group; }
.rTableFoot { display: table-footer-group; }
.lockCell, .mainCell, .btnCell, .rTableHead { display: table-cell; padding: 0; }
.lockCell { width: 30px; padding-left: 10px; }
.mainCell { width: auto; }
.btnCell { width: 6em; text-align: right; padding-right:10px;}
.mainCell > span { display: block }
/* Manage elements general styles */
a.man_el_name { display: block; padding: .1em 0 .1em 12px; }
a.man_el_name:hover { text-decoration: none; }
.lockCell + .mainCell a.man_el_name { padding-left: 0 !important; }
.lockCell + .mainCell a.man_el_name:before { display: none; }
.elements_descr { color: #222; margin-left: 1em; font-size: 0.88em; }
.resourceTable .panel-heading { margin: 0 -15px !important; background-color: #f5f5f5; border-top: 1px dotted #dedede; border-bottom: 1px dotted #dedede; }
.resourceTable .panel-title > a { padding: 5px 0 5px 15px; }
.resourceTable ul.elements { margin: 0 -15px; padding: 0 0 10px 0; }
.resourceTable ul.elements > li { padding: 0 !important; border-bottom: 1px dotted #dedede; border-left: 3px solid #FFF; transition: all 0.1s ease; margin: 0 !important; }
.resourceTable ul.elements > li:hover { background: #f9f9f9; border-left: 3px solid #1377c5; }
.resourceTable ul.elements > li::before { display: none }
#resourcesPane .panel-group ul { }
ul.resourceTable .category_name { float: none; display: block; clear: both; margin-top: 20px; }
/* Manager Elements Buttons bar*/
ul.elements_buttonbar { list-style: none; margin: 0; padding: 0; display: table; table-layout: fixed; }
ul.elements_buttonbar li { display: table-cell; padding: 0 !important; width: 2em; }
ul.elements_buttonbar li a { display: block; width: 2em; padding: 4px 2px 2px 2px; margin: 1px; min-width: 22px; }
ul.elements_buttonbar .fa { font-size: 13px !important; padding: 1px 1px 0; }
/* Manage elements views-form */
.switchForm { display: block; width: 100%; float: left; clear: left; margin: 7px 0 7px -4px; padding: 5px; background-color: #fff; border: 1px solid #E4E4E4; border-radius: 3px; }
.switchForm h3.optionsTitle { color: #1377c5; padding-left: 7px; font-size: 16px; }
.switchForm label { color: #1377c5; font-weight: 700; }
.switchForm input.columns { width: 3em; color: #444; font-weight: normal; }
.switchForm input.fontsize { width: 4em; color: #444; font-weight: normal; }
.switchForm .cb_all { float: left; }
.switchForm .btn_reset { float: right; }
.switchForm .optionsLeft { float: left; padding: 4px 8px 4px 4px; }
.switchForm .optionsFull { display: block; clear: both; padding: 4px 8px 4px 4px; }
.switchForm .optionsRadios { padding-top: 6px; }
.switchForm .optionsChecks { padding-top: 10px; }
.switchForm .optionsFontsSize { margin-left: 9px; padding-left: 8px; border-left: 1px solid #ededed; }
.switchForm .optionsReset { margin-left: 8px; border-left: 1px solid #ededed; padding-left: 8px; }
.switchForm .optionsAllTabs { clear: left; padding-top: 10px; }
.switchForm .optionsClear { display: block; clear: both; padding-top: 8px; margin-bottom: 4px; border-bottom: 1px solid #ededed; }
/* Checkbox "Icons" */
.noicons.tab-page ul li ul li a:before, .noicons .elements_description a:before { display: none !important; }
/* View-dependent styles */
/* List-view */
.resourceTable.list li { }
.sortableList > li::before { display: none }
/* Inline-view */
.resourceTable.inline ul.elements { margin: 0 !important; }
.resourceTable.inline ul.elements > li { float: left; margin: 10px 10px 0 0 !important; padding: 0 !important; border: 1px dotted #dedede; }
.resourceTable.inline ul.elements_buttonbar { margin: 0 5px 0 0 !important; }
.resourceTable.inline a.man_el_name { padding: 5px 10px; }
.resourceTable.inline ul.elements > li:hover { border: 1px solid #aaa }
/* Flex-view */
.resourceTable.flex ul.elements { -webkit-column-gap: 10px; -moz-column-gap: 10px; -o-column-gap: 10px; column-gap: 10px; }
.resourceTable.flex ul.elements { }
.resourceTable.flex ul.elements > li { overflow: hidden; /* fix for Firefox */ break-inside: avoid-column; -webkit-column-break-inside: avoid; -moz-column-break-inside: avoid; -o-column-break-inside: avoid; -ms-column-break-inside: avoid; column-break-inside: avoid; page-break-inside: avoid }
.resourceTable.flex .elements_descr { display: block; margin-left: 1.5em; }
/* action buttons */
.actionButtons a { float: left; padding: 5px 10px; height: 32px; font-size: 13px; font-weight: 500; }
.actionButtons a, .actionButtons li.primary a, .actionButtons a.primary, .actionButtons a.default, #actions .actionButtons .plus { text-shadow: none; background: #fff; filter: none; color: #555; border-width: 1px; border-style: solid; border-color: #E4E4E4; border-radius: 3px; /*box-shadow: 0 0 0 1px #E4E4E4;*/ box-shadow: none; transition: none; }
.actionButtons a:hover { background: none; filter: none; background-color: #1377c5; box-shadow: none; border-color: #1377c5; color: #FFF !important; transition: none; }
.actionButtons a:active { background-color: #3189ba; border-color: #3189ba; }
.actionButtons li.primary a, .actionButtons a.primary, #actions #Button1 a, #actions .actionButtons .plus { color: #fff; border-color: #32AB9A; background-color: #32AB9A; background-image: linear-gradient(#32AB9A, #00948E); }
.actionButtons li.primary a:hover, .actionButtons a.primary:hover, #actions #Button1 a:hover, #actions .actionButtons .plus:hover { background-color: #2b9385; background-image: linear-gradient(#2b9385, #007571); border-color: #2b9385; }
.actionButtons li.primary a:active, .actionButtons a.primary:active, #actions #Button1 a:active, #actions .actionButtons .plus:active { background: #32AB9A; border-color: #32AB9A; }
.actionButtons img { display: none; }
#treePane .actionButtons img { display: inline; }
.actionButtons--tableheader .fa { font-size: 14px; }
.sectionBody .actionButtons { padding-top: 0; min-height: 40px; }
.sectionBody .actionButtons li { margin-right: 10px; }
.sectionBody .actionButtons a { display: inline-block; padding: 9px 10px; line-height: 1; }
input[type="button"], input[type="submit"] { background: #ededed; border: 1px solid #ddd; border-radius: 3px !important; }
input[type="button"]:hover, input[type="submit"]:hover { background: #1377c5; border: 1px solid #1377c5; color: #fff; }
input[type="button"]:active, input[type="submit"]:active { background: #3189ba; border: 1px solid #3189ba; }
form select, input[type="text"], input[type="email"], input[type="password"], input[type="url"], input[type="number"], textarea, form input[type="text"], form input[type="password"], form input[type="number"], form textarea, #tv_body select, #tv_body input[type="text"], #tv_body input[type="email"], #tv_body input[type="password"], #tv_body input[type="url"], #tv_body input[type="number"], #tv_body textarea { background-color: #FBFBFB; transition: all .2s; border-color: #dbdbdb; -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05) inset; box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05) inset; }
#tmplvars-pane select, #tmplvars-pane input[type="text"], #tmplvars-pane input[type="email"], #tmplvars-pane input[type="password"], #tmplvars-pane input[type="url"], #tmplvars-pane input[type="number"], #tmplvars-pane textarea { background-color: #FBFBFB; border-color: #dbdbdb; }
input[type="email"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="number"]:focus, textarea:focus, select:focus, form input[type="text"]:focus, form input[type="password"]:focus, form input[type="email"]:focus, form input[type="url"]:focus, form input[type="number"]:focus, form textarea:focus, #tv_body input[type="text"]:focus, #tv_body input[type="password"]:focus, #tv_body input[type="email"]:focus, #tv_body input[type="url"]:focus, #tv_body input[type="number"]:focus, #tv_body textarea:focus { border-color: #1377c5; }
#range input#pids { width: calc(100% - 95px) !important; margin: 0; float: left; }
#range input#pids + input[name=fsubmit] { width: 80px; margin: 0; float: right; }
#range::after { content: ""; display: table; width: 100% }
/* dashboard */
.dashboard .wm_logo { margin: 15px 15px 10px 10px; }
.dashboard .wm_logo img { height: 56px; }
.wm_buttons a { font-weight: normal !important; color: #3d5764 !important; }
.wm_buttons .fa { margin-bottom: 5px; font-size: 2em; }
.dashboard h1 { margin-top: 30px; }
.widget-wrapper { border: 1px solid #ccc; }
.widget-wrapper .widget-title { border: 1px solid #ccc; border-width: 0 0 1px 0; }
.widget-stage .label, .widget-stage .label-info { background-color: transparent; color: inherit; font-size: 12px; }
.widget-stage .btn { background-color: rgba(0, 0, 0, 0) !important; color: #3d5764 !important; border-color: #ccc !important; padding: 0 .25em; line-height: 2em; height: 1.8em; }
.widget-stage .btn:hover { border-color: #1377c5 !important; }
.widget-stage .btn .fa { font-size: 13px }
#modxrecent_widget table { margin-bottom: 0; }
#modxrecent_widget .table-condensed > tbody > tr > td { padding: 2px 3px; }
#modxrecent_widget .table-condensed > tbody > tr > td.hiddenRow { padding: 0; border: none }
#modxrecent_widget table ul { margin: 0; padding: 0; }
#modxrecent_widget table li { padding: 3px 5px; }
#modxrecent_widget table li:last-child { border-bottom-width: 0; padding-bottom: 0; }
#content_body #which_editor { margin-top: 12px; }
/* resource children list */
#tabChildren select[name="dir"], #tabChildren select[name="sort"] { margin-top: 10px; margin-bottom: 5px; margin-right: 10px; padding: 3px; font-size: 12px; }
table.grid { border: 1px solid #e1e1e1; }
table.grid th, table.grid .gridHeader { background-color: #e9e9e9; }
table.grid th, table.grid td { padding: 7px; }
table.actionButtons { margin-top: 15px; margin-bottom: 10px; }
table.actionButtons img { display: inline-block; }
table.actionButtons .searchtext { padding: 5px; height: 24px; width: 150px; }
/* backup */
#tabBackup p.actionButtons { margin-top: 20px; margin-bottom: 15px; }
/* filter elements */
.filterElements-form { margin-bottom: 10px; margin-top: 5px; }
.actionButtons .filterElements-form { margin-top: 0; margin-bottom: 0; }
.filterElements-form .form-control { display: block; width: 100%; max-width: 500px; font-size: 13px; }
.actionButtons .filterElements-form .form-control { width: 200px; height: 33px; padding-left: 8px; box-sizing: border-box; }
/* pagetitle-icon */
.pagetitle-icon { margin-right: 2px; color: #1377c5; }
/* element-edit-message */
.msg-container { padding-bottom: 10px; border-bottom: 1px solid #ededed; margin-bottom: 15px; color: #777; }
.userprofiletable { margin-bottom: -20px; }
.btn-small { padding: 2px 4px !important; font-size: 11px !important; }
.relative { position: relative; }
.modx-alert { display: block; margin: 60px 10px 10px 10px; padding: 1em; }
.modx-alert.alert-error { background-color: #ffd0d0; border: 1px solid #ff0000; color: #000; }
tr.userIdle td { color: #aaa; }
tr.userIdle td strong:before { font-family: "FontAwesome"; font-style: normal; font-weight: normal; color: #aaa; padding: 0 5px 0 0; content: '\f017'; }
#modxonline_widget td strong:before { font-family: "FontAwesome"; font-style: normal; font-weight: normal; color: #3d5764; padding: 0 5px 0 0; content: '\f2be'; }
#modxonline_widget td strong.userMultipleSessions:before { color: #bf4949; content: '\f2bd'; }
#modxonline_widget tr.userIdle td strong.userMultipleSessions:before { color: #bf4949; content: '\f017'; }
/* c-roleslist */
.c-roleslist { margin-bottom: 10px; margin-left: 12px; }
.c-roleslist-name { display: block; font-size: 13px; font-weight: 500; }
.c-roleslist-hyphen { display: none; }
.c-roleslist-description { color: #666; }
.c-roleslist-item { margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dashed #ddd; }
.c-roleslist-item:last-child { margin-bottom: 0; padding-bottom: 0; border-bottom-width: 0; }
.c-roleslist-item--admin { font-style: italic; }
/*Manage Files*/
#ManageFiles i.fa, #ManageFiles span.fa { color: #39515d; }
#ManageFiles i.fa.FilesTopFolder { color: #80969c; font-size: 19px !important; }
#ManageFiles i.fa.FilesFolder { font-size: 19px !important; color: #80969c; margin-right: 4px; }
#ManageFiles i.fa.FilesDeletedFolder { font-size: 19px !important; color: #e2e2e2; margin-right: 4px; }
#ManageFiles i.fa.FilesPage { color: #80969c; margin-right: 4px; }
#ManageFiles #imageviewer { display: none; margin-top: 10px }
#ManageFiles #imageviewer img { display: inline-block; max-width: 100%; height: auto; border: 1px dashed #ccc !important }
#ManageFiles #uploader { margin-top: 20px }
#ManageFiles tr.editRow td { background-color: #F2DEDE !important; }
#ManageFiles tr.viewRow td { background-color: #DFF0D8 !important; }
#content.phptextarea { width: 100%; height: 400px }
#FilesTable { border-collapse: collapse; }
#FilesTable tr, #FilesTable td { padding: 2px !important; }
#FilesTable td { border-bottom: 1px dotted #e2e2e2 !important; }
#FilesTable th { background: #fff; border: none; }
/*BS button*/
.btn { display: inline-block; padding: 6px 12px; margin-bottom: 0; font-weight: normal; /* line-height: 1.42857143;*/ text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; }
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.btn:hover, .btn:focus, .btn.focus { color: #333; text-decoration: none; }
.btn:active, .btn.active { background-image: none; outline: 0; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); }
.btn.disabled, .btn[disabled], fieldset[disabled] .btn { cursor: not-allowed; filter: alpha(opacity=45); -webkit-box-shadow: none; box-shadow: none; opacity: .45; }
a.btn.disabled, fieldset[disabled] a.btn { pointer-events: none; }
.btn-default { color: #3d5764 !important; background-color: #fff; border-color: #ccc; line-height: 27px; padding: 0 12px; }
.btn-default:focus, .btn-default.focus { color: #333; background-color: #fff; border-color: #1377c5; }
.btn-default:hover { color: #333; background-color: #fff; border-color: #1377c5; }
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default { color: #333; background-color: #e6e6e6; border-color: #adadad; }
.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus { color: #333; background-color: #d4d4d4; border-color: #8c8c8c; }
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default { background-image: none; }
.btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus { background-color: #fff; border-color: #ccc; }
.btn-default .badge { color: #fff; background-color: #333; }
.btn-lg, .btn-group-lg > .btn { padding: 10px 16px; font-size: 18px; line-height: 1.3333333; border-radius: 6px; }
.btn-sm, .btn-group-sm > .btn { padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px; }
.btn-xs, .btn-group-xs > .btn { padding: 3px 5px; font-size: 10px; line-height: 1.5; border-radius: 3px; }
.btn-block { display: block; width: 100%; }
.btn-block + .btn-block { margin-top: 5px; }
.border-bottom { border-bottom: 2px solid #1377c5 !important; }
/*responsive buttons*/
.actionButtons .fa { display: none; text-align: center; font-size: 1em; line-height: 1em; width: 1.1em; vertical-align: initial }
.sectionBody .actionButtons .fa, .actionButtons--eit .fa { display: inline-block; }
.optionsTitle .fa { display: inline-block; }
@media (max-width: 900px) {
.actionButtons a { display: inline-block; padding: 6px 10px }
.tab-page .actionButtons a { margin-top: 0 !important }
.actionButtons a span { display: none; }
.actionButtons a .fa { display: inline-block; }
}
/* gridster */
.gs-w:hover .gs-resize-handle, .resizing .gs-resize-handle { right: 7px; bottom: 0 }
.widget-controls .btn-group .btn { width: 28px }
/* MCE */
.mce-container, .mce-container-body { box-sizing: border-box !important }
/* codeMirror */
.CodeMirror pre { word-break: break-all !important; }
.CodeMirror > div:first-child > textarea { opacity: 0 }
/* bootstrap */
.dropdown-menu { display: none }
.show > .dropdown-menu { display: block }
/* SimpleGallery */
#SimpleGallery .pagination { display: block }


/*multiTV*/
.multitv .list li.element a.copy, .multitv .list li.element a.remove{
width: 25px!important;
text-align: center;
background: #fff!important;
top: -10px!important;
}
.multitv .list li.element{
	border-radius: .25rem;
	border: 1px solid rgba(0, 0, 0, .125)
	background: #fefefe!important;
	margin-bottom:10px!important;
}


/*dark*/

.dark .tab-page, .dark .tab-row .tab.selected, .dark .tab-row .tab.selected.hover, .dark .tab-row .tab.selected:before,.dark .tab-row .tab.selected span {
	background: #F9F9F9;
}
.dark, .dark .resourceTable .panel-heading {background: #ecf0f1!important;}
 .dark .resourceTable .panel-heading:hover {background: #ecf0f1!important;}
.dark form select, 
.dark input[type="text"], 
.dark input[type="email"], 
.dark input[type="password"], 
.dark input[type="url"], 
.dark input[type="number"], 
.dark textarea, 
.dark form input[type="text"], 
.dark form input[type="password"], 
.dark form input[type="number"], 
.dark form textarea, 
.dark #tv_body select, 
.dark #tv_body input[type="text"], 
.dark #tv_body input[type="email"], 
.dark #tv_body input[type="password"], 
.dark #tv_body input[type="url"], 
.dark #tv_body input[type="number"], 
.dark #tv_body textarea {
	background-color: #FFF;
}

.dark .multitv .list li.element a.copy, .multitv .list li.element a.remove{
  background: #F9F9F9!important;

}
.dark .multitv .list li.element{
	background: #FEFEFE!important;
}

.dark .split{background: #e3e3e3;}
.dark hr{background: transparent;}

.dark .content-blocks .block{
	background: #FEFEFE;
	border: 1px solid #e3e3e3;
}
.dark .content-blocks .block .fields-group{
	border: 1px dashed #e2e2e2;
}
.dark .content-blocks input[type="text"], 
.dark .content-blocks input[type="password"], 
.dark .content-blocks input[type="number"], 
.dark .content-blocks textarea{
	background-color: #FBFBFB !important;
	border-color: #dbdbdb !important;
}
.dark .content-blocks .controls{
	background: transparent!important;
}