/* [ datepicker ] */
.dp_container { position: absolute; z-index: 500; }
.dp_cal { overflow: hidden; width: 220px; margin: 0.25rem 0; background-color: #fff; -webkit-box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); }
.dp_cal p { position: relative; margin: 10px; }
.dp_cal select { font-size: 1em; margin: 2px 3px; width: auto !important }
.dp_cal select option { padding: 1px 3px }
.dp_cal table { border-collapse: collapse; border-spacing: 0; width: 100% }
.dp_cal td.dp_roll { background-color: rgba(0, 0, 0, 0.1); color: #333 !important }
.dp_cal th, .dp_cal td { font-size: 1em; padding: 0.5em 0 !important; text-align: center !important; width: 14.2857%; cursor: default }
.dp_cal tbody th { background-color: #656d79; color: #fff; }
.dp_cal tbody td:nth-child(6), .dp_cal tbody td:nth-child(7) { color: indianred }
.dp_cal .dp_empty { background-color: #f9f9f9 }
.dp_cal .dp_hide { visibility: hidden }
.dp_cal .dp_today { background-color: #4caf50; color: #fff !important }
.dp_cal .dp_selected { background-color: #3189ba; color: #fff !important }
.dp_cal input { width: 68% !important }
.dp_cal button { position: absolute; top: 0; right: 0; margin: 0 !important; width: 30% !important }
/* datepicker icon clear */
.clearDate { position: relative; margin: 0.5rem 0 0 -1.5rem; }
