/* #mainMenu */
#mainMenu {
    background-color: #2b323a;
    color: #8b9298;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
#mainMenu.show {
    overflow: visible;
}
#mainMenu + #tree::before,
#mainMenu + #tree + #main::before {
    content: "";
    position: absolute;
    z-index: 9999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.15s, visibility 0.15s;
    transition: opacity 0.15s, visibility 0.15s;
}
#mainMenu.show + #tree::before,
#mainMenu.show + #tree + #main::before {
    opacity: 1;
    visibility: visible;
}
#mainMenu > .container {
    display: table;
    width: 100%;
    border-collapse: collapse;
}
#mainMenu > .container > .row {
    display: table-row;
}
#mainMenu > .container > .row > .cell {
    display: table-cell;
    vertical-align: top;
}
#mainMenu #nav {
    float: left;
}
#mainMenu #settings {
    float: right;
}
#mainMenu .nav {
    margin: 0;
    white-space: nowrap;
    font-size: 0;
}
#mainMenu .nav > li {
    position: relative;
    display: inline-block;
    font-size: 0.8125rem;
    vertical-align: top;
}
#mainMenu .nav > li.active > a {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.07);
}
#mainMenu .nav > li > a,
#mainMenu .nav .label_searchid {
    display: block;
    position: relative;
    z-index: 1;
    padding: 0 1rem;
    height: 2.2rem;
    line-height: 2.3rem;
    text-decoration: none;
    color: #dcd9e3;
    transition-duration: 0.15s;
}
#mainMenu .nav > li > a:hover,
#mainMenu .nav .label_searchid:hover {
    color: #f3f3f3;
}
/*#mainMenu.show .nav > li.dropdown:hover > a, */
#mainMenu.show .nav > li.dropdown.hover > a {
    background-color: #fff;
    color: #444;
}
#mainMenu .nav > li > a .icon {
    display: inline-block;
    overflow: hidden;
    width: auto;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.5em;
    text-align: center;
    margin: 0.05rem 0 0 0.5rem;
    vertical-align: top;
    border-radius: 50%;
    background: no-repeat 50% 50%;
    background-size: cover;
}
#mainMenu .nav > li > a .icon.photo {
    width: 2rem;
}
#mainMenu .nav > li > a .icon .fa {
    font-size: 1.2rem;
    line-height: 2.1rem;
}
#mainMenu .nav > li .fa {
    min-width: 1em;
    line-height: 2.2rem;
    font-size: 0.875rem;
    vertical-align: top;
}
#mainMenu #nav > li > a > .fa {
    display: none;
}
#mainMenu #nav #bars {
    width: 3.5rem;
    text-align: center;
}
#mainMenu #nav #bars a {
    padding: 0;
}
#mainMenu #nav #bars .fa {
    display: inline-block;
    min-width: 0.25rem;
    width: 1.5rem;
    margin: 0;
    text-align: center;
    overflow: hidden;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
}
.sidebar-closed #mainMenu #nav #bars .fa {
    width: 0.25rem;
}
#mainMenu #system > a > .fa {
    font-size: 1.1rem;
}
#mainMenu .nav .caret,
#mainMenu .nav .divider,
.dropdown-toggle::after {
    display: none;
}
#mainMenu .nav > li > ul {
    display: block;
    position: absolute;
    z-index: 0;
    overflow: auto;
    overflow-x: hidden;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0 0 0.25rem;
    min-width: 15rem;
    max-height: -webkit-calc(100vh - 2.2rem);
    max-height: calc(100vh - 2.2rem);
    font-size: 1em;
    border: none;
    border-radius: 0 0 0.25rem 0.25rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
/*#mainMenu.show .nav > li:hover > a + ul, */
#mainMenu.show .nav > li.hover > a + ul,
#mainMenu.show .nav > li.hover > ul.sub-menu.show {
    opacity: 1;
    visibility: visible;
}
#mainMenu.show .nav > li > ul.sub-menu {
    left: 15rem;
    opacity: 0;
    visibility: hidden;
}
#mainMenu #settings.nav > li > ul {
    left: auto;
    right: 0;
}
#mainMenu .nav > li > ul > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: -1px;
}
#mainMenu .nav > li > ul > li:last-child {
    border: none;
    margin-bottom: 0;
}
#mainMenu .nav > li > ul > li.item-input {
    padding: 0.375em 0.5em;
}
#mainMenu .nav > li > ul > li > a:first-child,
#mainMenu .nav > li > ul > li > span {
    display: block;
    position: relative;
    padding: 0 2rem 0 1rem;
    line-height: 2.2rem;
    color: #444;
    text-decoration: none;
}
#mainMenu .nav > li > ul > li.hover > a:first-child {
    color: #fff;
    background-color: #1976d2;
}
#mainMenu .nav > li > ul > li > span:first-child {
    padding: 0 1rem;
    text-align: center;
    font-size: 0.875em;
    color: #aaa;
}
#mainMenu .nav > li > ul > li.dropdown-back > span {
    text-align: left;
    font-size: inherit;
    color: inherit;
}
#mainMenu .nav > li > ul > li.dropdown-back > span * {
    pointer-events: none;
}
#mainMenu .nav > li > ul > li .fa {
    width: 1.3em;
    margin-right: 0.5em;
    font-size: 0.875rem;
    line-height: 0.8rem;
    text-align: center;
    vertical-align: baseline;
}
#mainMenu .nav > li > ul > li.selected a:first-child::before,
#main .evo-tab-row .tab.changed::before {
    content: "";
    position: absolute;
    right: 0.25em;
    top: 0.25em;
    width: 0.5em;
    height: 0.5em;
    background-color: #ffc107;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    pointer-events: none;
}
#mainMenu .nav > li > ul > li.dropdown-toggle > a > .toggle {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2rem;
    margin: 0;
    line-height: 2rem;
    text-align: center;
}
#mainMenu .nav > li > ul > li.disabled > a {
    opacity: 0.5;
    color: #7d2a24;
}
#mainMenu .nav > li > ul > li.locked > a {
    font-style: italic;
}
#mainMenu .nav > li > ul > li > a small {
    line-height: 1em;
}
#mainMenu .nav li.item-group {
    display: table;
    width: 100%;
    border-collapse: separate;
}
#mainMenu .nav li.item-group > * {
    display: table-cell !important;
    width: 1%;
    padding: 0 0.75rem;
    border: none !important;
    border-left: 1px solid rgba(0, 0, 0, 0.05) !important;
    border-radius: 0;
}
#mainMenu .nav li.item-group > *:first-child {
    width: 100%;
}
#mainMenu .nav li.item-group > *:not(:first-child) .fa {
    margin-right: 0;
}
/* statusbar */
#statusbar {
    position: relative;
    width: 1rem;
    height: 2.2rem;
    line-height: 2.4rem;
    font-size: 0.875em;
    white-space: nowrap;
    float: left;
}
#statusbar .fa {
    font-size: 0.875rem;
}
#statusbar #buildText,
#statusbar #workText {
    display: none;
}
#statusbar .fa {
    margin-right: 0.375rem;
}
#statusbar .fa-warning {
    color: #f44336;
}
/* search */
#mainMenu #searchform {
    position: relative;
}
#mainMenu #searchform label {
    position: relative;
    z-index: 1;
    margin: 0;
    cursor: pointer;
}
#mainMenu #searchform input {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    min-height: 1.5rem;
    height: 1.5rem;
    width: 0;
    padding: 0 0.5rem;
    margin: 0.345rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: left;
    opacity: 0;
    outline: none;
    -webkit-transition: opacity 0.2s, width 0.2s;
    transition: opacity 0.2s, width 0.2s;
}
#mainMenu #searchform input:focus {
    z-index: 9;
    width: 15rem;
    max-width: 15rem;
    background: #000;
    text-align: left;
    border-color: rgba(255, 255, 255, 0.75);
    opacity: 1;
}
#mainMenu #searchform input:focus + .mask {
    opacity: 0.7;
    visibility: visible;
}
#mainMenu #searchform .mask {
    content: "";
    position: absolute;
    z-index: 5;
    top: 0;
    right: -999rem;
    right: -100vw;
    left: -999rem;
    left: -100vw;
    height: 2.2rem;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.65);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    transform: translateZ(0);
}
#mainMenu #searchform .fa-search {
    position: relative;
    z-index: 1;
}
#mainMenu #searchform .fa-refresh {
    position: absolute;
    z-index: 9;
    display: none;
    top: 0.6rem;
    right: 0.8rem;
    line-height: 1em;
}
/* #searchresult */
#searchresult {
    position: absolute;
    z-index: 99;
    overflow: hidden;
    top: 2.2rem;
    right: 0;
    bottom: 0;
    width: 0;
    max-width: 100%;
    background-color: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.25s ease 0.5s;
    transition: 0.25s ease 0.5s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
#searchresult.open {
    width: 20rem;
    box-shadow: 0 0 4.5rem rgba(0, 0, 0, 0.15);
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.5s ease 0.5s;
    transition: 0.5s ease 0.5s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
#searchresult .ajaxSearchResults {
    width: 20rem;
    height: 100%;
    overflow: auto;
}
#searchresult .ajaxSearchResults ul,
#searchresult .ajaxSearchResults li {
    margin: 0;
    padding: 0;
    list-style: none;
}
#searchresult .ajaxSearchResults b,
#searchresult .ajaxSearchResults strong,
#searchresult .ajaxSearchResults a {
    position: relative;
    z-index: 0;
    display: block;
    color: #333;
    padding: 0.25rem 1rem;
    margin-top: -1px;
    border-top: 1px solid rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    box-sizing: border-box;
}
#searchresult .ajaxSearchResults b {
    z-index: 1;
    background-color: #ddd;
}
#searchresult .ajaxSearchResults a {
    padding: 0.25rem 2rem 0.25rem 1rem;
    text-decoration: none;
}
#searchresult .ajaxSearchResults a:hover {
    color: #333;
    background-color: #f2f2f2;
}
#searchresult .ajaxSearchResults a > i {
    position: absolute;
    right: 0;
    top: 50%;
    width: 2rem;
    height: 2rem;
    margin-top: -1rem;
    line-height: 2rem;
    text-align: center;
    color: #1976d2;
}
#searchresult .ajaxSearchResults a.selected > i {
    color: #fff;
}
#searchresult .ajaxSearchResults a.selected {
    z-index: 1;
    background-color: #1976d2;
    color: #fff;
    font-weight: 700;
}
#searchresult .ajaxSearchResults a .text-danger {
    color: #333;
    font-weight: 700;
}
#searchresult .ajaxSearchResults a.selected .text-danger {
    color: #ffc107;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
#searchresult .ajaxSearchResults .locked a {
    font-style: italic;
    color: #646464;
}
#searchresult .ajaxSearchResults .disabled a {
    opacity: 0.5;
    color: #7d2a24;
}
#searchresult .ajaxSearchResults .deleted a {
    color: #a52a2a;
    text-decoration: line-through;
}
@media (min-width: 1200px) {
    #searchresult {
        top: 2.5rem;
    }
    #mainMenu #nav #site a {
        margin-left: 9.25rem;
    }
    body.lightness #mainMenu #nav #site::before {
        content: "";
        display: block;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 9rem;
        height: 100%;
        background: url("../images/misc/logo-navbar.png") 0 50% no-repeat;
        background-size: 8rem;
    }
    body.light #mainMenu #nav #site::before,
    body.dark #mainMenu #nav #site::before,
    body.darkness #mainMenu #nav #site::before {
        content: "";
        display: block;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 9rem;
        height: 100%;
        background: url("../images/misc/logo-navbar-white.png") 0 50% no-repeat;
        background-size: 8rem;
    }
    #mainMenu,
    #mainMenu .nav > li > a,
    #mainMenu .nav .label_searchid,
    #mainMenu .nav > li > a .icon,
    #mainMenu #searchform .mask,
    #mainMenu #nav #site::before {
        height: 2.5rem;
    }
    #mainMenu .nav > li > a,
    #mainMenu .nav .label_searchid,
    #mainMenu .nav > li .fa,
    #mainMenu .nav > li > a .icon {
        line-height: 2.5rem;
    }
    #mainMenu .nav > li > a .icon.photo {
        width: 2.1rem;
        height: 2.1rem;
        margin-top: 0.2rem;
    }
    #mainMenu .nav > li .fa {
        font-size: 0.875rem;
    }
    #mainMenu #nav > li > a {
        padding: 0 1.25rem;
    }
    #mainMenu #nav > li > a > .fa {
        display: none;
    }
    #mainMenu .nav > li > a .icon .fa {
        line-height: 2.5rem;
        font-size: 1.5rem;
    }
    #mainMenu .nav > li > ul {
        box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
    }
    #mainMenu .nav > li > ul > li.item-input {
        padding: 0.575em 0.5em;
    }
    #mainMenu .nav > li > ul > li > a:first-child,
    #mainMenu .nav > li > ul > li > span {
        line-height: 2.5rem;
    }
    #mainMenu #searchform input {
        min-height: 1.875rem;
        height: 1.875rem;
    }
    #mainMenu .nav > li > ul > li.dropdown-toggle > a > .toggle {
        line-height: 2.4rem;
        font-size: 1rem;
    }
}
@media (max-width: 1020px) {
    #mainMenu #nav #bars {
        width: 3rem;
    }
    .nav > li > a,
    #mainMenu .nav > li > ul > li > a,
    #mainMenu .nav > li > ul > li > span,
    #mainMenu .nav .label_searchid {
        padding: 0 0.75rem;
    }
}
@media (max-width: 840px) {
    #statusbar {
        display: none;
    }
    #mainMenu #nav #bars {
        width: 2.5rem;
    }
    #mainMenu .nav > li {
        position: static;
    }
    #mainMenu .nav > li > a {
        font-size: 0;
    }
    #mainMenu .nav > li > a,
    #mainMenu .nav .label_searchid {
        padding: 0 0.5rem;
    }
    #mainMenu .nav > li > a > .username {
        font-size: 0.75rem;
    }
    #mainMenu #nav > li > a > .fa {
        display: inline-block;
    }
    #mainMenu .nav > li > a > .fa {
        display: inline-block;
        width: 1.3em;
        margin-right: 0 !important;
        text-align: center;
    }
    #mainMenu .nav > li > ul {
        left: 0 !important;
        width: 100%;
    }
    #mainMenu .nav > li > ul.sub-menu {
        transform: translate3d(-100%, 0, 0);
    }
    #mainMenu.show .nav > li.active > ul.selected,
    #mainMenu.show .nav > li.hover > ul.selected + ul.sub-menu {
        opacity: 1;
        visibility: visible;
    }
    #mainMenu.show .nav > li.active > ul.selected {
        transform: translate3d(-100%, 0, 0);
    }
    #mainMenu.show .nav > li.hover > ul.selected + ul.sub-menu {
        transform: translate3d(0, 0, 0);
    }
}
@media (max-width: 480px) {
    #mainMenu .nav > li > a .username,
    #searchresult .ajaxSearchResults a > i {
        display: none;
    }
    #mainMenu .nav > li > a .icon {
        margin-left: 0;
    }
    #searchresult.open,
    #searchresult .ajaxSearchResults {
        width: 100%;
    }
}
/* theme modes */
/* lightness */
.lightness #mainMenu {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.lightness #mainMenu {
    background-color: #f1f1f1;
    color: #464646;
}
.lightness #mainMenu .nav > li > a,
.lightness #mainMenu .nav .label_searchid {
    color: #464646;
}
.lightness #mainMenu .nav > li.active > a {
    color: #222;
    background: #fff;
}
.lightness #mainMenu.show .nav > li.dropdown.hover > a {
    color: #222;
}
/* light */
.light #mainMenu {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
}
.light #mainMenu {
    background-color: #343944;
    color: #cacaca;
}
.light #mainMenu .nav > li > a,
.light #mainMenu .nav .label_searchid {
    color: #dcd9e3;
}
.light #mainMenu.show .nav > li.dropdown.hover > a {
    color: #444;
}
/* dark */
.dark #mainMenu {
    -webkit-box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
}
.dark #mainMenu {
    background-color: #202329;
    color: #bbb;
}
.dark #mainMenu .nav > li > a,
.dark #mainMenu .nav .label_searchid {
    color: #bbb;
}
.dark #mainMenu.show .nav > li.dropdown.hover > a {
    color: #444;
}
/* darkness */
.darkness #mainMenu {
    -webkit-box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
}
.darkness #mainMenu {
    background-color: #202329;
    color: #bbb;
}
.darkness #mainMenu .nav > li > a,
.darkness #mainMenu .nav .label_searchid,
.dark.navbar-left #mainMenu .nav > li > a {
    color: #bbb;
}
.darkness #mainMenu.show .nav > li.dropdown.hover > a,
.dark.navbar-left #mainMenu.show .nav > li.dropdown.hover > a {
    color: #eee;
    background-color: #343942;
}
.darkness #mainMenu .nav > li > ul,
.dark.navbar-left #mainMenu .nav > li > ul {
    background-color: #343942;
}
.darkness #mainMenu .nav > li > ul > li > a:first-child,
.darkness #mainMenu .nav > li > ul > li > span,
.dark.navbar-left #mainMenu .nav > li > ul > li > a:first-child,
.dark.navbar-left #mainMenu .nav > li > ul > li > span,
.dark.navbar-left #mainMenu .nav li.item-group > * {
    color: #eee;
}
.darkness #mainMenu .nav > li > ul > li > span:hover,
.dark.navbar-left #mainMenu .nav > li > ul > li > span:hover {
    background-color: inherit;
}
.darkness #mainMenu .nav li.item-group > *,
.dark.navbar-left #mainMenu .nav li.item-group > * {
    background-color: transparent;
}
.darkness #searchresult {
    background-color: #202329;
    border-left: 1px solid #282c34;
}
.darkness #searchresult .ajaxSearchResults b {
    background-color: #1a1c21;
}
.darkness #searchresult .ajaxSearchResults b,
.darkness #searchresult .ajaxSearchResults strong,
.darkness #searchresult .ajaxSearchResults a {
    border-color: #282c34;
    color: #aaa;
}
.darkness #searchresult .ajaxSearchResults a:hover {
    background-color: #343942;
}
.darkness #searchresult .ajaxSearchResults .disabled a {
    color: #da4439;
}
/* navbar left */
@media (min-width: 768px) {
    .navbar-left #resizer {
        top: 1.9rem;
    }
    .navbar-left #tree,
    .navbar-left #main {
        top: 0;
    }
    .navbar-left #tree {
        padding-left: 3rem;
    }
    .navbar-left.sidebar-closed #tree {
        padding-left: 0;
    }
    .navbar-left.sidebar-closed #main {
        left: 3rem !important;
    }
    .navbar-left #mainMenu {
        width: 3rem;
        height: 100%;
    }
    .navbar-left #mainMenu > .container {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-left #mainMenu > .container > .row {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-left #mainMenu > .container > .row > .cell {
        display: block;
    }
    .navbar-left #mainMenu #nav,
    .navbar-left #mainMenu #settings {
        float: none;
    }
    .navbar-left #mainMenu #settings {
        margin-top: 0.5rem;
        padding-top: 0.5rem;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
    }
    .navbar-left #mainMenu .nav > li {
        width: 100%;
        position: static;
        display: block;
        text-align: center;
    }
    .navbar-left #mainMenu .nav > li > a {
        height: auto;
    }
    .navbar-left #mainMenu #nav > li > a,
    .navbar-left #mainMenu #settings > li > a {
        padding: 0;
    }
    .navbar-left #mainMenu #settings > li > a {
        padding: 0.5rem 0;
    }
    .navbar-left #mainMenu #nav > li > a > .fa {
        display: inline-block;
    }
    .navbar-left #mainMenu #nav > li > a > .fa,
    .navbar-left #mainMenu #searchform .fa,
    .navbar-left #mainMenu #preview .fa,
    .navbar-left #mainMenu #nav > li > .fa,
    .navbar-left #mainMenu #nav > li > a > .fa,
    .navbar-left #mainMenu #system > a > .fa {
        font-size: 0.875rem;
    }
    .navbar-left #mainMenu .nav > li > ul,
    .navbar-left #mainMenu #settings.nav > li > ul {
        left: 3rem;
        top: 0;
        right: auto;
        bottom: 0;
        max-height: 100%;
        min-width: 20rem;
        padding: 0;
        border-radius: 0;
    }
    .navbar-left #mainMenu #settings.nav > li > ul {
        max-height: none;
    }
    .navbar-left #mainMenu #settings.nav > #account,
    .navbar-left #mainMenu #settings.nav > #system,
    .navbar-left #mainMenu #settings.nav > #fullscreen {
        position: absolute;
        width: 3rem;
    }
    .navbar-left #mainMenu #settings.nav > #account {
        bottom: 0;
    }
    .navbar-left #mainMenu #settings.nav > #system {
        bottom: 3.2rem;
    }
    .navbar-left #mainMenu #settings.nav > #fullscreen {
        bottom: 5rem;
    }
    .navbar-left #mainMenu #settings.nav > #account > ul,
    .navbar-left #mainMenu #settings.nav > #system > ul {
        top: auto;
        bottom: 0;
    }
    .navbar-left #mainMenu #settings.nav > #system > ul {
        bottom: -5rem;
    }
    .navbar-left #mainMenu .nav > li > .sub-menu {
        margin-left: 3rem;
        border-radius: 0;
    }
    .navbar-left #mainMenu .menu-item-text,
    .navbar-left #mainMenu .username {
        display: none;
    }
    .navbar-left #mainMenu .icon,
    .navbar-left #mainMenu .icon.photo,
    .navbar-left #mainMenu .nav > li > a .icon {
        margin-top: 0;
        margin-left: 0;
    }
    .navbar-left #mainMenu #nav #bars {
        width: 100%;
    }
    .navbar-left #mainMenu #nav #site a {
        position: static;
        padding: 0.5rem 0;
    }
    .navbar-left #mainMenu #nav #site a::before {
        display: block;
        content: "";
        left: auto;
        width: 100%;
        height: 2.25rem;
        background: transparent url("../images/misc/logo-navbar-left.png")
            no-repeat 50% 50%;
        background-size: 2.25rem;
    }
    .navbar-left #mainMenu #nav #site a i {
        display: none;
    }
    .navbar-left #mainMenu #searchform input,
    .navbar-left #mainMenu #searchform .mask {
        left: 0;
        right: auto;
    }
    .navbar-left #mainMenu #searchform .mask {
        display: none;
        width: 15.75rem;
        height: 2.6rem;
    }
    .navbar-left #searchresult {
        top: 0;
    }
    /* theme modes */
    .navbar-left.lightness #mainMenu {
        -webkit-box-shadow: 0 2px 0 1px rgba(0, 0, 0, 0.15);
        box-shadow: 0 2px 0 1px rgba(0, 0, 0, 0.15);
    }
    .navbar-left.lightness #mainMenu .nav > li {
        /*border-bottom-color: rgba(0,0,0,0.05);*/
    }
    .navbar-left.light .treeframebody {
        background-color: #f3f3f3;
    }
    .navbar-left.dark #mainMenu {
        -webkit-box-shadow: 0 2px 0 1px rgba(255, 255, 255, 0.07);
        box-shadow: 0 2px 0 1px rgba(255, 255, 255, 0.07);
        background-color: #17191e;
    }
    .navbar-left.dark #mainMenu .nav > li > a,
    .navbar-left.dark #mainMenu .nav .label_searchid {
        color: #dcd9e3;
    }
    .navbar-left.darkness #mainMenu {
        -webkit-box-shadow: 0 2px 0 1px rgba(255, 255, 255, 0.07);
        box-shadow: 0 2px 0 1px rgba(255, 255, 255, 0.07);
        background-color: #17191e;
    }
    .navbar-left.light #mainMenu #nav #site a::before,
    .navbar-left.dark #mainMenu #nav #site a::before,
    .navbar-left.darkness #mainMenu #nav #site a::before {
        background-image: url("../images/misc/logo-navbar-left-white.png");
    }
    .navbar-left.lightness #mainMenu #settings {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
}
@media (min-width: 1200px) {
    .navbar-left #tree {
        padding-left: 5rem;
    }
    .navbar-left.sidebar-closed #main {
        left: 5rem !important;
    }
    .navbar-left #mainMenu,
    .navbar-left #mainMenu #nav.nav > #bars,
    .navbar-left #mainMenu #settings.nav > #account,
    .navbar-left #mainMenu #settings.nav > #system {
        width: 5rem;
    }
    .navbar-left #mainMenu #nav #site::before {
        display: none !important;
    }
    .navbar-left #mainMenu #nav #site a {
        margin-left: 0;
    }
    .navbar-left #mainMenu #nav > li > a > .fa,
    .navbar-left #mainMenu #searchform .fa,
    .navbar-left #mainMenu #preview .fa,
    .navbar-left #mainMenu #nav > li > .fa,
    .navbar-left #mainMenu #nav > li > a > .fa,
    .navbar-left #mainMenu #system > a > .fa {
        font-size: 1.125rem;
    }
    .navbar-left #mainMenu .menu-item-text,
    .navbar-left #mainMenu .username {
        display: block;
        font-size: 0.6875rem;
        line-height: 1em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 0.3125rem 0.5rem;
    }
    .navbar-left #mainMenu #nav #site a .menu-item-text {
        padding-top: 0.5rem;
        padding-bottom: 0;
    }
    .navbar-left #mainMenu #settings.nav > #system {
        bottom: 5rem;
    }
    .navbar-left #mainMenu .nav > li > ul,
    .navbar-left #mainMenu #settings.nav > li > ul {
        left: 5rem;
    }
    .navbar-left #mainMenu .nav > li > .sub-menu {
        margin-left: 5rem;
    }
}
