.coolButton,
.coolButtonHover,
.coolButtonActiveHover,
.coolButtonActive,
.coolButtonActiveDisabled,
.coolButtonDisabled,
.coolButtonUpDisabled {
	cursor: 			default;
	font: 				icon;
	color:				black;
	border:				0px;
	padding:			4px 5px 4px 5px;
	white-space:		nowrap;
	vertical-align:		middle;
	background-image:	url("../images/misc/buttonbar.gif");
}

.coolButton img {
	filter:				gray();
}

.coolButtonHover {
	border:		1px solid black;
	border-left-color:	ButtonHighlight;
	border-right-color:	ButtonShadow;
	border-top-color:	ButtonHighlight;
	border-bottom-color:ButtonShadow;	
	padding:			3px 4px 3px 4px;		
	background-image:	url("../images/misc/buttonbar_gs.gif");
}

.coolButtonActiveHover {
	border:		1px solid black;
	border-left-color:	ButtonShadow;
	border-right-color:	ButtonHighlight;
	border-top-color:	ButtonShadow;
	border-bottom-color:ButtonHighlight;
	padding:			4px 3px 2px 5px;		
	background-image:	url("../images/misc/buttonbaractive.gif");
}

.coolButtonActive {
	border:		1px solid black;
	border-left-color:	ButtonShadow;
	border-right-color:	ButtonHighlight;
	border-top-color:	ButtonShadow;
	border-bottom-color:ButtonHighlight;
	padding:			4px 3px 2px 5px;		
	background-image:	url("../images/misc/buttonbaractive.gif");
}

.coolButtonUpDisabled,
.coolButtonActiveDisabled,
.coolButtonDisabled {
	border:				1px solid #003399;
	padding:			3px 4px 3px 4px;
	color:				GrayText;
	border-width: 		0px;
}

.coolButtonActiveDisabled {
	border:				1px solid #003399;
	padding:			3px 4px 3px 4px;
}

.coolButtonUpDisabled {

}

/* My latest build of mozilla crashed with the opacity */
.coolButtonUpDisabled img,
.coolButtonActiveDisabled img,
.coolButtonDisabled img {
	-moz-opacity:		0.5;
}

/* IE specific
 * When the button becomes disbabled the innerHTML is enclosed by two spans
 * This is done so that the image will look disabled using filters
 */
.coolButtonUpDisabled .coolButtonDisabledContainer,
.coolButtonActiveDisabled .coolButtonDisabledContainer,
.coolButtonDisabled .coolButtonDisabledContainer {
	display:			block;
	background:			GrayText;
	filter:				chroma(color=#010101) dropshadow(color=ButtonHighlight, offx=1, offy=1);
	width:				100%;
	height:				100%;
}

.coolButtonUpDisabled .coolButtonDisabledContainer .coolButtonDisabledContainer,
.coolButtonActiveDisabled .coolButtonDisabledContainer .coolButtonDisabledContainer,
.coolButtonDisabled .coolButtonDisabledContainer .coolButtonDisabledContainer {
	background:			Transparent;
	filter:				gray()
						/* Remove all bright shades of gray */
						chroma(color=#ffffff) chroma(color=#fefefe) chroma(color=#fdfdfd)
						chroma(color=#fcfcfc) chroma(color=#fbfbfb) chroma(color=#fafafa)
						chroma(color=#f9f9f9) chroma(color=#f8f8f8) chroma(color=#f7f7f7)
						chroma(color=#f6f6f6) chroma(color=#f5f5f5) chroma(color=#f4f4f4)
						chroma(color=#f3f3f3) 
						mask(color=#010101);
}

/* end IE specific */