.dynamic-tab-pane-control.tab-pane {
	position:	relative;
	width:		100%;
}

.dynamic-tab-pane-control .tab-row .tab {
	font:							Tahoma;
	font-size:						11px;
	cursor:							pointer;
	display:						inline;
	margin:							1px -3px 1px 2px;
	float:							left;
	padding:						2px 15px 3px 15px;
	z-index:						1;
	position:						relative;
	top:							0;
	background-position: 			top left;
	background-repeat: 				repeat-x;	
	background:						white;
	border:							1px solid #003399;
	border-bottom:					0;
	background-image: 				url("../images/misc/buttonbar.gif");
}

.dynamic-tab-pane-control .tab-row .tab.hover {
	background-position: 			top left;
	background-repeat: 				repeat-x;	
	background:						white;
	border:							1px solid #003399;
	border-bottom:					0;
	background-image: 				url("../images/misc/buttonbar_gs.gif");
}

.dynamic-tab-pane-control .tab-row .tab.selected {
	border-bottom:	0;
	z-index:		3;
	padding:		2px 6px 5px 7px;
	margin:			1px -3px -2px 0px;
	top:			-2px;
	background:						white;
	border:							1px solid #003399;
	border-bottom:					0;
}

.dynamic-tab-pane-control .tab-row .tab span {
	font:							Tahoma;
	font-size:						11px;
	color:							#003399;
	font-weight:					normal;
	text-decoration:				none;
}

.dynamic-tab-pane-control .tab-page {
	clear:			both;
	background:		white;
	border:			1px solid #003399;
	z-index:		2;
	position:		relative;
	top:			-2px;
	font:			Message-Box;
	padding:		10px;
}

.dynamic-tab-pane-control .tab-row {
	z-index:		1;
	white-space:	nowrap;
}
