/*--------------------------------------------------|
| Topbar frame MODx style|
|---------------------------------------------------|
| Added by Banzai               |
|--------------------------------------------------*/
.body {
	margin : 0px 0px 0px 0px;
	background: #000000;
}

SPAN, TD, TABLE {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color: White;
}
TD {
	padding-top: 0px;
	font-size:11px;
}
SPAN {
	font-size:10px;
}
a, a:hover, a:visited, a:active {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color: White;
	text-decoration:none;
}