{
  "name": "evolutioncms/custom",
  "require": {
    "barryvdh/laravel-ide-helper": "~2.4",
    "vlucas/phpdotenv": "~2.2"
  },
  "autoload": {
    "psr-4": {
      "EvolutionCMS\\Custom\\": "src/"
    }
  }
}
