<?php
require_once __DIR__ . '/../vendor/autoload.php';

global $database_type,
       $database_server,
       $database_user,
       $database_password,
       $database_connection_charset,
       $database_connection_method,
       $database_collation,
       $dbase,
       $table_prefix,
       $https_port,
       $coreClass,
       $session_cookie_path,
       $session_cookie_domain;

$envFile = __DIR__ . '/.env';
if (file_exists($envFile)) {
    if (!is_readable($envFile)) {
        throw new Exception("!!! .env file can't readable");
    }

    /**
     * @see: https://github.com/vlucas/phpdotenv
     */
    $dotenv = new Dotenv\Dotenv(__DIR__);
    $dotenv->load();

    if (!empty($_ENV['DB_TYPE'])) {
        $database_type = $_ENV['DB_TYPE'];
    }

    if (!empty($_ENV['DB_HOST'])) {
        $database_server = $_ENV['DB_HOST'];
    }

    if (!empty($_ENV['DB_USERNAME'])) {
        $database_user = $_ENV['DB_USERNAME'];
    }

    if (!empty($_ENV['DB_PASSWORD'])) {
        $database_password = $_ENV['DB_PASSWORD'];
    }

    if (!empty($_ENV['DB_CHARSET'])) {
        $database_connection_charset = $_ENV['DB_CHARSET'];
    }

    if (!empty($_ENV['DB_METHOD'])) {
        $database_connection_method = $_ENV['DB_METHOD'];
    }

    if (!empty($_ENV['DB_COLLATION'])) {
        $database_collation = $_ENV['DB_COLLATION'];
    }

    if (!empty($_ENV['DB_DATABASE'])) {
        $dbase = '`' . trim($_ENV['DB_DATABASE'], '`') . '`';
    }

    if (!empty($_ENV['DB_PREFIX'])) {
        $table_prefix = $_ENV['DB_PREFIX'];
    }

    if (!empty($_ENV['HTTPS_PORT'])) {
        $https_port = $_ENV['HTTPS_PORT'];
    }

    if (!empty($_ENV['CORE_CLASS'])) {
        $coreClass = $_ENV['CORE_CLASS'];
    }

    if (!empty($_ENV['COOKIE_PATH'])) {
        $session_cookie_path = $_ENV['COOKIE_PATH'];
    }

    if (!empty($_ENV['COOKIE_DOMAIN'])) {
        $session_cookie_domain = $_ENV['COOKIE_DOMAIN'];
    }

    if (!empty($_ENV['MODX_BASE_PATH'])) {
        define('MODX_BASE_PATH', $_ENV['MODX_BASE_PATH']);
    }

    if (!empty($_ENV['MODX_BASE_URL'])) {
        define('MODX_BASE_URL', $_ENV['MODX_BASE_URL']);
    }

    if (!empty($_ENV['MODX_SITE_URL'])) {
        define('MODX_SITE_URL', $_ENV['MODX_SITE_URL']);
    }

    if (!empty($_ENV['DB_TYPE'])) {
        define('MODX_SITE_HOSTNAMES', $_ENV['DB_TYPE']);
    }

    if (!empty($_ENV['MGR_DIR'])) {
        define('MGR_DIR', $_ENV['MGR_DIR']);
    }

    if (!empty($_ENV['MODX_MANAGER_PATH'])) {
        define('MODX_MANAGER_PATH', $_ENV['MODX_MANAGER_PATH']);
    }

    if (!empty($_ENV['MODX_MANAGER_URL'])) {
        define('MODX_MANAGER_URL', $_ENV['MODX_MANAGER_URL']);
    }

    if (!empty($_ENV['EVO_BOOTSTRAP_FILE'])) {
        define('EVO_BOOTSTRAP_FILE', $_ENV['EVO_BOOTSTRAP_FILE']);
        require_once EVO_BOOTSTRAP_FILE;
    }

    if (!empty($_ENV['EVO_SERVICES_FILE'])) {
        define('EVO_SERVICES_FILE', $_ENV['EVO_SERVICES_FILE']);
    }
}
