body {
	text-align: 		center;
	/*background-color: 	#99CC00;*/
	background-color: 	#000000;
	color: 				#000;
	font: 		        normal 11px/15px Verdana, Arial, Helvetica, sans-serif;
	/*background-image: url(img_body_bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;*/
}

p,td,th {
	font-size: 			100%; }

.sidebar {
	width: 				70px;}

.mainTable {
	vertical-align:		middle;
	width: 				100%;
	height:				550px;
	background: 		#fff;
	margin: 			auto;
	text-align: 		left;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

.mainTable tr td { 
	padding: 			0px; }

.viewer {
	width:100%;
/*	height:330px; 
	overflow:auto; */
	height: auto !important;
	height: 330px;
	min-height: 330px; 
	padding-top:15px;
	border: 1px solid #777;
	border-width: 1px 0 1px 0;	
}
a { 
	color: #821517; 
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.title {
	font-size: 16px;
	color: #707070;
	font-weight: bold;
}
.subtitle {
	font-size: 13px;
	color: #707070;
	font-weight: bold;
}
h1, h4 {
	font-size: 13px;
	color: #000;
	margin: 0 0 6px;
}
h4 {
	font-size: 12px;
	margin-bottom: 0;
	line-height: 14px;
}

.border-top-bottom {
	border: 1px solid Black;
	border-width: 1px 0;
	background-image: url(footer_bg.png);
}

.smallText {
	font-size: 9px;
	color: #99CD00;
	background-color: #000000;
}

img { 
	border: 0; }
ul {
	margin: 0 0 0 20px; }

li {
	padding: 0px;
	margin: 6px 0px 0px 15px;
	list-style: disc outside url("dot.gif");
}


.ok, .notok { 
	color :green;
	font-weight: bold;
}	
.notok { 
	color: red;
}

label {
    width: 200px;
    float: left;
    display:block;
}

div.labelHolder input {
    width: 200px; }

div.clickHere {
    color: #0000CD;
    margin: 20px 0 20px 0; }

div.clickHere a{
    color: #0000CD;}
    
div.status {
    margin: 0 0 30px 0; }

#testbox {
	width:				100%; 
	margin-top:			2px; 
	display:			none; 
	border:				0px; 
	border-top:			1px solid silver; 
	background-color:	#eeeeee; 
	font-weight:		bold;   }

p.actions a {
    margin: 0 3px;
    padding: 1px 4px 2px;
    border: 1px solid #777;
    border-top-color: #bbb;
    border-left-color: #bbb;
    background: #e4e4e4;
    display: block;
    float: left;
    color: #222;
}
p.actions a:hover {
    margin: 1px 2px -1px 4px;
    border: 1px solid #bbb;
    border-top-color: #777;
    border-left-color: #777;
    text-decoration: none;
}
p.actions {
    line-height: 1;
    margin-top: 3px;
}
p.actions a:active {
    background-color: #ccc;
}

.clear {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
}