[+as.showForm:is=`1`:then=`
<form [+as.formId+] action="[+as.formAction+]" method="post">
    <select name="search[]" id="ajaxSearch_select" size="3" multiple="multiple">
      [+as.selectList+]
    </select>
		<input type="hidden" name="advSearch" value="[+as.advSearch+]" />
		<fieldset>
    <label for="ajaxSearch_submit">
      <input id="ajaxSearch_submit" type="submit" name="sub" value="[+as.submitText+]" />
    </label>
    </fieldset>
</form>
`+]
[+as.showIntro:is=`1`:then=`
<p class="ajaxSearch_intro" id="ajaxSearch_intro">[+as.introMessage+]</p>
`+]
[+as.showResults:is=`1`:then=`
[+as.results+]
`+]