.js-fileapi-wrapper {
    min-height: 300px;
    opacity:1;
}
.dnd_hover {
    opacity:0.5;
}
#euiUploadProgress {
    padding:10px;
    height:22px;
    box-sizing: content-box;
}
#euiFilesList{
    height:285px;
    overflow-y: scroll;
}
#euiUploadState table {
    width:100%;
}
#euiUploadState table td, #euiUploadState table th {
    padding:3px 5px;
}
#euiUploadState .sgrow1 {
    width:251px;
}
#euiUploadState .sgrow2 {
    width:65px;
    text-align: center;
}
#euiUploadState .sgrow3 {
    text-align: center;
}
#euiUploadState .progress .complete {
    color:green;
}
#euiUploadState .progress .error {
    color:red;
}
#euiUploadState table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}
#euiUploadState table tbody tr:nth-child(odd) {
    background-color: #fff;
}
