
#search {
	margin-top: 25px;
	position:relative;
	float: right;
	width:476px;
	z-index:900;
	padding-right: 15px;
	_margin-top: 42px;
}

#search img {display: none;}

#search-directory {
	position:absolute;
	top:26px;
	left:5px;
	width:496px;
	height:32px;
	overflow:hidden;
	z-index:400;
}
#search fieldset, #sidebarlogin fieldset{
	border: none;
	margin: 0px;
	padding: 0px;
}
#search form, #sidebarlogin form {
	border: none;
	margin: 0px;
	padding: 0px;
}


#search label, #sidebarlogin label {
color: #444444;
}


#search input, #sidebarlogin input {
	border-top: 1px solid #75767B;
	border-left: 1px solid #75767B;
	border-bottom: 1px solid #B6B9C0;
	border-right: 1px solid #B6B9C0;
	height: 19px;
}
#sidebarlogin label {
display: block;
margin-top: 5px !important;
}

#sidebarlogin input {
	width: 100%;
}
#sidebarlogin #checkbox_1 {	width: auto; float: right; border: 0 !important;}
#sidebarlogin h3 {
display: none;
}
.button {width: auto !important; height: auto !important; padding: 2px !important; margin-top: 5px !important; margin-bottom: 5px !important;}

#sidebarlogin #forgotpsswd {
	font-size: 70%;
	display: block;
	float: right;
	margin-top: -25px;
}
#search select {
	border-top: 1px solid #75767B;
	border-left: 1px solid #75767B;
	border-bottom: 1px solid #B6B9C0;
	border-right: 1px solid #B6B9C0;
	height: 19px;
}
#search textarea {
	border-top: 1px solid #75767B;
	border-left: 1px solid #75767B;
	border-bottom: 1px solid #B6B9C0;
	border-right: 1px solid #B6B9C0;
	height: 19px;
}



#search-txt {
position: absolute;
top: 0px;
left: 158px;
width: 57px;
height: 21px;
color: #ffffff;
font-size: 13px;
line-height: 23px;
}


#ajaxSearch_input {
position: absolute;
top: 0px;
left: 220px;
width: 165px;
height: 19px;
}

#ajaxSearch_submit {
width: 70px !important;
height: 21px !important;
margin: 0 !important;
border: 0 !important;
background: transparent  url(images/search_70x21.gif) no-repeat center top;
padding: 55px 0 0 !important;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
position: absolute;
top: 0px;
left: 400px;

}

        #ajaxSearch_output {
			background-color: #000000;
			background-image: url(images/search_bg_1_71.gif);
			background-repeat: repeat-x;
			background-position: center center;
			color: white;
			-moz-opacity:0.9;
			opacity:0.9;
			filter: alpha(opacity=90);
			position: absolute;
			top: 23px;
			left: 220px;
			width: 165px !important;
			z-index: 1;
			border: 0;
			padding: 0;
			margin: 0;
        }
        #ajaxSearch_output a:hover{
			color: #fff;
			background-repeat: no-repeat;
			background-color: #8dbc00;
			background-position: left center;
			display: block;
			width: 93% !important;
			padding: 5px;
		}
		#ajaxSearch_output a{
			color: #ffffff;
			background-repeat: no-repeat !important;
			text-align: left;
			border-right: 1px solid #2f2f2f;
			border-top: 1px solid #2f2f2f;
			border-left: 1px solid #2f2f2f;
			font-weight: normal;
			width: 172px;
			background-position: left center;
			display: block;	
			width: 93% !important;
			padding: 5px;
	}
        .ajaxSearch_paging {
    
        }
        .AS_ajax_result {
            color: #444;
            margin-bottom: 3px;
        }
        .AS_resultLink {
            text-decoration: underline;
        }
        .AS_resultDescription{
            color: #555;
        }
        .AS_ajax_more {
            color: #555;
        }

		.AS_intro { display: none;}







#dirsearch-txt {
position: absolute;
top: 0px;
left: 0px;
width: 118px;
height: 21px;
color: #4E5760;
font-size: 13px;
line-height: 23px;
}

#dirsearch-inp {
position: absolute;
top: 0px;
left: 123px;
width: 201px;
height: 18px;
}

#dirsearch-btn {
position: absolute;
top: 0px;
left: 329px;
width: 70px;
height: 21px;
}



#dirsearch-txt2 {
position: absolute;
top: 3px;
left: 405px;
width: 170px;
height: 21px;
color: #4E5760;
}

#dirsearch-txt2 a {
color: #4E5760;
}





#join {
position: relative;
}



#join-inp {
margin-top: 5px;
width: 158px;
height: 18px;
}

#join-btn {
margin-top: 5px;
width: 120px;
height: 21px;
}
