.mceButtonNormal, .mceButtonOver, .mceButtonDown, .mceSeparator, .mceButtonDisabled, .mceButtonSelected {
	margin-top: 1px;
	margin-left: 1px;
}

.mceButtonNormal {
	border-top: 0px solid;
	border-left: 0px solid;
	border-bottom: 0px solid;
	border-right: 0px solid;
	border-color: #F0F0EE;
	cursor: hand;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 1px;
	margin-bottom: 1px;	
}

.mceButtonOver {
	border-top: 1px solid buttonhighlight;
	border-left: 1px solid buttonhighlight;
	border-bottom: 1px solid buttonshadow;
	border-right: 1px solid buttonshadow;
	cursor: hand;
	background-image: url("../../../../../images/misc/buttonbar_gs.gif");
}

.mceButtonDown {
	border-bottom: 1px solid buttonhighlight;
	border-right: 1px solid buttonhighlight;
	border-top: 1px solid buttonshadow;
	border-left: 1px solid buttonshadow;
	cursor: hand;
	background-image: url("../../../../../images/misc/buttonbar_gs.gif");
}

.mceButtonSelected {
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	border-left: 1px solid;
	border-color: #C0C0BB;
	cursor: hand
}

.mceButtonDisabled {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	-moz-opacity:0.3;
	opacity: 0.3;
	border-top: 1px solid;
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-color: #F0F0EE;
	cursor: text
}

.mceSeparator {
	position: relative;
	margin: 0px;
	width: 4px;
	height: 16px;
	padding: 0px;
	background-image: 				url("../../../../../images/misc/buttonbarseperator.gif");
	background-position: 			top;
	background-repeat: 				repeat-x;
}

.mceSeparatorLine {
	position: relative;
	margin: 0px;
	width: 4px;
	height: 16px;
  	padding: 0px;
  	background-image: 				url("../../../../../images/misc/buttonbarseperator.gif");
	background-position: 			top;
	background-repeat: 				repeat-x;
}

.mceSelectList {
	font-family: "MS Sans Serif";
	font-size: 7pt;
	font-weight: normal;
	margin-top: 3px;
	padding: 0px;
	display: inline;
	vertical-align: top;
	background-color: #F0F0EE
}

.mceLabel, .mceLabelDisabled {
	font-family: "MS Sans Serif";
	font-size: 9pt;
}

.mceLabel {
	color: #000000;
}

.mceLabelDisabled {
	cursor: text;
	color: #999999;
}

.mceEditor {
	background: #F0F0EE;
	border: 1px solid #003399;
}

.mceEditorArea {
	font-family: "MS Sans Serif";
	background: #FFFFFF;
}

.mceToolbar {
	background: #F0F0EE;
	background-image: url("../../../../../images/misc/toolbar_tiny.jpg");
	border-top: 1px solid #cccccc;
}