BODY {
	margin: 				0px 0px 0px 0px;
	font-size: 9px;
	color: black;
}
.menuHeader {
	font-family:			Tahoma, Arial, Helvetica, sans-serif;
	color:				#003399;
	font-size: 			11px;
	font-weight:			bold;
	text-align:			left;
	vertical-align:			top;
	padding:			0px 0px 0px 7px;
}

	

.tdnormaltext {
	font-family:			tahoma, Arial, Helvetica, sans-serif;
	color:				#000000;
	font-size: 			9px;
	height:				8;
	text-align : 			left;
	cell-spacing:			2px;
}	
.buttonoc a, .buttonoc a:visited{
	font-family:			tahoma, Arial, Helvetica, sans-serif;
	background:			url("images/buttonbar.gif");
	font-size: 			11px;
	padding: 			0px 2px 0px 2px;
	text-decoration:		none;
	display: 			block;
	}

.buttonoc a:hover{
	background: 			url("images/buttonbar_gs.gif");
	color:				#000000;
	}



a, a:visited { 
	font-family:			tahoma, Arial, Helvetica, sans-serif;
	color:				#003399;
	font-size: 			11px;
	padding: 			0px 2px 0px 2px;
	text-decoration:		none;
	display: block;

}

a:hover { 
	background-color: 		#000080;
	color:				#FFFFFF;

}

a img {
	border:				0px;
	vertical-align:			middle;
}
