/* MODx Green Manager template last update: 08-01-2007*/

body {
	margin: 0;
	padding: 0;
	background: #F4F4F4 url(images/bg/body.jpg) repeat-x top left;
	border-color: #8CAC45;
	font: normal 11px/15px Verdana, Arial, Helvetica, sans-serif;
		_font-family: Arial, sans-serif;
	color: #111;
}
body, td, p {
	font-size: 9pt;
}
	
body * { 
	margin: 0; 
	padding: 1; 
}

.warning{
	color: #821517;
	font-weight: bold;
}

.success{
	color: #090;
	font-weight: bold;
}


button {
	color: #821517;
	font-weight: bold;
	width: 112px;
	margin-right: 5px;
	cursor: pointer;
}

a, a:active, a:visited, a:link {
	font-size: 9pt;
	color: #1a32c7;
	text-decoration: underline;
}

a:hover {
	color: #0f1e76;
}

input, .inputBox {
	font-size: 10px;
}

hr {
	color: #821517;
	background-color: #821517;
	height: 1px;
}

.split {
	background: #821517 url(images/misc/line.gif) repeat-x;
	height: 1px;
	font-size: 0;
	clear: both;
	padding: 0;
}

#previewIframe {
    width:100%;
    height:400px;
}

.stay {
	border-bottom: 1px solid #32CD32;
	margin-left: 0px; 
	}
	

.messageRead {
	color: Black;
}

.messageUnread {
	color: 	#3CB371;
	font-weight: bold;
}

.subTitle {
	width: 100%;
	height: 44px !important;
	padding: 0px;
	margin-bottom: 10px;
	margin-right: 10px;
	background-image: 	url(images/bg/button_up.gif);
	background-position: 	top;
	background-repeat: 	repeat-x;	
}

.right {
	font-weight: bold;
	color: #000;
	float: right;
	padding: 0 20px 20px;

}

.fakefieldset {
	border: 1px solid #fff;
	background: 	#fff;
	font-size: 	12px;
	padding: 	10px;
	background-position: 	top right;
	background-repeat: 	no-repeat;	
}

.fakefieldset strong, .fakefieldsettitle {
	color: #990033;
	font-weight: bold;
}

.sectionHeader, .showHideVisible {
	margin: 0 10px 4px 0x;
	padding: 5px 3px 5px 5px;
	font-weight: bold;
	color:                     #fff;
	background-position: 	top left;
	background-repeat: 	repeat-x;	
	background: #9EBD5A;
	border: 1px solid #000000;
	background-image: 	url(images/bg/button_dn.gif);
}
/*.sectionHeader {
    padding: 5px 3px 5px 18px;
    background: url(images/misc/dot.gif) no-repeat 6px 45%;
}*/

.sectionBody, .layerVisible {
	position: relative;
	display: none;
	background: #fff;
	border: 1px solid #E2E2E2;
	margin: 3px 10px 20px;
	padding: 10px;
	background-position: 	top right;
	background-repeat: 	no-repeat;	
	display: block;
}

.showHideVisible, .layerVisible {
	margin: 0 10px 4px 10px;
}

.comment {
	font-size: 11px;
	color: Black;
}

thead, .fancyrow {
   color: #fff;
	height: 18px !important;
	background-color: 	#60605F;

}

thead td {
	color:#fff;
	border-top:1px solid #fff;
}

.fancyrow2 {
	height: 18px !important;
	background-image: 	url(images/bg/buttonbar.gif);
	background-color: 	#F0A62F;
	background-position: 	top;
	background-repeat: 	repeat-x;
	border-bottom: 	1px solid #fff;
	color: #fff;
}

li {
	padding: 	0;
	margin: 	0;
	list-style: 	disc outside url(images/misc/li.gif);
}

ul {
	margin: 	0 10px 0 20px;
}

.screen {
	border: 	1px solid #ddd;
	text-align: 	center;
}

a img {
	border: 	0;
}

.even {
	background: #D9E7C2;
}

.odd {
	background: #FFFFFF;
}

/*	end sortable table */

.disabledImage {
	width: 20px;
	opactiy: 0.5;
	-moz-opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

.disabledImage img {
	filter: gray();
}

.editorCell {
	border-top: 1px solid #808080;
	text-align: left;
	vertical-align: baseline;
}

.row1	{ background-color: #fff; color: #000000;}
.row2	{ background-color: #C8DAA2; color: #000000;}
.row3	{ background-color: #DADDAD; color: #000000;}


#treeHolder {
	padding: 5px 10px 0px 10px;
	
}

#floater {
	display: none;
	position: absolute;
	width: 200px; 
	height: 44px;
	top: 28px;
	left: 4px;
	margin: 0px; 
	padding: 0px;
	background-color: 	#fff;
	border: 	1px solid #fff;
	border-left-color: ButtonHighlight;
	border-right-color: ButtonShadow;
	border-top-color: ButtonHighlight;
	border-bottom-color: ButtonShadow;
	z-index: 500;
}

.rootNode, .treeNode, .treeNodeHover, .treeNodeSelected, .emptyNode {
	font-size: 11px;
	color: #000;
	padding: 2px;
	margin: 0;
	cursor: pointer;
	width: auto;
}

.treeNodeHover {
	background-color: #DCDCDC;
	border: 1px solid #777;
	padding: 1px;
}

.treeNodeSelected {
	background-color: #D4E0B1;
	color: 	#000;
	border: 1px solid #777;
	padding: 1px;
}

.deletedNode {
	text-decoration: 	line-through;
	color: #333;
}

.unpublishedNode {
	color: #AE0000;
}

.publishedNode {
	color: #7A963B;
}

.emptyNode {
	color: #AAAAAA;
	cursor: default;
}

.notInMenuNode {
	color: #FFA204;
}


.protectedNode {
	color: #AE0000;
}


.disabledPlugin a {
	color: #aaa;
	text-decoration: line-through;	
}

/* grid style */
.grid {
	width: 100%;
	background-color: #FFFFFF;
	font-family: verdana,arial; 
	font-size: 11px;
	border: 1px solid silver;}
	
.gridHeader {
	color: #fff; 
	font-weight: bold;
	background-image: url('images/bg/button_dn.gif');
	background-color: Black;
	height: 25px;
	border: 1px solid #006400; }
	
.gridItem {
	background-color: #fff;
	padding: 3px; }
	
.gridAltItem {
	background-color: #eeeeee;
	padding: 3px; }

.gridRowIcon:hover {
	background-color:beige;}


	
/* search bar */
.searchbar {
	width: 100%;
	border: 1px solid silver;
	background-image: url('images/bg/srch_bg.gif');
	background-color: beige; }

.searchtext {
	height: 18px;
	padding: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid silver; }

.searchbutton {
	width: 22px;
	height: 18px;
	padding: 2px;
	text-decoration: none;
	border: 1px solid #e0e0e0; }
	
.searchbutton:hover {
	text-decoration: none;
	background-image: url('images/bg/button_dn.gif');}

.searchtoolbarbtn {
	height: 24px;
	padding-left: 2px;
	padding-top: 3px;
	padding-right: 2px;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-image: url('images/bg/srch_bg.gif');
	border: 1px solid #e0e0e0; }

.searchtoolbarbtn:hover {
	text-decoration: none;
	background-image: url('images/bg/button_dn.gif');
	border: 1px solid green; }

/* home page main links */
A.hometblink, A.hometblink:ACTIVE, A.hometblink:VISITED, A.hometblink:LINK
.hometblink {
	text-decoration: underline;
	color: #929292; 
 font-weight: bold; 
	}
	
A.hometblink:hover {
	text-decoration: underline;
	color: #9BB957;}
	
	/* accesscontrol.inc.php - manager login page 
-----------------------------------------------------*/
body#login {
    background: #f4f4f4;
    background-image: none;
}	

#mx_loginbox,
.loginLicense {
    width: 460px;
    margin: 70px auto 0;
    border: 5px solid #999;
    padding: 20px;
	background-color: #94B451;
}

#mx_logobox {
    float: left;
    margin-right: 15px;
}

#mx_loginArea {
    float: right;
    width: 325px;
}

h1.siteName {
	font-weight: bold;
	font-size: 18px;
	margin: 0 0 .5em;
	color: #fff;
	text-align: right;
}
.loginMessage {
    font-size: 9px;
    line-height: 1.4;
    margin-bottom: 1em;
}

img.loginCaptcha {
    border: 1px solid #039;
    width: 148px;
    height: 60px; 
}

#mx_loginbox label {
    display: block;
    font-weight: bold;
}
#mx_loginbox input {
    margin: 0 0 10px 0;
}
#mx_loginbox input.checkbox {
    float: left;
    clear: left;
    margin-right: 3px;
}
#mx_loginbox input.text {
    width: 300px;
}
#mx_loginbox input.login {
    float: right;
    clear: right;
    margin-right: 25px;
}
.loginLicense {
	background-color: #60605F;
	padding: 10px 20px;
	color: #fff;
	border: 1px solid #60605F;
	margin: 20px auto;
	font-size: 9px;
	
}
.loginLicense a {
	color: #94B451;
	font-size: 9px;
}

.notice {
	width: 100%;
	padding: 5px;
	border: 1px solid #eee;
	background-color: #F4F4F4;
	color: #707070;}

	/*contextmenu in editing modules*/
	.contextMenu {
	background: #fff url(images/bg/context.gif) repeat-y top left;
	margin: 0;
	padding: 0;
	border: 	1px solid #003399;
	border-left-color: #eaeaea;
	border-top-color: #eaeaea;
	border-right-color: #909090;
	border-bottom-color: #707070;
	position: absolute;
	z-index: 10000; }

.cntxMnuItem {
	background-image: url(images/_tx_.gif);
	cursor: pointer;
	color: #000;
	padding: 	3px 16px 3px 2px; }

.cntxMnuItemOver {
	cursor: pointer;
	color: 	#000;
	background: #C6D9A2 url(images/misc/buttonbar_gs.gif) repeat-x bottom left;
	padding: 	2px 15px 2px 1px;
	border: 	1px solid #fa0; /*#003399;*/
}

.cntxMnuItemDisabled {
	cursor: default;
	font: 	menu;
	padding: 	3px 16px 3px 2px;
	color: #111;
}
.cntxMnuItem IMG, .cntxMnuItemOver IMG, .cntxMnuItemDisabled IMG {
	margin-right: 8px;
}

.cntxMnuItem IMG, .cntxMnuItemDisabled IMG {
	filter: gray();
}

.cntxMnuSeparator {
	font-size:      	0;
	height:         	1px;
	background-color: 	Silver;
	overflow:       	hidden;
	margin: 3px 1px 3px 28px; }
/*end context*/

/*The topbar of manager with the admin icon*/	

#topbar {
	margin: 0;
	background: #000;
	color: #fff;
	padding: 10px 5px;

}
#topbar * {
    vertical-align: middle;
}
#topbar a:link{
   font-weight: bold;
	color: #A4C065;
	text-decoration:none;
}
#topbar a:Hover{
   font-weight: bold;
	color: #fff;
	text-decoration:underline;
}
#topbar a:visited{
   font-weight: bold;
	color: #A4C065;
	text-decoration:none;
}
#topbar a:visited:hover{
   font-weight: bold;
	color: #fff;
	text-decoration:underline;
}

#msgCounter, #newMail {
	padding-bottom: 4px;
}

#tocText {
	position: absolute;
	left: 3px;
	top: 50px;
	z-index: 1000;
}

.tocTextRTL {
	right: 3px;	
}

#tocText,
#buildText,
#workText { 
    font-weight: bold; 
    line-height: 12px;
    margin-right: 15px;
}
#buildText img,
#workText img { 
    margin-right: 5px;
}
#statusbar {
	position:absolute;
	right:0px;
	top:23px;
}

#supplementalNav {
    float: right;
    background: transparent;
    height:20px;
	 margin-top:-9px;
}


/* Top Navbar of snap in top menu bar layout*/
#Navcontainer {
	width: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	background: #686868 url(images/bg/buttonbar.gif) repeat-x top left;
} 

#divNav {
	height: 50px;
    width: 100%;
    background: transparent url(images/bg/buttonbar_gs.gif) repeat-x 0 25px;
}

ul#nav {
	 margin: 0;
	 padding: 0;
    height: 25px;
    width: 100%;
    position: absolute;
    overflow: visible !important
	 

}
#nav ul {
    display: none;
    height: 25px;
    position: relative;
    z-index: 500;
    margin: 0;
	padding: 0;
}

#nav li { 
    list-style-type: none;
    display: block;
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
}

#nav li a {
	color: #fff;
	height: 25px;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	line-height: 25px;
	white-space: nowrap;
	cursor: hand;
	padding: 5px 10px 5px;
	
}

#nav li ul li a {
    background: darkgreen;
    float: left;
    width: auto;
}

#nav a:hover {
	border: 1px solid darkgreen !important;
	border-bottom-width: 0 !important;
	padding: 6px 9px 6px;
	background: transparent url(images/bg/button_dn.gif) repeat-x 0px 0px;
}

#nav a:active {
   color: #000;
}

#nav li.active  {
	background: transparent url(images/bg/button_dn.gif) repeat-x left top;
}

#nav li.active a {
	font-weight: bold;
	text-decoration: none;
	height: 25px;
	position: relative;
	z-index: 999;
	padding: 0 9px 0 9px;
	border-bottom-width: 0 !important;
}

#nav li.active a:hover {
	height: 25px; 
    background: transparent url(images/bg/buttonbar_gs.gif) repeat-x top left !important;
    border-bottom-width: 0 !important;
    padding: 6px 8px 5px 8px;
}

#nav li.active ul.subnav {
    display: block;
    position: absolute;
    top: 25px;
    width: 100%;
    left: 0;
}

#nav li.active ul.subnav a {
	color: #fff;
	font-weight: normal;
	border: none;
	height: 25px;
	background: transparent url(images/bg/buttonbar_gs.gif) repeat-x 0 -1px;
	padding: 0 10px 0 10px;
}

#nav li.active ul.subnav a:hover {
	color: #fff;
	background: transparent url(images/bg/button_dn.gif) repeat-x top left !important;
	font-weight: normal;
	border-top-width: 0 !important;
	border-bottom-width: 0 !important;
	height: 25px;
	padding: 0 9px 0 9px;
}

#nav li.active ul.subnav a:active {
	color: #fff;
	background: transparent url(images/bg/buttonbar_gs.gif) repeat-x top left !important;
	font-weight: normal;
	border-top-width: 0 !important;
	border-bottom-width: 0 !important;
	height: 25px;
	padding: 0 9px 0 9px;
}
/* end top menu navbar */



/* Contextual Menu used in the Tree Menu
---------------------------------------------------------- */
#mx_contextmenu {
    position: absolute;
    height: auto;
    visibility: hidden;
    z-index:10000;
    width: 170px;
	background: #fff url(images/bg/context.gif) repeat-y top left;
	margin: 0;
	padding: 2px;
	border: 1px solid #fdfdfd;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	overflow: hidden;
	font: normal 11px/11px Verdana, Arial, sans-serif; }

#mx_contextmenu .menuLink {
	cursor: pointer;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	color: #222;
	padding: 3px 16px 3px 2px; }

#mx_contextmenu .menuLinkOver {
	background: #fff url(images/bg/buttonbar_gs.gif) repeat-x bottom left; 
	border: 1px solid #fdfdfd;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	color: White; }

#mx_contextmenu .menuLinkOver,
#mx_contextmenu .menuLinkDisabled {
	cursor: pointer;
	padding: 2px 15px 2px 1px;}

#mx_contextmenu .menuLinkDisabled {
	cursor: default;
	color: #787878; }

#mx_contextmenu .menuLink img, 
#mx_contextmenu .menuLinkOver img, 
#mx_contextmenu .menuLinkDisabled img {
	margin-right: 8px; }

#mx_contextmenu .menuLink img, 
#mx_contextmenu .menuLinkDisabled img {
	filter: gray(); }

#mx_contextmenu .menuLinkOver img { }

#mx_contextmenu #nameHolder {
   color: #fff;
	text-align: right;
	cursor: default;
	font-weight: bold; 	
	padding: 2px;
	margin-bottom: 2px;
	border: 1px solid #fdfdfd;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;	
	background: #fff url(images/bg/buttonbar_gs.gif) repeat-x top left;; }

#mx_contextmenu .seperator {
	font-size: 0;
	height: 1px;
	background-color: Silver;
	overflow: hidden;
	margin: 3px 1px 3px 28px; }
	

/* WebFX tabs... must remove these...
---------------------------------------------------------- */
.dynamic-tab-pane-control.tab-pane {
	position: relative;
	width: 100%;
}

.dynamic-tab-pane-control .tab-row .tab {
	font-family: Tahoma;
	color: #313131;
	font-weight: bold;
	font-size: 11px;
	cursor: pointer;
	display: inline;
	margin: 3px -3px 1px 5px;
	float: left;
	padding: 2px 15px 3px 15px;
	z-index: 1;
	position: relative;
	top: 0;
	background-position: 	top left;
	background-repeat: 	repeat-x;	
	background: #F5F5F5;
	border: 1px solid #fff;
	border-right: 1px solid #E4E4E4;
	border-bottom: 1px solid #E4E4E4;
	background: #fff url(images/bg/tab-bg.png) repeat-x top left;
   }

.dynamic-tab-pane-control .tab-row .tab.hover {
   color: #222;
	background: #fff;
	text-decoration: none; }

.dynamic-tab-pane-control .tab-row .tab.selected {
	color: #000;
	z-index: 3;
	top: 1px;
	background: #fff;
	border: 1px solid #e4e4e4;
	border-right-color: #c0c0c0;
	border-bottom-color: #c0c0c0; }

.dynamic-tab-pane-control .tab-row .tab span {
	font-family: Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #4B4B4B;
	font-weight: normal;
	text-decoration: none;
	}

.dynamic-tab-pane-control .tab-page {
	clear: both;
	background: #fff;
	border-top: 1px solid #F5F5F5;
	border: 1px solid #fff;
	z-index: 2;
	position: relative;
	top: -2px;
	font: Message-Box;
	padding: 10px;
}

.dynamic-tab-pane-control .tab-row {
	z-index: 1;
	white-space: nowrap;
}

.dynamic-tab-pane-control ul {
	padding-left: 10px;
	padding-right: 10px;
}

.dynamic-tab-pane-control li {
	padding-left:5px;
	padding-right:5px;
}
/* Tree buttons
---------------------------------------------------------- */
.treeButton {
	display:block;
    cursor: default;
    color: #000;
    border: 1px;
    border-bottom-color: #809c47;
    padding: 3px 5px;
    white-space: nowrap;
    vertical-align: middle;
}
.treeButton:hover {
    border: 1px solid #006400;
    padding: 2px 4px;

}

.treeButtonDisabled {
    cursor: default;
    border: 1px solid #006400;
    padding: 2px 4px;
    color: #777;
    border-width: 0;
}
/* WebFX cool buttons... must also remove these...
---------------------------------------------------------- */
.coolButton,
.coolButtonHover,
.coolButtonActiveHover,
.coolButtonActive,
.coolButtonActiveDisabled,
.coolButtonDisabled,
.coolButtonUpDisabled {
	cursor: 	default;
	color: #fff;
	border: 1px;
	border-bottom-color: #809C47;
	padding: 3px 5px 3px 5px;
	white-space: nowrap;
	vertical-align: middle;
	background-image: url(images/bg/button_up.gif);
	background-repeat: repeat-x;

}

/*.coolButton img {
	filter: green();
}*/

.coolButtonHover {
	border: 1px solid darkgreen;
	padding: 2px 4px 1px 4px;	
	height: 20px;
	background-image: url(images/bg/button_dn.gif);
	
}

.coolButtonActiveHover {
	border: 1px solid black;
	border-left-color: ButtonShadow;
	border-right-color: ButtonHighlight;
	border-top-color: ButtonShadow;
	border-bottom-color:ButtonHighlight;
	padding: 2px 3px 2px 5px;			
	
}

.coolButtonActive {
	border: 1px solid black;
	border-left-color: ButtonShadow;
	border-right-color: ButtonHighlight;
	border-top-color: ButtonShadow;
	border-bottom-color: ButtonHighlight;
	padding: 2px 3px 2px 5px;		
	
}

.coolButtonUpDisabled,
.coolButtonActiveDisabled,
.coolButtonDisabled {
	border: 1px solid #006400;
	padding: 2px 4px 2px 4px;
	color: #777;
	border-width: 	0px;
}

.coolButtonActiveDisabled {
	border: 1px solid #006400;
	padding: 0px 4px 3px 4px;
}

.coolButtonUpDisabled {

}

/* My latest build of mozilla crashed with the opacity */
.coolButtonUpDisabled img,
.coolButtonActiveDisabled img,
.coolButtonDisabled img {
    opacity: 0.5;
	-moz-opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

/* New Action Buttons
---------------------------------------------------------- */
.actionButtons a {
	color: #fff;
	border: 1px;
	border-bottom-color: #809C47;
	padding: 3px 5px 3px 5px;
	white-space: nowrap;
	vertical-align: middle;
	background-image: url(images/bg/button_up.gif);
	background-repeat: repeat-x;	
	display: block;
	text-decoration: none;
}

.actionButtons a:hover {
	border: 1px solid darkgreen;
	padding: 2px 4px 1px 4px;	
	height: 20px;
	background-image: url(images/bg/button_dn.gif);
}

.actionButtons a:active {
	border: 1px solid black;
	border-left-color: ButtonShadow;
	border-right-color: ButtonHighlight;
	border-top-color: ButtonShadow;
	border-bottom-color:ButtonHighlight;
	padding: 2px 3px 2px 5px;			
}

.actionButtons a.disabled {
	border: 1px solid #006400;
	padding: 0px 4px 3px 4px;
}

.actionButtons a.disabled img {
    opacity: 0.5;
	-moz-opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
/* Code textarea overrides :
---------------------------------------------------------- */
#ta, .tmplvars textarea {
    font-family: monospace !important;
}

/* New sortable table class
---------------------------------------------------------- */

.sortabletable {
	font: Icon;
	border: 0 solid ThreeDShadow;
	color: WindowText;
}

.sortabletable thead tr {
	height: 18px !important;
	background-image: 	url(images/bg/button_dn.gif);
	background-color: 	#97B553;
	background-position: 	top;
	background-repeat: 	repeat-x;
}

.sortabletable tr {
	background: #fff;
}

.sortabletable tr.even {
	background: #D9E7C2;
}

.sortabletable td, .sortabletable th {
	padding: 2px 5px;
}

.sortabletable th {
	text-align: left;
	cursor: pointer;
	color: #000;
}

.sortabletable th a {
	text-decoration: none;
	color: #000;
}

.sortabletable th:active {
	border-color: ButtonShadow ButtonHighlight 
	ButtonHighlight ButtonShadow;
	padding: 3px 4px 1px 6px;
}

/* Pagination table
---------------------------------------------------------- */
#max-display-records {
    margin:10px 0;
}
#pagination {
 margin: 10px 0;
}
#pagination ul {
    margin: 10px 0; 
    display: inline;
}
#pagination li {
    list-style: none;
    display: inline;
    width: 15px;
    margin: 0 0 0 1px;
}
#pagination li a {
    padding: 3px;
    border: 1px solid #D9E7C2;
    text-decoration: none;
    color: #000;
}
#pagination li.currentPage a, #pagination li a:hover {
    color: #060;
    border: 1px solid #060;
}
