.dynamic-tab-pane-control.tab-pane {
	position:	relative;
	width:		100%;
}

.dynamic-tab-pane-control .tab-row .tab {
	font:							Tahoma;
	color:							#313131;
	font-weight: bold;
	font-size:						11px;
	cursor:							pointer;
	display:						inline;
	margin:							3px -3px 1px 5px;
	float:							left;
	padding:						2px 15px 3px 15px;
	z-index:						1;
	position:						relative;
	top:							0;
	background-position: 			top left;
	background-repeat: 				repeat-x;	
	background:						#F5F5F5;
	border: 1px solid #fff;
	border-right:							1px solid #E4E4E4;
	border-bottom:							1px solid #E4E4E4;
	background: #fff url(images/tab-bg.png) repeat-x top left;
   }

.dynamic-tab-pane-control .tab-row .tab.hover {
   color:                      #222;
	background:						white;
	text-decoration: none;
}

.dynamic-tab-pane-control .tab-row .tab.selected {
	color: #000;
	z-index:		3;

	top:			1px;
	background:						White;
	border: 1px solid #e4e4e4;
	border-right-color: #c0c0c0;
	border-bottom-color: #c0c0c0;
	
}

.dynamic-tab-pane-control .tab-row .tab span {
	font:							Tahoma;
	font-weight: bold;
	font-size:						11px;
	color:							#4B4B4B;
	font-weight:					normal;
	text-decoration:				none;
}

.dynamic-tab-pane-control .tab-page {
	clear:			both;
	background:		white;
	border-top: 1px solid #F5F5F5;
	border:			1px solid White;
	z-index:		2;
	position:		relative;
	top:			-2px;
	font:			Message-Box;
	padding:		10px;
}

.dynamic-tab-pane-control .tab-row {
	z-index:		1;
	white-space:	nowrap;
}
